<!-- <div id="list-example" class="list-group  ">
  <a class="list-group-item b list-group-itemM list-group-item-action" [routerLink]="'cv'" [fragment]="'list-item-1'"><i
      class="fa-solid fa-circle-info"></i></a>
  <a class="list-group-item b list-group-itemM list-group-item-action" [routerLink]="'cv'" [fragment]="'list-item-2'"><i
      class="fa-solid fa-vial"></i></a>
  <a class="list-group-item b list-group-itemM list-group-item-action" [routerLink]="'cv'" [fragment]="'list-item-3'"><i
      class="fa-solid fa-building-columns"></i></a>
  <a class="list-group-item b list-group-itemM list-group-item-action " [routerLink]="'cv'"
    [fragment]="'list-item-4'"><i class="fa-solid fa-brain"></i></a>
</div> -->
