<div *ngFor="let i of info" class="row bg-ddark">
  <!-- #region card addsins -->

  <div *ngIf="i.name === 'adds'">
    <div *ngFor="let a of i.info" class="col-md-12">
      <img
        [style.width]="a.img.width"
        [style.height]="a.img.height"
        [lazyLoad]="a.img.src"
        [defaultImage]="
          'https://www.spinutech.com/webres/Image/blog/ImageExtensionsBlog-1.jpeg'
        "
      />
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region carft info  -->

  <div *ngIf="i.name === 'card-info'" class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <!-- #endregion -->

  <!-- #region card-w1-h1-v2     -->

  <div *ngIf="i.name === 'card-w1-h1-v2'" id="{{ i.id }}">
    <div
      *ngFor="let c of i.info"
      [routerLink]="['/recruteurs/details-recruteur', c.id]"
      class="mb-2 row w1_h1_card"
    >
      <div class="col-auto">
        <img
          class="w1-h1-img"
          [lazyLoad]="c.img.src"
          [defaultImage]="'assets/images/metier.jpg'"
          alt="{{ c.img.alt }}"
          [style]="c.img.style"
        />
      </div>
      <div class="col-auto all-the-w1-h1-detail d-flex" [style]="">
        <h1 class="w1-h1-tiltel" [style]="">
          {{ c.title | titlecase | translate }}
        </h1>
        <h2 class="w1-h1-sub-tiltel" [style]="">
          {{ c.sub_tutle | titlecase | translate }}
        </h2>
        <span class="w1-h1-detail" [style]="">
          {{ 'ctiy' | titlecase | translate }}:
          {{ c.ctiy | titlecase | translate }}
        </span>
        <span *ngIf="c === ''" class="w1-h1-detail" [style]="">
          {{ 'ctiy' | titlecase | translate }}:
          {{ 'tanger' | titlecase | translate }}
        </span>
      </div>
    </div>
  </div>

  <!-- #endregion -->

  <!-- #region card  -->

  <div *ngIf="i.name === 'card-w3-h3-v2'" id="{{ i.id }}">
    <div class="text-center mb-2-8 mb-lg-6">
      <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">
        Why choose
        <strong class="text-primary font-weight-700">Us</strong>
      </h2>
      <span>The trusted source for why choose us</span>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
        <div class="pr-md-3">
          <div class="text-center text-sm-right mb-2-9">
            <div class="mb-4">
              <img
                src="https://via.placeholder.com/80x80/FFB6C1/000000"
                alt="..."
                class="rounded-circle"
              />
            </div>
            <h4 class="sub-i">Residential Cleaning</h4>
            <p class="display-30 mb-0">
              Roin gravida nibh vel velit auctor aliquetenean sollicitudin,
              lorem qui bibendum auctor.
            </p>
          </div>
          <div class="text-center text-sm-right">
            <div class="mb-4">
              <img
                src="https://via.placeholder.com/80x80/87CEFA/000000"
                alt="..."
                class="rounded-circle"
              />
            </div>
            <h4 class="sub-i">Commercial Cleaning</h4>
            <p class="display-30 mb-0">
              Gravida roin nibh vel velit auctor aliquetenean sollicitudin,
              lorem qui bibendum auctor.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <div class="why-choose-center-image">
          <img
            src="https://via.placeholder.com/350x350/FF7F50/000000"
            alt="..."
            class="rounded-circle"
          />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pl-md-3">
          <div class="text-center text-sm-left mb-5">
            <div class="mb-4">
              <img
                src="https://via.placeholder.com/80x80/8A2BE2/000000"
                alt="..."
                class="rounded-circle"
              />
            </div>
            <h4 class="sub-i">Washing services</h4>
            <p class="display-30 mb-0">auctor.</p>
          </div>

          <div class="text-center text-sm-left">
            <div class="mb-4">
              <img
                src="https://via.placeholder.com/80x80/20B2AA/000000"
                alt="..."
                class="rounded-circle"
              />
            </div>
            <h4 class="sub-i">Carpet cleaning</h4>
            <p class="display-30 mb-0">
              Vel proin gravida nibh velit auctor aliquetenean sollicitudin,
              lorem qui bibendum auctor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region card card-w2-h2-v-time-line -->
  <div *ngIf="i.name === 'card-w2-h2-v-time-line'" id="{{ i.id }}" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <img
                class="img-fluid rounded-circle"
                style="width: 70px;"
                src="https://bootdey.com/img/Content/avatar/avatar6.png"
                alt="dashboard-user"
              />
            </div>
            <div class="col">
              <h5>John Doe</h5>
              <span>UX Designer</span>
            </div>
          </div>
          <ul class="task-list">
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <img
                class="img-fluid rounded-circle"
                style="width: 70px;"
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="dashboard-user"
              />
            </div>
            <div class="col">
              <h5>User Doe</h5>
              <span>UX Designer</span>
            </div>
          </div>
          <ul class="task-list">
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <img
                class="img-fluid rounded-circle"
                style="width: 70px;"
                src="https://bootdey.com/img/Content/avatar/avatar6.png"
                alt="dashboard-user"
              />
            </div>
            <div class="col">
              <h5>John Doe</h5>
              <span>UX Designer</span>
            </div>
          </div>
          <ul class="task-list">
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
            <li>
              <i class="task-icon bg-c-green"></i>
              <h6>
                Anton Knudsen
                <span class="float-right text-muted">14 MAY</span>
              </h6>
              <p class="text-muted">Lorem ipsum is dolorem…</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region card card-w1-h2-v-hot -->
  <div
    *ngIf="i.name === 'card-w1-h2-v-hot'"
    id="{{ i.id }}"
    class="card-body-card-w1-h2-v-hot"
  >
    <div class="row body-card-w1-h2-v-hot card-body-card-w1-h2-v-hot">
      <div
        [style.border]="i.border"
        class="card-card-w1-h2-v-hot text-center text-center-card-w1-h2-v-hot mb-3"
      >
        <div class="py-5 px-4">
          <img
            [lazyLoad]="i.img.src"
            [defaultImage]="'assets/images/forum-default.jpg'"
            alt="{{ i.img.alt }}"
            [style.width]="i.img.width"
            [style.height]="i.img.height"
            class="img-fluid mb-4"
          />
          <h3 class="fs-6 text-truncate">
            <a
              href="#"
              [ngStyle]="i.title_style"
              class="a-card-w1-h2-v-hot stretched-link text-reset-card-w1-h2-v-hott"
            >
              {{ i.title }}
            </a>
          </h3>

          <div class="row">
            <p>
              {{ i.p }}
            </p>
          </div>
        </div>
        <div
          [style.border]="i.hot.border"
          class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center text-center-card-w1-h2-v-hot"
        >
          <span class="d-block">{{ i.hot.one }}</span>
          <span class="d-block">{{ i.hot.tow }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region card card-w2-h2-v-3  -->
  <div *ngIf="i.name === 'card-w2-h2-v-3'" id="{{ i.id }}" class="col my-3">
    <div class="card border-hover-primary hover-scale">
      <div class="card-body">
        <div class="text-primary mb-5">
          <svg
            width="60"
            height="60"
            viewBox="0 0 24 24"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24"></rect>
              <path
                d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
                fill="currentColor"
                opacity="0.3"
              ></path>
              <path
                d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
                fill="currentColor"
              ></path>
              <rect
                fill="currentColor"
                opacity="0.3"
                x="10"
                y="9"
                width="7"
                height="2"
                rx="1"
              ></rect>
              <rect
                fill="currentColor"
                opacity="0.3"
                x="7"
                y="9"
                width="2"
                height="2"
                rx="1"
              ></rect>
              <rect
                fill="currentColor"
                opacity="0.3"
                x="7"
                y="13"
                width="2"
                height="2"
                rx="1"
              ></rect>
              <rect
                fill="currentColor"
                opacity="0.3"
                x="10"
                y="13"
                width="7"
                height="2"
                rx="1"
              ></rect>
              <rect
                fill="currentColor"
                opacity="0.3"
                x="7"
                y="17"
                width="2"
                height="2"
                rx="1"
              ></rect>
              <rect
                fill="currentColor"
                opacity="0.3"
                x="10"
                y="17"
                width="7"
                height="2"
                rx="1"
              ></rect>
            </g>
          </svg>
        </div>
        <h6 class="font-weight-bold mb-3">Marketing Automation</h6>
        <p class="text-muted mb-0">
          Embed holistics charts directly to your application
        </p>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region card-w3-h3-v-contact -->
  <div *ngIf="i.name === 'card-w3-h3-v-contact'" id="{{ i.id }}" class="row">
    <div class="col-lg-7">
      <div class="contact">
        <form
          class="form"
          name="enq"
          method="post"
          action="contact.php"
          onsubmit="return validation();"
        >
          <div class="row">
            <div class="form-group col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Name"
                required="required"
              />
            </div>
            <div class="form-group col-md-6">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
                required="required"
              />
            </div>
            <div class="form-group col-md-12">
              <input
                type="text"
                name="subject"
                class="form-control"
                placeholder="Subject"
                required="required"
              />
            </div>
            <div class="form-group col-md-12">
              <textarea
                rows="6"
                name="message"
                class="form-control"
                placeholder="Your Message"
                required="required"
              ></textarea>
            </div>
            <div class="col-md-12 text-center">
              <button
                type="submit"
                value="Send message"
                name="submit"
                id="submitButton"
                class="btn btn-contact-bg"
                title="Submit Your Message!"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="single_address">
        <i class="fa fa-map-marker"></i>
        <h4>Our Address</h4>
        <p>3481 Melrose Place, Beverly Hills</p>
      </div>
      <div class="single_address">
        <i class="fa fa-envelope"></i>
        <h4>Send your message</h4>
        <p>Info@example.com</p>
      </div>
      <div class="single_address">
        <i class="fa fa-phone"></i>
        <h4>Call us on</h4>
        <p>(+1) 517 397 7100</p>
      </div>
      <div class="single_address">
        <i class="fa fa-clock-o"></i>
        <h4>Work Time</h4>
        <p>
          Mon - Fri: 08.00 - 16.00.
          <br />
          Sat: 10.00 - 14.00
        </p>
      </div>
    </div>
  </div>

  <!-- #endregion -->

  <!-- #region card-w2-h1-v2 -->
  <div
    *ngIf="i.name === 'card-w2-h1-v2'"
    id="{{ i.id }}"
    class="main-container"
  >
    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </h2>
      <p class="card__apply">
        <a class="card__link" href="#">
          Apply Now
          <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region reicritar -->
  <div *ngIf="i.name === 'reicritar'">
    <div *ngFor="let c of i.info" id="{{ i.id }}" class="card-recruiter">
      <div class="header-card mb-3 position-relative">
        <img
          [lazyLoad]="c.imageBg"
          [defaultImage]="'assets/images/bg-recruiter'"
          class="img-bg-card"
          alt="Image Bg Recruiter"
        />
        <div class="logo-card-container">
          <img
            [lazyLoad]="c.logo"
            [defaultImage]="'assets/images/bg-recruiter'"
            class="logo-card"
            alt="Logo Recruiter"
          />
        </div>
      </div>
      <div class="contain">
        <div class="mb-1">
          <i class="fa-regular fa-folder me-2"></i>
          <span class="small">{{ c.type }}</span>
        </div>
        <div class="mb-1">
          <i class="fa-regular fa-user me-2"></i>
          <span class="small">{{ c.salir }}</span>
        </div>
        <div class="mb-1">
          <i class="fa-regular fa-map me-2"></i>
          <span class="small">{{ c.city }}</span>
        </div>

        <div class="body-card mt-3">
          <div class="card-right">
            <h5>{{ c.title }}</h5>
            <div class="info-small text-secondary mb-2">
              <div class="">
                <p>{{ c.caption }}</p>
              </div>
            </div>
          </div>
          <div class="footer-card"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- #endregion -->

  <!-- #region mini compani -->

  <!-- #endregion -->
</div>

<!--
          <img
           *ngIf="i.img"
           [ngStyle]="i.img.style"
           [lazyLoad]="i.img.src"
           [defaultImage]="i.img.defaultImage"
           [style.width]="i.img.width"
           [style.height]="i.img.height"
           alt="{{i.img.alt}}"
           /> -->

<!-- paragraph -->

<!-- <p *ngIf="i.p" [ngStyle]="i.p.style">
                          {{i.p.text}}
                        </p> -->
