<div class="top-header-quiz">
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-evenly h-100">
      <h2 class="mb-5">{{ (quiz?.translations)['fr']?.__titre }}</h2>
      <h4 class="mb-5">
        {{ 'resultat.quest' | translate }} {{ questionNbr + 1 }} /
        {{ quiz.question_quiz.length }}
      </h4>
    </div>
  </div>
</div>
<div class="body-quiz-detail">
  <div class="section-recruteur container">
    <div class="text-center" *ngIf="currentQuestion?.image">
      <img
        [defaultImage]="'assets/images/quiz.jpg'"
        [lazyLoad]="currentQuestion?.image"
        class="img-fluid quiz-img"
        alt="post"
      />
    </div>
    <h4 class="my-3">
      {{ (currentQuestion?.translations)['fr']?.__label_question }} &nbsp;({{
        currentQuestion.valeur_evaluation
      }}&nbsp;{{ 'resultat.points' | translate }})
    </h4>

    <mat-list *ngIf="currentQuestion.type == 'simple'">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group my-2"
        [(ngModel)]="choix"
      >
        <mat-list-item *ngFor="let rep of currentQuestion?.reponse_quiz">
          <mat-radio-button
            class="example-radio-button my-1 j-description j-resume-lg"
            [value]="rep"
          >
            &nbsp;{{ (rep?.translations)['fr']?.__texte_reponse }}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>
    <mat-list *ngIf="currentQuestion.type == 'multiple'">
      <mat-list-item
        *ngFor="let rep of currentQuestion?.reponse_quiz; let i = index"
      >
        <mat-checkbox (change)="onChange($event)" [value]="rep">
          {{ (rep?.translations)['fr']?.__texte_reponse }}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>

    <div class="my-3">
      <button class="btn btn-outline-dark" (click)="check()">
        {{ 'globale.suivant' | translate }}
      </button>
    </div>
  </div>
</div>
