.quiz-img {
  text-align: center;
  height: 250px;
}

.top-header-quiz {
  width: 100%;
  position: relative;
  //   background-color: #220bab;
  background: linear-gradient(90deg, rgb(31, 112, 193), #220bab);

  padding: 3em 0 calc(5em + 70px);
  color: #fff;
}
.body-quiz-detail {
  top: -70px;
  position: relative;
}
