<main class="bg-light">
  <div class="container">
    <div class="main-body">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
      </nav>
      <div class="row gutters-sm">
        <div class="col-md-3 mb-3 ">
          <left-side-bar></left-side-bar>
        </div>
        <div class="col-md-8" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">
          <main-bar></main-bar>
        </div>
        <div class="col-md-1">



                  <right-side-bar></right-side-bar>


        </div>
      </div>
    </div>
  </div>


</main>

