<main class="bg-light">
  <div class="container">
    <div class="main-body">
      <!-- Breadcrumb -->
          <Path-Nav></Path-Nav>
      <div class="row gutters-sm">
        <div class="col-md-3 mb-3 ">
            <SideBar-index></SideBar-index>
        </div>
        <div class="col-md-8" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">
          <herobar-index></herobar-index>
        </div>
        <div class="col-md-1">
          <Assistant-Bar-index> </Assistant-Bar-index>
        </div>
      </div>
    </div>
  </div>
</main>

