

.form-control {
  height: 55px !important;
}

.form-select {
  color: rgb(148, 148, 148);
    height: 55px !important;

}
.addbtn{
 margin: auto;
 width: 300px;
 margin-bottom: 50px;
 background-color: rgb(250, 195, 13);
}






