<div class="container mt-5">


  <div class="row col-12">

    <condidats-card
      *ngFor="
        let condidat of condidatsList
          | paginate: { itemsPerPage: 8, currentPage: paginate }
      "


      [routerLink]="['/candidats/details-recruteur/presentation']"
      class="col-md-3 col-sm-3 col-xs-3 col-lg-3 mb-3"
      [available]="condidat.available"
      [img]=" condidat.img"
      [name]="condidat.name"
      [age]="condidat.age"
      [address]="condidat.address"
      [tital_job]="condidat.tital_job"
      [years_of_ex]="condidat.years_of_ex"
      [ed_lavel]="condidat.ed_lavel"
      [tag]="condidat.tag"
    ></condidats-card>

    <pagination-controls
      class="text-center"
      (pageChange)="paginate = $event"
    ></pagination-controls>
  </div>








</div>
