<div class="row mb-3 Edcucation" id="list-item-3">
  <div class="col-sm-12">
    <div class="card">

      <div class="card-body">
        <div class="herder-top-card">

          <h5 class="col"> <i class="fa-solid fa-building-columns"></i> {{'candidat.t.ed'|translate}} </h5>
          <div (click)="showEdcucation()" class=" icons "></div>

        </div>
        <section class="timeline_area section_padding_130">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center">
                  <h3>{{'candidat.t.ed'|translate}}</h3>
                  <h6>A brief stories of our 2 years company journey</h6>
                  <div class="line"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                  <!-- Single Timeline Content-->
                  <div class="single-timeline-area">
                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      <p>Near Future</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Updated 5.0</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Fixed bug</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
                          style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Reach 1k Users</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Timeline Content-->
                  <div class="single-timeline-area">
                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      <p>2020</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Updated 4.4.0</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Fixed bug</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Timeline Content-->
                  <div class="single-timeline-area">
                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      <p>2019</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Updated 4.0</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Fixed bug</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
                          style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Reach 500 Users</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
            <Certificat></Certificat>
      </div>


    </div>

  </div>
<div class="col-sm-1"></div>
</div>




















<p-dialog header="Header" [(visible)]=" Edcucation" [style]="{width: '50vw'}">
  <h1>Edcucation</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)=" Edcucation=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
