<div class="container">
  <div class="section-recruteur mb-3">
    <h4>{{ 'globale.details_theme' | translate }}</h4>
  </div>
  <div class="row">
    <div class="my-2 col-md-9">
      <div class="section-recruteur col-12 mb-3">
        <div class="row">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="row col-lg-12">
                <div class="flexible w-100">
                  <img
                    [defaultImage]="'assets/images/forum-default.jpg'"
                    style="object-fit: contain; width: 100%; max-height: 250px;"
                    class="img-fluid logoAnnuaire"
                    [lazyLoad]="theme?.image_theme"
                    alt=""
                  />

                  <div class="col-12 border-product my-3">
                    <aside class="flex-aside no-printable">
                      <h3 class="j-title-sm">
                        {{ 'annuaire.partager' | translate }}
                      </h3>

                      <ul class="flex-inline">
                        <li>
                          <a
                            (click)="incrementerPartage()"
                            href="https://web.facebook.com/"
                            target="_blank"
                          >
                            <i
                              style="color: #3b5998;"
                              class="fa-brands fa-facebook"
                              aria-hidden="true"
                            ></i>
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="incrementerPartage()"
                            href="https://www.instagram.com/"
                            target="_blank"
                            style="color: #f56040;"
                          >
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                        </li>

                        <li>
                          <a
                            (click)="incrementerPartage()"
                            href="https://fr.linkedin.com/"
                            target="_blank"
                          >
                            <i
                              style="color: #0e76a8;"
                              class="fa-brands fa-linkedin"
                              aria-hidden="true"
                            ></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://mail.google.com/" target="_blank">
                            <i
                              style="color: #db4a39;"
                              class="fa fa-envelope-o"
                              aria-hidden="true"
                            ></i>
                          </a>
                        </li>
                      </ul>
                    </aside>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="product-right">
                <div class="title1">
                  <h2 class="j-title-lg blue-color">
                    {{ theme?.designation_theme }}
                  </h2>
                </div>
                <div class="product-description border-product pt-0">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item j-resume-lg mt-2"
                      *ngIf="theme?.responsable_theme"
                    >
                      <i class="fa-regular fa-user"></i>
                      &nbsp;{{ 'detail_forum.par' | translate }}
                      :
                      {{ theme.responsable_theme }}
                    </li>
                    <li
                      class="list-group-item j-resume-lg"
                      *ngIf="theme.ref_responsable_theme"
                    >
                      <i class="fa-solid fa-asterisk"></i>

                      &nbsp;{{ 'ajouter_forum.ref_resp' | translate }}
                      :
                      {{ theme.ref_responsable_theme }}
                    </li>
                    <li
                      class="list-group-item j-resume-lg"
                      *ngIf="forum.date_ouverture"
                    >
                      <i class="fa-regular fa-calendar pr-3"></i>
                      &nbsp;{{ 'detail_forum.le' | translate }}
                      :
                      {{ forum.date_ouverture | date: 'medium' }}
                    </li>
                    <li
                      class="list-group-item j-resume-lg"
                      *ngIf="forum.date_cloture"
                    >
                      <i class="fa-regular fa-calendar pr-3"></i>
                      &nbsp;{{ 'detail_forum.le' | translate }}
                      :
                      {{ theme.date_cloture | date: 'medium' }}
                    </li>

                    <li class="list-group-item j-resume-lg">
                      <i class="fa fa-users pr-1" aria-hidden="true"></i>
                      &nbsp;{{ 'ajout.nbrP' | translate }}

                      &nbsp;:
                      <span>{{ theme?.nbre_participants }}</span>
                    </li>

                    <li class="list-group-item j-resume-lg">
                      <i class="fa fa-comment pr-3" aria-hidden="true"></i>
                      &nbsp;{{ 'correction.ech' | translate }}

                      :
                      <span>({{ theme?.nbre_echanges }})</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="">
                <div class="title1">
                  <h3 class="py-2 j-title-lg blue-color">
                    {{ 'adress.description' | translate }}
                  </h3>
                </div>
                <p class="j-description j-resume-lg">
                  {{ theme.descriptif_theme }}
                </p>
              </div>
            </div>

            <div class="row col-lg-12">
              <div class="col-md-9 col-sm-12">
                <div class="m-0">
                  <div id="participations" style="max-height: 600px;">
                    <div class="title1">
                      <h2 class="py-2 j-title-lg blue-color">
                        {{ 'forum.participants' | translate }}
                      </h2>
                    </div>
                    <div
                      class="j-description j-resume-lg"
                      *ngIf="participations_theme?.length == 0"
                    >
                      {{ 'temoigne.aucun_info' | translate }}
                    </div>
                    <div
                      class="row"
                      *ngFor="let p of participations_theme"
                      style="
                        border-bottom: #ddd 1px solid;
                        padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      <div
                        class="col-sm-2 col-2 col-md-1"
                        style="padding-right: 0;"
                      >
                        <img
                          [lazyLoad]="p?.photo"
                          [defaultImage]="'assets/images/user.png'"
                          style="border-radius: 100%; width: 100%;"
                        />
                      </div>
                      <div class="col-sm-10 col col-10 col-md-11">
                        <span
                          class="rtlFR"
                          style="
                            color: black;
                            font-weight: bolder;
                            font-size: small;
                          "
                        >
                          {{ p?.nom_participant }}
                        </span>
                        <p
                          style="
                            padding: 10px 0px;
                            color: black;
                            max-height: 60px;
                            overflow-y: auto;
                          "
                        >
                          {{ p?.message_Participation }}
                        </p>
                        <span class="pull-right rtlFL" style="color: gray;">
                          {{
                            p?.date_Heure_Participation
                              | date: 'medium':'+0200':'fr'
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="button" (click)="open(participer)">
                  <button
                    class="btn btn-info pull-right rtlFL"
                    [disabled]="disableBtn"
                  >
                    {{ 'participer' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 col-md-3">
      <div class="section-recruteur col-12"></div>
    </div>
  </div>
</div>
<ng-template #participer let-modal>
  <div class="modal-header">
    <h2 class="j-title-lg blue-color" id="modal-basic-title">
      {{ 'deta.forum' | translate }}
    </h2>
    <button
      type="button"
      (click)="modal.dismiss('Cross click')"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="register-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="theme-card">
              <form
                class="theme-form"
                [formGroup]="participation"
                (ngSubmit)="sendParticipation()"
              >
                <div class="form-row">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="review">
                          {{ 'deta.nom_pre' | translate }}
                        </label>
                        <input
                          type="text"
                          formControlName="nom"
                          class="form-control"
                          id="email"
                          placeholder="{{ 'deta.ecrire' | translate }}"
                          required=""
                          [ngClass]="{
                            'is-invalid':
                              participation.get('nom')?.touched &&
                              participation.get('nom')?.invalid
                          }"
                        />
                        <div
                          *ngIf="
                            participation.get('nom')?.touched &&
                            participation.get('nom')?.invalid
                          "
                          class="invalid-feedback mb-2"
                        >
                          <div
                            *ngIf="participation.get('nom')?.errors?.['required']"
                          >
                            {{ 'deta.champ_oblig' | translate }}
                          </div>
                          <div
                            *ngIf="participation.get('nom')?.errors?.['minlength']"
                          >
                            {{ 'deta.champ_3' | translate }}
                          </div>
                          <div
                            *ngIf="participation.get('nom')?.errors?.['pattern']"
                          >
                            {{ 'deta.champ_lettre' | translate }}
                          </div>
                          <div
                            *ngIf="participation.get('nom')?.errors?.['maxlength']"
                          >
                            {{ 'contact.champ_30' | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="review">
                          {{ 'form.email' | translate }}
                        </label>
                        <input
                          type="text"
                          formControlName="email"
                          class="form-control"
                          id="email"
                          placeholder="{{ 'form.exp_mail' | translate }}"
                          required=""
                          [ngClass]="{
                            'is-invalid':
                              participation.get('email')?.touched &&
                              participation.get('email')?.invalid
                          }"
                        />
                        <div
                          *ngIf="
                            participation.get('email')?.touched &&
                            participation.get('email')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="participation.get('email')?.errors?.['required']"
                          >
                            {{ 'form.champ_oblig' | translate }}
                          </div>
                          <div
                            *ngIf="participation.get('email')?.errors?.['email']"
                          >
                            {{ 'form.mail_valid' | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="review">
                          {{ 'form.titre' | translate }}
                        </label>
                        <input
                          type="text"
                          formControlName="titre"
                          class="form-control"
                          id="email"
                          placeholder="{{ 'form.exp_titre' | translate }}"
                          required=""
                        />
                      </div>
                      <div class="col-md-6">
                        <label for="review">
                          {{ 'deta.indic' | translate }}
                        </label>
                        <input
                          type="text"
                          formControlName="indicateur"
                          class="form-control"
                          id="email"
                          placeholder="{{ 'deta.ecri_indic' | translate }} "
                          required=""
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12">
                        <label for="review">
                          {{ 'form.message' | translate }}
                        </label>
                        <textarea
                          class="form-control"
                          formControlName="message"
                          [ngClass]="{
                            'is-invalid':
                              participation.get('message')?.touched &&
                              participation.get('message')?.invalid
                          }"
                          placeholder="{{ 'form.message' | translate }}"
                          id="exampleFormControlTextarea1"
                          rows="3"
                        ></textarea>
                        <div
                          *ngIf="
                            participation.get('message')?.touched &&
                            participation.get('message')?.invalid
                          "
                          class="invalid-feedback mb-2"
                        >
                          <div
                            *ngIf="participation.get('message')?.errors?.['required']"
                          >
                            {{ 'form.champ_oblig' | translate }}
                          </div>
                          <div
                            *ngIf="
                              participation.get('message')?.errors?.['minlength']
                            "
                          >
                            {{ 'form.champ_10' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="button my-3">
                      <button class="btn btn-info pull-right rtlFL">
                        {{ 'form.enregistrer' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
