<form [formGroup]="achievement_from" (ngSubmit)="save_achievement_from()">

  <div class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label" for="achievement_from_achievement_date_input">
        {{ "achievement_from_achievement_date_input" | translate }}
      </label>
      <input class="form-control" id="achievement_from_achievement_date_input" type="date"
        formControlName="achievement_from_achievement_date_input" name="achievement_from_achievement_date_input" [ngClass]="{
            'is-invalid':
              achievement_from.get('achievement_from_achievement_date_input')?.touched &&
              achievement_from.get('achievement_from_achievement_date_input')?.invalid
          }" />
      <div *ngIf="
            achievement_from.get('achievement_from_achievement_date_input')?.touched &&
            achievement_from.get('achievement_from_achievement_date_input')?.invalid
          " class="invalid-feedback">
        <div *ngIf="achievement_from.get('achievement_from_achievement_date_input')?.errors?.['required']">
          {{ "achievement_from_achievement_date_input not valid" | translate }}
        </div>
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label class="form-label" for="achievement_from_achievement_titale_input">
        {{ "form.nom" | translate }}
      </label>
      <input class="form-control" id="achievement_from_achievement_titale_input" type="text"
        placeholder="{{ 'form.exp_nom' | translate }}" [ngClass]="{
            'is-invalid':
              achievement_from.get('achievement_from_achievement_titale_input')
                ?.touched &&
              achievement_from.get('achievement_from_achievement_titale_input')?.invalid
          }" formControlName="achievement_from_achievement_titale_input" name="achievement_from_achievement_titale_input" />
      <div *ngIf="
            achievement_from.get('achievement_from_achievement_titale_input')
              ?.touched &&
            achievement_from.get('achievement_from_achievement_titale_input')?.invalid
          " class="invalid-feedback mb-2">
        <div *ngIf="achievement_from.get('achievement_from_achievement_titale_input')?.errors?.['required']">
          {{ "form.champ_oblig" | translate }}
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-12 mb-3">
      <label for="achievement_from_achievement_discription_input">{{ "form.about" | translate }}</label>
      <textarea class="form-control mt-2" placeholder="Leave a comment here" style="height: 40px"
        id="achievement_from_achievement_discription_input" placeholder="{{ 'form.exp_nom' | translate }}" [ngClass]="{
                  'is-invalid':
                    achievement_from.get('achievement_from_achievement_discription_input')?.touched &&
                    achievement_from.get('achievement_from_achievement_discription_input')?.invalid
                }" formControlName="achievement_from_achievement_discription_input"
        name="achievement_from_achievement_discription_input"
        [(ngModel)]="achievement_from_achievement_discription_input_value">

                    <div *ngIf="
                                  achievement_from.get('achievement_from_achievement_discription_input')?.touched &&
                                  achievement_from.get('achievement_from_achievement_discription_input')?.invalid
                                " class="invalid-feedback mb-2">
                      <div *ngIf="achievement_from.get('achievement_from_achievement_discription_input')?.errors?.['required']">
                        {{ "form.champ_oblig" | translate }}
                      </div>
                    </div>

       </textarea>
    </div>
</div>

<div class="row">

  <button type="button" class="btn btn-warning px-5 addbtn  ">
    <i class="fa-solid fa-circle-plus"></i>
    add
  </button>

</div>







  <div class="modal-footer">
    <div class="row">
      <button type="submit" class="btn btn-info">
        save
      </button>
    </div>

  </div>
</form>
