<div class="container">
  <div class="section-recruteur mb-3">
    <h4>List des Blogeurs</h4>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="section-recruteur">
        <div class="row">
          <app-card-blogueur
            [routerLink]="['/blog/details-blogeur']"
            class="col-md-4 mb-3"
            *ngFor="let membre of listBlogueurs"
            [nom]="membre.nom"
            [prenom]="membre.prenom"
            [fonction]="membre.fonction"
            [resume]="membre.resume"
            [image]="membre.image"
          ></app-card-blogueur>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="section-recruteur"></div>
    </div>
  </div>
</div>
