

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

















<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-content">
  <div class="modal-header">

    <button type="button" class="close d-flex align-items-center justify-content-center" aria-label="Close"
      (click)="d('Cross click')">
      <i class="fa-solid fa-xmark"></i>
    </button>

  </div>
  <div class="row no-gutters">
    <div class="col-md-6 d-flex">
      <div class="modal-body p-5 img d-flex color-1 text-center d-flex align-items-center">
        <div class="text w-100">
          <i class="fa-solid fa-user"></i>
          <h5>Plan your activities and control your progress online</h5>
          <div class="icon">
            <i class="fa-solid fa-address-card"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="modal-body p-5 img d-flex align-items-center color-2">
        <div class="text w-100 py-0 py-md-5">
          <h3 class="mb-4">Create Your Account</h3>
          <form action="#" class="signup-form">
            <div class="form-group mb-3">
              <label class="label" for="name">Full Name</label>
              <input type="text" class="form-control" placeholder="John Doe">
            </div>
            <div class="form-group mb-3">
              <label class="label" for="email">Email Address</label>
              <input type="text" class="form-control" placeholder="johndoe@gmail.com">
            </div>
            <div class="form-group mb-3">
              <label class="label" for="password">Password</label>
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group d-md-flex">
              <div class="form-check w-100 text-left">
                <label class="custom-control fill-checkbox">
                  <input type="checkbox" class="fill-control-input">
                  <span class="fill-control-indicator"></span>
                  <span class="fill-control-description">I agree all statements</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class=" form-control btn btn-primary rounded submit px-3"
                (click)="c('Save click')">Save</button>
            </div>
          </form>
          <a href="#">I'm already a member</a>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>









<button class="btn btn-lg btn-outline-primary" (click)="open(contentt)">523</button>




<ng-template  #contentt  let-c="close" let-d="dismiss">
<div class="m-b">
    <div class="row no-gutters ">
            <div class="m-l-b col-md-7 d-flex align-items-stretch">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Get in touch</h3>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  Your message was sent, thank you!
                </div>
                <form method="POST" id="contactForm" name="contactForm" novalidate="novalidate">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control valid" name="name" id="name" placeholder="Name"
                          aria-invalid="false">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control error" name="email" id="email" placeholder="Email"
                          aria-invalid="true"><label id="email-error" class="error" for="email">Please enter a valid email
                          address</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control valid" name="subject" id="subject" placeholder="Subject"
                          aria-invalid="false">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea name="message" class="form-control valid" id="message" cols="30" rows="7"
                          placeholder="Message" aria-invalid="false"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="m-r-b col-md-5 d-flex align-items-stretch" >
              <div class="info-wrap bg-primary w-100 p-lg-5 ">
                <h3 class="mb-4 mt-md-4">Contact us</h3>
                <div class="dbox w-100 d-flex align-items-start">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-phone"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-paper-plane"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-globe"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>Website</span> <a href="#">yoursite.com</a></p>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>
</ng-template>







