.m-b{
border: rgb(255, 255, 255) 4px solid;

margin: 1px 1px -1px -1px;
background-color: rgb(255, 255, 255);
filter: blur();
}
.m-r-b{
 background-color: aqua;
}




.p-dialog-footer{
  background-color: rgba(0, 255, 255, 0);
}
