<div pfocustrap="" role="dialog"
  class="p-element ng-trigger ng-trigger-animation ng-tns-c71-0 p-dialog p-component p-dialog-draggable p-dialog-resizable ng-star-inserted"
  ng-reflect-ng-class="[object Object]" ng-reflect-ng-style="[object Object]" ng-reflect-p-focus-trap-disabled="false"
  aria-labelledby="pr_id_1-label" pr_id_1="" style="width: 50vw; z-index: 1101;">
  <div class="p-resizable-handle ng-tns-c71-0 ng-star-inserted" style="z-index: 90;"></div>
  <div class="p-dialog-header ng-tns-c71-0 ng-star-inserted" style="">
    <span class="p-dialog-title ng-tns-c71-0 ng-star-inserted" id="pr_id_1-label">
      Header
    </span>
    <div class="p-dialog-header-icons ng-tns-c71-0">
       <button type="button" pripple=""
        class="p-ripple p-element ng-tns-c71-0 p-dialog-header-icon p-dialog-header-close p-link ng-star-inserted"
        ng-reflect-ng-class="[object Object]" tabindex="-1">
        <span
          class="p-dialog-header-close-icon ng-tns-c71-0 pi pi-times" ng-reflect-ng-class="pi pi-times"></span><span
          class="p-ink">
        </span>
      </button>
    </div>
  </div>

  <div class="ng-tns-c71-0 p-dialog-content" ng-reflect-ng-class="p-dialog-content">
    <h1 _ngcontent-khw-c134="" class="ng-tns-c71-0">conect</h1>
  </div>
  <div class="p-dialog-footer ng-tns-c71-0 ng-star-inserted" style="">
    <p-button _ngcontent-khw-c134="" icon="pi pi-check" label="Ok" styleclass="p-button-text"
      class="p-element ng-star-inserted" ng-reflect-icon="pi pi-check" ng-reflect-label="Ok"
      ng-reflect-style-class="p-button-text">


  <button pripple=""
        class="p-ripple p-element p-button-text p-button p-component" ng-reflect-ng-class="[object Object]"
        type="button">
        <span class="pi pi-check p-button-icon p-button-icon-left ng-star-inserted"
          ng-reflect-ng-class="[object Object]" aria-hidden="true"></span>
        <span class="p-button-label ng-star-inserted" aria-hidden="false">Ok</span>
        <span class="p-ink"></span>
  </button>
