<div class="container">
  <div class="section-recruteur mb-3">
    <h4>Conseils Pratique</h4>
  </div>
  <div class="section-recruteur">
    <div class="row">
      <app-card-article
        [routerLink]="['/rubrique/details-article']"
        class="col-md-6 mb-3"
        *ngFor="let article of articles"
        [image]="article.image"
        [titre]="article.titre"
        [sousTitre]="article.sousTitre"
        [resume]="article.resume"
        [etiquette]="article.etiquette"
        [motsCles]="article.motsCles"
      ></app-card-article>
    </div>
  </div>
</div>
