<div class="container">
  <div class="section-recruteur mb-3">
    <h4>Articles</h4>
  </div>
  <div class="section-recruteur">
    <div class="flex-grow-1">
      <app-top-bar
        [pageName]="'conseils pratique'"
        [data]="rubriqueService.listArticles"
        (filtredData)="filtredData($event)"
        (orientationView)="getOrientaion($event)"
      ></app-top-bar>
    </div>
    <hr />
    <div class="row">
      <app-card-article
      *ngFor="let article of resultData"
        [link]="['/rubrique/details-article',article.id]"
        class="col-md-6 mb-3"
        [image]="article.image"
        [titre]="article.titre"
        [sousTitre]="article.sousTitre"
        [resume]="article.resume"
        [etiquette]="article.etiquette"
        [motsCles]="article.motsCles"
      ></app-card-article>
    </div>
  </div>
</div>
