<div class="section-recruteur mb-3">
  <h4>{{ 'globale.gallerie' | translate }}</h4>
</div>
<!-- <div class="section-recruteur mb-3">
  <div class="row">
    <div
      class="col-md-6 col-lg-4"
      (click)="openModal(modalGallerie, gallery)"
      *ngFor="let gallery of gallerie"
    >
      <img
        *ngIf="gallery?.type_contenu === 'image'"
        [lazyLoad]="gallery"
        [defaultImage]="'assets/images/img-article.webp'"
        alt=""
        class="img-gallerie border-media"
      />

      <video
        *ngIf="gallery?.type_contenu === 'video'"
        class="img-gallerie border-media"
        src=""
        controls
        type="video/mp4"
      ></video>
    </div>
  </div>
</div>
<ng-template #modalGallerie let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Media Details</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <img
      *ngIf="selectedMedia?.type_contenu === 'image'"
      [lazyLoad]="selectedMedia"
      [defaultImage]="'assets/images/img-article.webp'"
      alt=""
      class="img-gallerie"
    />

    <video
      *ngIf="selectedMedia?.type_contenu === 'video'"
      class="video-fluid"
      src=""
      controls
      type="video/mp4"
    ></video>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      {{ 'adresse.close' | translate }}
    </button>
  </div>
</ng-template> -->

<div class="section-recruteur mb-3">
  <ngb-carousel class="myCarousel" [activeId]="activeSliderId">
    <ng-template ngbSlide *ngFor="let item of gallerie">
      <ng-container *ngIf="item.type_contenu == 'image'">
        <img
          class="img-gallerie"
          [lazyLoad]="item.source"
          [defaultImage]="'assets/images/img-article.webp'"
          alt="Random {{ item?.name }} slide"
        />
      </ng-container>
      <ng-container *ngIf="item.type_contenu == 'video'">
        <video
          *ngIf="item?.type_contenu === 'video'"
          class="img-gallerie border-media"
          [src]="item.source"
          controls
          type="video/mp4"
        ></video>
      </ng-container>
    </ng-template>
  </ngb-carousel>

  <ul class="carousel-thumbnail">
    <li
      class="carousel-thumbnail__item list-inline-item"
      *ngFor="let item of gallerie"
      (click)="cycleToSlide(item)"
    >
      <a class="selected" *ngIf="item.type_contenu == 'image'">
        <img
          class="carousel-thumbnail__img"
          [lazyLoad]="item.source"
          [defaultImage]="'assets/images/img-article.webp'"
        />
      </a>
      <a class="selected" *ngIf="item?.type_contenu === 'video'">
        <video
          *ngIf="item?.type_contenu === 'video'"
          class="carousel-thumbnail__img"
          [src]="item.source"
          controls
          type="video/mp4"
        ></video>
      </a>
    </li>
  </ul>
</div>
