<!-- <div class="row mb-3" id="list-item-1">
  <div class="col-sm-12">
    <div class="card ">
      <div class="card-body">
        <div class="herder-top-card">

          <h5 class="col"><i class="fa-solid fa-circle-info"></i> info </h5>
          <div (click)="showinfo()" class=" icons "></div>

        </div>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">Johnatan Smith</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">example@example.com</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">(097) 234-5678</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Mobile</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">(098) 765-4321</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row mb-3 Experince" id="list-item-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="herder-top-card">

          <h5 class="col"><i class="fa-solid fa-vial"></i> Experince</h5>
          <div (click)="showExperince()" class=" icons "></div>

        </div>


        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">


              <div class="seofy_module_time_line_vertical appear_anim">
                <div id="time_line_5cf90ca818f641" class="time_line-item  item_show">
                  <div class="time_line-date_wrap">
                    <div class="seofy_hexagon"><svg style=" fill: #ffa705;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <div class="seofy_hexagon"><svg
                        style="filter: drop-shadow(4px 5px 4px rgba(255,167,5,0.3)); fill: #ffa705;"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <h4 class="time_line-date">2015</h4>
                  </div>
                  <div class="time_line-content">
                    <h5 class="time_line-title">A Brief History</h5>
                    <div class="time_line-descr">We joined the team and after much success, the agency was
                      eventually.
                    </div>
                  </div>
                </div>
                <div id="time_line_5cf90ca818fa82" class="time_line-item  item_show">
                  <div class="time_line-date_wrap">
                    <div class="seofy_hexagon"><svg style=" fill: #ff5600;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <div class="seofy_hexagon"><svg
                        style="filter: drop-shadow(4px 5px 4px rgba(255,86,0,0.3)); fill: #ff5600;"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <h4 class="time_line-date">2016</h4>
                  </div>
                  <div class="time_line-content">
                    <h5 class="time_line-title">Something Big</h5>
                    <div class="time_line-descr">The team move into its first office, in the centre of
                      Henley-on-Thames.
                    </div>
                  </div>
                </div>
                <div id="time_line_5cf90ca818fc83" class="time_line-item item_active item_show">

                  <div class="time_line-date_wrap">
                    <div class="seofy_hexagon"><svg style=" fill: #69e9f2;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <div class="seofy_hexagon"><svg
                        style="filter: drop-shadow(4px 5px 4px rgba(105,233,242,0.3)); fill: #69e9f2;"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <h4 class="time_line-date">2017</h4>
                  </div>
                  <div class="time_line-content">
                    <h5 class="time_line-title">The Army Grows</h5>
                    <div class="time_line-descr">The team of seofy grow to around 8, as amazing new clients
                      come on
                      board.
                    </div>
                  </div>
                </div>
                <div id="time_line_5cf90ca818fe44" class="time_line-item  item_show">
                  <div class="time_line-date_wrap">
                    <div class="seofy_hexagon"><svg style=" fill: #12affe;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <div class="seofy_hexagon"><svg
                        style="filter: drop-shadow(4px 5px 4px rgba(18,175,254,0.3)); fill: #12affe;"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <h4 class="time_line-date">2018</h4>
                  </div>
                  <div class="time_line-content">
                    <h5 class="time_line-title">An Award-Winning Creation</h5>
                    <div class="time_line-descr">Continued growth in cool new clients means that our team
                      continues.
                    </div>
                  </div>
                </div>
                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                  <div class="time_line-date_wrap">
                    <div class="seofy_hexagon"><svg style=" fill: #3224e9;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg></div>
                    <div class="seofy_hexagon">
                      <svg style="filter: drop-shadow(4px 5px 4px rgba(50,36,233,0.3)); fill: #3224e9;"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                        <path
                          d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                        </path>
                      </svg>
                    </div>
                    <h4 class="time_line-date">2019</h4>
                  </div>
                  <div class="time_line-content">
                    <h5 class="time_line-title">Expansion &amp; Awards</h5>
                    <div class="time_line-descr">The team grows to nearly 40, working with some incredible
                      clients.
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row mb-3 Edcucation" id="list-item-3">
  <div class="col-sm-12">
    <div class="card">

      <div class="card-body">
        <div class="herder-top-card">

          <h5 class="col"> <i class="fa-solid fa-building-columns"></i> Edcucation </h5>
          <div (click)="showEdcucation()"  class=" icons "></div>

        </div>
        <section class="timeline_area section_padding_130">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <!-- <div class="section_heading text-center">
                  <h6>Our History</h6>
                  <h3>A brief stories of our 2 years company journey</h3>
                  <div class="line"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12"> -->
                <!-- Timeline Area-->
                <!-- <div class="apland-timeline-area"> -->
                  <!-- Single Timeline Content-->
                  <!-- <div class="single-timeline-area">
                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      <p>Near Future</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Updated 5.0</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Fixed bug</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
                          style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Reach 1k Users</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- Single Timeline Content-->
                  <!-- <div class="single-timeline-area">
                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      <p>2020</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Updated 4.4.0</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Fixed bug</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- Single Timeline Content-->
                  <!-- <div class="single-timeline-area">
                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      <p>2019</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Updated 4.0</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Fixed bug</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
                          style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                          <div class="timeline-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                          <div class="timeline-text">
                            <h6>Reach 500 Users</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



      </div>
    </div>


  </div>
  <div class="col-sm-1"></div>
</div> -->










<!-- <div class="row mb-3" id="list-item-4">
  <div class="col-sm-12">
    <div class="card">

      <div class="card-body">
        <div class="herder-top-card">

          <h5 class="col"><i class="fa-solid fa-brain"></i> hobbie</h5>
          <div (click)="showhobbie()" class=" icons "></div>

        </div>
        <div class="main-container">

          <div class="radio-buttons">
            <label class="custom-radio">
              <input type="radio" name="radio" checked />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid fa-person-biking"></i>
                  <h3>Biking</h3>


                </div>
              </span>
            </label>
            <label class="custom-radio">
              <input type="radio" name="radio" />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid  fa-futbol"></i>
                  <h3>Football</h3>
                </div>
              </span>
            </label>
            <label class="custom-radio">
              <input type="radio" name="radio" />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid  fa-table-tennis-paddle-ball"></i>
                  <h3>Table Tennis</h3>
                </div>
              </span>
            </label>
            <label class="custom-radio">
              <input type="radio" name="radio" />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid fa-gears"></i>
                  <h3>Coding</h3>
                </div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




































<!--
<p-dialog header="Header" [(visible)]="info" [style]="{width: '50vw'}">
  <h1>info</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="info=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->

<!-- <p-dialog header="Header" [(visible)]="Experince" [style]="{width: '50vw'}">
  <h1>Experince</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="Experince=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->

<!-- <p-dialog header="Header" [(visible)]=" Edcucation" [style]="{width: '50vw'}">
  <h1>Edcucation</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)=" Edcucation=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->

<!-- <p-dialog header="Header" [(visible)]="hobbie" [style]="{width: '50vw'}">
  <h1>hobbie</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="hobbie=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->



