<div class="card mb-4 mt-4">
  <div class="card-body h-100">
    <div class="herder-top-card">

      <h5 class="col about">{{'candidat.t.about_me'|translate}}</h5>
    <div (click)="open_about_form()" class=" icons "></div>

    </div>

    <p class="para">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio
      culpa officia
      totam atque exercitationem inventore repudiandae?
    </p>
  </div>
</div>





<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'edit_about'|translate}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>





















