




.addbtn {
  margin: auto;
  width: 300px;
  margin-bottom: 50px;
  background-color: rgb(250, 195, 13);
  margin-top: 60px;
}

.mt-4-5 {
  margin-top: 30px;
}


.ch-w {
  width: 35px;
  height: 35px;
}
