<div *ngIf="condida_data" class="container" style="margin-top: 131px">
  <div class="section-recruteur mb-3">
    <div class="row g-0">
      <div class="col-md-3">
        <img
         [lazyLoad]="condida_data.info.img"
         [defaultImage]=""
          class="img_profile"
          alt="..."
        />

      </div>
      <div class="col-md-8">
        <div class="card-body p-0" style="margin-top: 18px">
          <h1
            class="card-title"
            style="font-size: 25px; margin-top: 22px; margin-bottom: 13px"
          >
          &nbsp;&nbsp;
          <i class="fa-solid fa-user"></i>
          {{ condida_data.info.name.first_name }}
           {{ condida_data.info.name.last_name}}
           |
            <span style="font-size: 20px; padding-bottom: 0px;" >
              {{ condida_data.info.address.countrie}}
            </span>
          </h1>
          <h5 class="poste">
        &nbsp;&nbsp;&nbsp;
            <i class="fa-solid fa-briefcase"></i>
            {{ condida_data.info.job_post.job_title }}
          </h5>
          <h6
            style="color: #4c4a4a; font-size: 20px; margin-bottom: 13px"
            class="card-text"
          >
          &nbsp;&nbsp;&nbsp;
          <i class="fa-solid fa-calendar-days"></i> : {{ condida_data.info.borthday }}
          </h6>
          <ul
            style="
              list-style: none;
              display: flex;
              padding: 0;
              margin-bottom: 13px;
              color: #6e6b6b;
            "
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li style="margin-right: 20px">
            <i class="fa-solid fa-envelope"></i>


              {{ condida_data.info.name}}
            </li>
            <li style="margin-right: 20px">
              <i class="fa-solid fa-phone"></i>


              {{ condida_data.info.phone}}
            </li>

          </ul>

          <div class="row fiche1">
            <ul class="p-0 col-md-6">
              <small
                class="text-muted"
                style="list-style: none; display: flex; font-size: 15px"
              >
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li>
                  <i class="fa-solid fa-location-dot"></i>
                  {{ condida_data.info.address.street }}N
                  {{ condida_data.info.address.building }}
                  {{ condida_data.info.address.city }}
                  {{ condida_data.info.address.postalCode }}|
                  {{ condida_data.info.address.countrie }}

                </li>
              </small>
            </ul>
            <ul class="col-md-6 socialMedia1">
              <li class="socialMedia">
                <p class="">{{ "offre.partager" | translate }}:</p>
              </li>
              <li>
                <div class="addthis_inline_share_toolbox_hvun"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="section-recruteur">
        <!-- <h5>Détails de l'offre</h5> -->
        <p-tabView>
          <p-tabPanel  header="{{ 'Education' | translate }}">
            <p-accordion *ngFor=" let i of condida_data.info.education">
              <p-accordionTab
              [selected]="true"
              header="{{i.education_name }}">
                <div>
                  <ul class="ul-one">
                    <li class="li-one ">
                      <P class="top-t" >{{i.education_school | titlecase}} </P>
                      <p class="top-ctiy">®️ {{i.education_city | titlecase}}</p>
                    </li>
                    <li class="li-one">
                      <p class="li_one_init_h" > From</p>
                      <P class="li_one_init">{{i.education_start_date}}</P>
                      <p class="li_one_init_h">,To</p>
                      <p class="li_one_init">{{i.education_end_date}}</p>
                    </li>
                    <li class="li-one  education_descriptionli">
                      <p class="education_description">{{i.education_description}}</p>
                    </li>
                    <li class="li-one">
                      <ul class="init-ul-col none_list">
                        <li  >
                          <div class="" *ngFor="let k of i.deplome">
                            <p class="ed-sub-t">{{'deplome'| titlecase |translate }}</p>
                            <ul class="none_list   sub_ul_col">
                               <h3 class="name_deplom">{{k.deplome_name}}</h3>
                              <li class="sub_li " *ngIf="k.deplome_description">
                                <P class="sub_li_d">{{k.deplome_description}}</P>
                              </li>
                              <li>
                                <ul class=" none_list li-one">
                                  <li class="d-flexx  " *ngIf="k.deplome_img">
                                    <a class=" btnn btn btn-secondary"  href="#">view doc</a>

                                  </li>
                                  <li class="sub_li " *ngIf="k.deplome_url">
                                    <a class="  btnn btn btn-secondary" href="#">view onlin</a>

                                  </li>

                                </ul>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li>
                          <div class="ed_sub_box" *ngFor="let k of i.srtificate">
                            <p class="ed-sub-t">{{'srtificate'| titlecase |translate }}</p>
                            <ul class=" none_list sub_ul_col">
                              <h3 class="name_deplom">{{k.srtificate_name}}</h3>
                              <li class="sub_li" *ngIf="k.srtificate_description">
                                <P class="sub_li_d">{{k.srtificate_description}}</P>
                              </li>
                            <li>
                              <ul class=" none_list li-one">

                                <li class="d-flexx"  *ngIf="k.srtificate_img">
                                  <a  class="  btnn btn btn-secondary"href="#">view doc</a>

                                </li>
                                <li class="sub_li" *ngIf="k.srtificate_url">
                                  <a class=" btnn btn btn-secondary" href="#">view onlin</a>

                                </li>
                              </ul>
                            </li>
                            </ul>
                          </div>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </div>
              </p-accordionTab>

            </p-accordion>


          </p-tabPanel>

          <!--2-->
          <p-tabPanel header="{{ 'Experience' | translate }}">
            <p-accordion *ngFor=" let i of condida_data.info.experience">
              <p-accordionTab [selected]="true" header="{{i.experience_job_title}}">
                <div>
                  <ul class="ul-one">
                    <li class="li-one ">
                      <P class="top-t">{{i.experience_company | titlecase}} </P>
                      <p class="top-ctiy">®️ {{i.experience_city | titlecase}}</p>
                    </li>
                    <li class="li-one">
                      <p class="li_one_init_h"> From</p>
                      <P class="li_one_init">{{i.experience_start_date}}</P>
                      <p class="li_one_init_h">,To</p>
                      <p class="li_one_init">{{i.experience_end_date}}</p>
                    </li>
                    <li class="li-one  education_descriptionli">
                      <p class="education_description">{{i.experience_job_description}}</p>
                    </li>
                    <li class="li-one">
                      <ul class="init-ul-col none_list">
                        <li>
                          <div class="row" >
                            <div class="col">
                        <p class="ed-sub-t">{{'my rouls at '+ i.experience_company| titlecase |translate }}</p>
                         <ul *ngFor="let k of i.experience_roul" class="st li-one">
                              <li class="d-flexx lista ">
                                 {{k}}
                              </li>
                        </ul>
                        </div>
                        <div class="col">
                         <p class="ed-sub-t">{{'what i learn'| titlecase |translate }}</p>
                                <ul *ngFor="let k of i.experience_he_gine" class="st li-one">
                                  <li class="d-flexx  lista  " >
                                     {{k}}
                                  </li>
                                </ul>
                        </div>

                          </div>
                        </li>
                        <li>
                          <div class="ed_sub_box" *ngFor="let k of i.srtificate">
                            <p class="ed-sub-t">{{'deplome'| titlecase |translate }}</p>
                            <ul class=" none_list sub_ul_col">

                              <li class="sub_li" *ngIf="k.srtificate_description">
                                <P class="sub_li_d">{{k.srtificate_description}}</P>
                              </li>

                              <li>
                                <ul class=" none_list li-one">
                                  <li class="d-flexx  " *ngIf="k.srtificate_img">
                                    <a class="  btnn btn btn-secondary" href="#">view doc</a>
                                  </li>
                                  <li class="sub_li " *ngIf="k.srtificate_url">
                                    <a class=" btnn btn btn-secondary" href="#">view onlin</a>
                                  </li>
                                </ul>
                              </li>

                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </p-accordionTab>

            </p-accordion>


          </p-tabPanel>

          <p-tabPanel header="{{ 'skilss' | titlecase| translate }}">

                <div class="row">
                  <div class="col-md-6">
                    <p class="skills_titale">
                      {{ ' soft skils' | titlecase  | translate}}
                    </p>
                    <ul *ngFor="let k of condida_data.info.soft_skills " class="flexx">
                      <li class=" li_skils">
                        {{k}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <p class="skills_titale">
                      {{ 'sikils tchnic' | titlecase  | translate }}
                    </p>
                    <ul *ngFor="let k of condida_data.info.skills_tach " class="flexx" >
                          <li class=" li_skils">
                            {{k.skill_name}}
                          </li>
                    </ul>
                  </div>


                  <div class="col-md-6">
                    <p class="skills_titale">
                      {{ ' langouge skilss' | titlecase  | translate }}
                    </p>
                    <ul *ngFor="let k of  condida_data.info.languages " class="flexx" >
                          <li class=" li_skils">
                            {{k.language_name}}
                          </li>
                    </ul>
                  </div>
                </div>


          </p-tabPanel>





          <p-tabPanel header="{{ 'hobbis' | titlecase | translate }}">
            <p class="skills_titale">
              {{ 'hobbies list' | titlecase  | translate }}
            </p>
            <ul *ngFor="let i of condida_data.info.hobbies">
              <li class=" li_skils">
               {{i}}
              </li>
            </ul>

          </p-tabPanel>




          <!--4-->
          <p-tabPanel header="{{ 'contact' | translate }}">



                      <div class="row">
                        <ul class="d-flexV">
                          <li class="lili">
                            <h1 class="h11" >
                               {{ 'contact me' | titlecase | translate }}
                            </h1>
                          </li>
                        </ul>
                      </div>
              <form [formGroup]="condida_contact" (ngSubmit)="sendMissage()">
                <div class="row">
                  <!--misag_type-->
                  <div class="mb-63 col-md-6">
                    <label for="misag_type" class="form-label">
                      {{ "taype misage" | titlecase| translate }}:
                    </label>
                    <select id="misag_type" class="form-select" id="misag_type" formControlName="misag_type" [ngClass]="{
                                      'is-invalid':
                                        condida_contact.get('misag_type')?.touched &&
                                        condida_contact.get('misag_type')?.invalid
                                    }">
                      <option value="" selected disabled>
                        {{ "select one" | translate }}
                      </option>
                      <option *ngFor="let i of misag_type">
                        {{ i | titlecase| translate }}
                      </option>

                    </select>
                    <div *ngIf="
                                      condida_contact.get('misag_type')?.touched &&
                                      condida_contact.get('misag_type')?.invalid
                                    " class="invalid-feedback mb-2">
                      <div *ngIf="condida_contact.get('misag_type')?.errors?.['required']">
                        {{ "form.champ_oblig" | translate }}
                      </div>
                    </div>
                  </div>

                  <!-- name input -->
                  <div class="mb-3 col-md-6">
                    <label class="form-label" for="name">
                      {{ "form.name" | translate }}:
                    </label>
                    <input class="form-control" id="name" type="text" placeholder="{{ 'enter your name' | translate }}"
                      formControlName="name" name="name" [ngClass]="{
                                      'is-invalid':
                                        condida_contact.get('name')?.touched &&
                                        condida_contact.get('name')?.invalid
                                    }" />
                    <div *ngIf="
                                      condida_contact.get('name')?.touched &&
                                      condida_contact.get('name')?.invalid
                                    " class="invalid-feedback">
                      <div *ngIf="condida_contact.get('name')?.errors?.['required']">
                        {{ "form.champ_oblig" | translate }}
                      </div>
                      <div *ngIf="condida_contact.get('name')?.errors?.['name']">
                        {{ "form.mail_valid" | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating">
                  <textarea formControlName="missage" [ngClass]="{
                                      'is-invalid':
                                        condida_contact.get('missage')?.touched &&
                                        condida_contact.get('missage')?.invalid
                                    }" class="form-control textarea" placeholder="Leave a comment here"
                    id="floatingTextarea"></textarea>

                  <label for="floatingTextarea">{{ "missage" | translate }}:</label>
                  <div *ngIf="
                                                          condida_contact.get('missage')?.touched &&
                                                          condida_contact.get('missage')?.invalid
                                                        " class="invalid-feedback">
                    <div *ngIf="condida_contact.get('missage')?.errors?.['required']">
                      {{ "form.champ_oblig" | translate }}
                    </div>
                    <div *ngIf="condida_contact.get('missage')?.errors?.['name']">
                      {{ "form.mail_valid" | translate }}
                    </div>
                  </div>
                </div>





              </form>

           <div class="row">
                  <ul class="d-flexV">
                    <li *ngFor="let i of condida_data.info.contact"class="lili">
                      <a class="AAA"   href="{{i.url}}">
                        <i *ngIf="i.platfrom === 'facebook'" class="fa-brands fa-facebook"></i>
                        <i *ngIf="i.platfrom === 'github'" class="fa-brands fa-github"></i>
                        <i *ngIf="i.platfrom === 'gmail'" class="fa-solid fa-envelope"></i>
                        <i *ngIf="i.platfrom === 'linkedin'" class="fa-brands fa-linkedin"></i>
                        <i *ngIf="i.platfrom === 'stack-overflow'" class="fa-brands fa-stack-overflow"></i>
                        <i *ngIf="i.platfrom === 'codepen'" class="fa-brands fa-codepen"></i>
                        <i *ngIf="i.platfrom === 'instagram'" class="fa-brands fa-instagram"></i>
                        <i *ngIf="i.platfrom === 'twitter'" class="fa-brands fa-twitter"></i>
                        <i *ngIf="i.platfrom === 'gitlab'" class="fa-brands fa-gitlab"></i>
                        <i *ngIf="i.platfrom === 'youtube'" class="fa-brands fa-youtube"></i>
                        <i *ngIf="i.platfrom === 'telegram'" class="fa-brands fa-telegram"></i>
                        <i *ngIf="i.platfrom === 'discord'" class=" CLAS fa-brands fa-discord"></i>
                    </a>
                  </li>
                  </ul>
           </div>


            <!--Fin Formulaire-->
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="col-md-3">
      <img width="100%" src="https://i1.hespress.com/wp-content/uploads/2022/06/Sidi_Ali.jpg" alt="">
      <img width="100%" src="https://i1.hespress.com/wp-content/uploads/2022/06/Sidi_Ali.jpg" alt="">
      <img width="100%" src="https://i1.hespress.com/wp-content/uploads/2022/06/Sidi_Ali.jpg" alt="">
    </div>
  </div>
</div>
