<div class="container" style="margin-top: 131px;">
  <div class="section-recruteur mb-3">
    <app-details-header></app-details-header>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="section-recruteur">
        <!-- <h5>Détails de l'offre</h5> -->
        <p-tabView>
          <p-tabPanel header="{{ 'offre.details' | translate }}">
            <p-accordion>
              <p-accordionTab
                header="{{ 'globale.description' | translate }} "
                [selected]="true"
              >
                <div *ngFor="let info of details.Description">
                  <h6 class="criteres-offres" *ngIf="info.Titre">
                    {{ info.Titre }} {{ details.Intitule }}
                  </h6>
                  <p *ngIf="info.Texte">{{ info.Texte }}</p>
                  <ul *ngIf="info.List">
                    <li *ngFor="let list of info.List">{{ list }}</li>
                  </ul>
                </div>
              </p-accordionTab>

              <p-accordionTab header="{{ 'offre.missions' | translate }} ">
                <div *ngFor="let info of details.Missions">
                  <h6 class="criteres-offres" *ngIf="info.Titre">
                    {{ info.Titre }}
                  </h6>
                  <p *ngIf="info.Texte">{{ info.Texte }}</p>
                  <ul *ngIf="info.List">
                    <li *ngFor="let list of info.List">{{ list }}</li>
                  </ul>
                </div>
              </p-accordionTab>

              <p-accordionTab header="{{ 'offre.profilR' | translate }}">
                <div *ngFor="let info of details.ProfilRecherche">
                  <h6 class="criteres-offres" *ngIf="info.Titre">
                    {{ info.Titre }}
                  </h6>
                  <p *ngIf="info.Texte">{{ info.Texte }}</p>
                  <ul *ngIf="info.List">
                    <li *ngFor="let list of info.List">{{ list }}</li>
                  </ul>
                </div>
              </p-accordionTab>
              <p-accordionTab header="{{ 'offre.critere_offre' | translate }}">
                <ul>
                  <li>
                    <span class="offre-critere-label">Secteur d'activité:</span>
                    {{ details.Secteur }}
                  </li>
                  <li>
                    <span class="offre-critere-label">Type de contrat:</span>
                    {{ details.TypeContrat }}
                  </li>
                  <li>
                    <span class="offre-critere-label">Région:</span>
                    {{ details.Region }}
                  </li>
                  <li>
                    <span class="offre-critere-label">Ville:</span>
                    {{ details.Ville }}
                  </li>
                  <li>
                    <span class="offre-critere-label">Niveaux d'études:</span>
                    {{ details.NiveauxEt }}
                  </li>
                  <li>
                    <span class="offre-critere-label">
                      Niveau d'expérience:
                    </span>
                    {{ details.NiveauxEx }}
                  </li>
                  <li>
                    <span class="offre-critere-label">langues exigées:</span>
                    {{ details.Langues }}
                  </li>
                  <li>
                    <span class="offre-critere-label">Salaire:</span>
                    {{ details.Salaire }}
                  </li>
                  <li>
                    <span class="offre-critere-label">Compétence clés:</span>
                    <span *ngFor="let comptence of details.Competences">
                      {{ comptence }}
                    </span>
                  </li>
                  <li>
                    <span class="offre-critere-label">
                      Nombres de poste(s):
                    </span>
                    {{ details.NombresPoste }}
                  </li>
                </ul>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel>

          <!--2-->
          <p-tabPanel header="{{ 'offre.faq' | translate }}">
            <img
              src="../../../../assets/images/images pour offres/téléchargement.png"
              class="rounded float-end"
              alt="..."
            />

            <h5>
              {{ 'offre.entreprise' | translate }}:
              {{ Det_Ent.NomEntreprise }}
            </h5>
            <ul>
              <li>{{ 'form.secteur' | translate }}: {{ Det_Ent.Secteur }}</li>
              <li>
                {{ 'adresse.site' | translate }}: {{ Det_Ent.SiteInternet }}
              </li>
              <li>
                {{ 'adresse.description' | translate }}:
                {{ Det_Ent.Description }}
              </li>
            </ul>
          </p-tabPanel>
          <!--3-->
          <p-tabPanel header="{{ 'offre.det_entr' | translate }}">
            <img
              src="../../../../assets/images/images pour offres/téléchargement.png"
              class="rounded float-end"
              alt="..."
            />

            <h5>
              {{ 'offre.entreprise' | translate }}:
              {{ Det_Ent.NomEntreprise }}
            </h5>
            <ul>
              <li>{{ 'form.secteur' | translate }}: {{ Det_Ent.Secteur }}</li>
              <li>
                {{ 'adresse.site' | translate }}: {{ Det_Ent.SiteInternet }}
              </li>
              <li>
                {{ 'adresse.description' | translate }}:
                {{ Det_Ent.Description }}
              </li>
            </ul>
          </p-tabPanel>
          <!--4-->
          <p-tabPanel header="{{ 'offre.postuler' | translate }}">
            <p>
              {{ 'offre.dejaCompte' | translate }}:
              <a href="#">{{ 'offre.connect' | translate }}</a>
            </p>
            <hr />
            <!--Formulaire postuler-->

            <div>
              <form [formGroup]="postulezForm" (ngSubmit)="sendPostule()">
                <div class="row">
                  <!--Salutation-->
                  <div class="mb-3 col-md-2">
                    <label for="salutation" class="form-label">
                      {{ 'form.salut' | translate }}:
                    </label>
                    <select
                      id="salutation"
                      class="form-select"
                      id="salutation"
                      formControlName="salutation"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('salutation')?.touched &&
                          postulezForm.get('salutation')?.invalid
                      }"
                    >
                      <option value="" selected disabled>
                        {{ 'form.salut' | translate }}
                      </option>
                      <option>{{ 'form.mme' | translate }}</option>
                      <option>{{ 'form.mlle' | translate }}</option>
                      <option>{{ 'form.mr' | translate }}</option>
                    </select>
                    <div
                      *ngIf="
                        postulezForm.get('salutation')?.touched &&
                        postulezForm.get('salutation')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('salutation')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                    </div>
                  </div>

                  <!-- Name input -->

                  <div class="mb-3 col-md-5">
                    <label class="form-label" for="name">
                      {{ 'form.nom' | translate }}:
                    </label>
                    <input
                      class="form-control"
                      id="name"
                      type="text"
                      placeholder="{{ 'form.exp_nom' | translate }}"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('name')?.touched &&
                          postulezForm.get('name')?.invalid
                      }"
                      formControlName="name"
                      name="name"
                    />
                    <div
                      *ngIf="
                        postulezForm.get('name')?.touched &&
                        postulezForm.get('name')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('name')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                      <div
                        *ngIf="postulezForm.get('name')?.errors?.['minlength']"
                      >
                        {{ 'form.champ_3' | translate }}
                      </div>
                      <div
                        *ngIf="postulezForm.get('name')?.errors?.['maxlength']"
                      >
                        {{ 'form.champ_30' | translate }}
                      </div>
                    </div>
                  </div>

                  <!-- Prenom input -->
                  <div class="mb-3 col-md-5">
                    <label class="form-label" for="prenom">
                      {{ 'form.prenom' | translate }}:
                    </label>
                    <input
                      class="form-control"
                      id="prenom"
                      type="prenom"
                      placeholder="{{ 'form.exp_pre' | translate }}"
                      formControlName="prenom"
                      name="prenom"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('prenom')?.touched &&
                          postulezForm.get('prenom')?.invalid
                      }"
                    />
                    <div
                      *ngIf="
                        postulezForm.get('prenom')?.touched &&
                        postulezForm.get('prenom')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('prenom')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                      <div
                        *ngIf="postulezForm.get('prenom')?.errors?.['minlength']"
                      >
                        {{ 'form.champ_3' | translate }}
                      </div>
                      <div
                        *ngIf="postulezForm.get('prenom')?.errors?.['maxlength']"
                      >
                        {{ 'form.champ_30' | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Telephone + email address input -->
                <div class="row">
                  <!-- Email input -->
                  <div class="mb-3 col-md-6">
                    <label class="form-label" for="emailAddress">
                      {{ 'form.email' | translate }}:
                    </label>
                    <input
                      class="form-control"
                      id="emailAddress"
                      type="email"
                      placeholder="{{ 'form.exp_email' | translate }}"
                      formControlName="email"
                      name="email"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('email')?.touched &&
                          postulezForm.get('email')?.invalid
                      }"
                    />
                    <div
                      *ngIf="
                        postulezForm.get('email')?.touched &&
                        postulezForm.get('email')?.invalid
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="postulezForm.get('email')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                      <div *ngIf="postulezForm.get('email')?.errors?.['email']">
                        {{ 'form.mail_valid' | translate }}
                      </div>
                    </div>
                  </div>

                  <!--Téléphone-->
                  <div class="mb-3 col-md-3">
                    <label class="form-label" for="telephone">
                      {{ 'form.telephone' | translate }}:
                    </label>
                    <input
                      class="form-control"
                      id="telephone"
                      type="texte"
                      placeholder="{{ 'form.exp_tel' | translate }}"
                      formControlName="telephone"
                      name="telephone"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('telephone')?.touched &&
                          postulezForm.get('telephone')?.invalid
                      }"
                    />
                    <div
                      *ngIf="
                        postulezForm.get('telephone')?.touched &&
                        postulezForm.get('telephone')?.invalid
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="postulezForm.get('telephone')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                      <div
                        *ngIf="postulezForm.get('telephone')?.errors?.['pattern']"
                      >
                        {{ 'form.tel_valid' | translate }}
                      </div>
                      <div
                        *ngIf="postulezForm.get('telephone')?.errors?.['minlength']"
                      >
                        {{ 'form.champ_10' | translate }}
                      </div>
                    </div>
                  </div>
                  <!--date de naissance-->
                  <div class="mb-3 col-md-3">
                    <label class="form-label" for="dateNaissance">
                      {{ 'form.date_naiss' | translate }}:
                    </label>
                    <input
                      id="dateNaissance"
                      class="form-control"
                      type="date"
                      formControlName="dateNaissance"
                    />

                    <div
                      *ngIf="
                        postulezForm.get('dateNaissance')?.touched &&
                        postulezForm.get('dateNaissance')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('dateNaissance')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <!--N.et N.ex Métier-->
                <div class="row">
                  <!--Métier-->
                  <div class="mb-3 col-md-4">
                    <label for="metier" class="form-label">
                      {{ 'form.metier' | translate }}:
                    </label>
                    <select
                      id="metier"
                      class="form-select"
                      id="metier"
                      formControlName="metier"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('metier')?.touched &&
                          postulezForm.get('metier')?.invalid
                      }"
                    >
                      <option value="" selected disabled>Civilité</option>
                      <option>Mme</option>
                      <option>Mlle</option>
                      <option>Mr</option>
                    </select>
                    <div
                      *ngIf="
                        postulezForm.get('metier')?.touched &&
                        postulezForm.get('metier')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('metier')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                    </div>
                  </div>

                  <!--N.ET-->

                  <div class="mb-3 col-md-4">
                    <label for="niveauEtu" class="form-label">
                      {{ 'form.niveauEtu' | translate }}:
                    </label>
                    <select
                      id="niveauEtu"
                      class="form-select"
                      id="niveauEtu"
                      formControlName="niveauEtu"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('niveauEtu')?.touched &&
                          postulezForm.get('niveauEtu')?.invalid
                      }"
                    >
                      <option value="" selected disabled>Civilité</option>
                      <option>Mme</option>
                      <option>Mlle</option>
                      <option>Mr</option>
                    </select>
                    <div
                      *ngIf="
                        postulezForm.get('niveauEtu')?.touched &&
                        postulezForm.get('niveauEtu')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('niveauEtu')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                    </div>
                  </div>

                  <!--N.EX-->

                  <div class="mb-3 col-md-4">
                    <label for="niveauExp" class="form-label">
                      {{ 'form.niveauExp' | translate }}:
                    </label>
                    <select
                      id="niveauExp"
                      class="form-select"
                      id="niveauExp"
                      formControlName="niveauExp"
                      [ngClass]="{
                        'is-invalid':
                          postulezForm.get('niveauExp')?.touched &&
                          postulezForm.get('niveauExp')?.invalid
                      }"
                    >
                      <option value="" selected disabled>Civilité</option>
                      <option>Mme</option>
                      <option>Mlle</option>
                      <option>Mr</option>
                    </select>
                    <div
                      *ngIf="
                        postulezForm.get('niveauExp')?.touched &&
                        postulezForm.get('niveauExp')?.invalid
                      "
                      class="invalid-feedback mb-2"
                    >
                      <div
                        *ngIf="postulezForm.get('niveauExp')?.errors?.['required']"
                      >
                        {{ 'form.champ_oblig' | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-outline-info">
                  Postuler
                </button>
              </form>
            </div>

            <!--Fin Formulaire-->
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">test</div>
    </div>
  </div>
</div>
