<div class="container">
  <div class="section-recruteur">
    <h4>Adresses Utiles</h4>
  </div>

  <div class="row my-3">
    <div class="col-md-9">
      <div class="section-recruteur">
        <ul class="row list-adresse">
          <li
            class="col-lg-4 col-md-6 mb-3"
            *ngFor="let p of adressesUtiles"
            (click)="_open(detailLien, p)"
          >
            <div class="card-container bg-white">
              <div
                class="imgwrap"
                style="display: flex; justify-content: center;"
              >
                <img
                  class="lien-logo img-fluid mb-2"
                  [defaultImage]="'assets/images/lien-utile.jpg'"
                  [lazyLoad]="p?.image"
                  alt=""
                  style="max-height: 200px;"
                />
              </div>
              <h4 class="">
                {{ (p?.translations)['fr']?.__designation | titlecase }}
              </h4>

              <p class="my-3">
                {{ (p?.translations)['fr']?.__descriptif | titlecase }}
              </p>
              <div class="bt">
                <a href="{{ p?.siteweb }}" target="_blank">
                  <p class="ellipsis-text text-center mt-2 mb-0">
                    {{ p?.siteweb }}
                  </p>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="section-recruteur"></div>
    </div>
  </div>
</div>
<ng-template #detailLien let-modal>
  <div class="modal-header">
    <h2
      class="py-2 j-title-lg bold text-justify blue-color"
      id="modal-basic-title"
    >
      {{ (adresse?.translations)['fr']?.__designation }}
    </h2>
    <button
      type="button"
      class="btn btn-outline-dark"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="row">
          <img
            [defaultImage]="'assets/images/lien-utile.jpg'"
            [lazyLoad]="adresse?.logo"
            class="col-md-3"
            style="object-fit: contain;"
            alt=""
          />
          <div class="col-md-9">
            <h4 class="py-2 j-title-md blue-color">
              {{ 'adresse.description' | translate }}
            </h4>
            <p class="j-description j-resume-lg">
              {{ (adresse?.translations)['fr']?.__descriptif }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item j-description j-resume-lg">
            <i class="fa fa-map-marker pe-3"></i>
            {{ 'adresse.adresse' | translate }} :

            {{ (adresse?.translations)['fr']?.__adresse }}
            -
            {{ (adresse?.translations)['fr']?.__ville }}
            -
            {{ (adresse?.translations)['fr']?.__pays }}
          </li>
          <li class="list-group-item j-description j-resume-lg">
            <i class="fa fa-phone pe-3" aria-hidden="true"></i>
            {{ 'adresse.tele' | translate }} : {{ adresse?.telephone }}
          </li>
          <li class="list-group-item j-description j-resume-lg">
            <i class="fa fa-fax pe-3" aria-hidden="true"></i>
            {{ 'adresse.fax' | translate }} :
            {{ adresse?.fax }}
          </li>
          <li class="list-group-item j-description j-resume-lg">
            <i class="fa fa-envelope-open pe-3"></i>
            {{ 'adresse.email' | translate }} :
            {{ adresse?.email }}
          </li>
          <li class="list-group-item j-description j-resume-lg">
            <i class="fa fa-globe pe-3"></i>
            {{ 'adresse.site' | translate }} :
            {{ adresse?.siteweb }}
          </li>
          <li class="list-group-item j-description j-resume-lg">
            <i class="fa fa-clock pe-3"></i>
            {{ 'adresse.horaires' | translate }} :
            {{ (adresse?.translations)['fr']?.__horaire }}
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <app-map
          class="map"
          [lat]="adresse?.latitude"
          [lon]="adresse?.longitude"
          [zoom]="16"
          [height]="'300px'"
          [width]="'100%'"
        ></app-map>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      {{ 'adresse.close' | translate }}
    </button>
    <a href="{{ adresse?.siteweb }}" target="_blank">
      <button type="button" class="btn btn-primary">
        {{ 'adresse.consulter_site' | translate }}
      </button>
    </a>
  </div>
</ng-template>
