<div class="mt-5">
  <div class="header-recruiter">
    <img
      class="header-recruiter-image"
      [lazyLoad]="recruiter.imageBg"
      [defaultImage]="'assets/images/bg-recruiter.jpg'"
    />
    <div class="recruteur-info-general container">
      <div class="logo-societe-container px-3">
        <img
          [lazyLoad]="recruiter.logo"
          [defaultImage]="'assets/images/logo.jpg'"
          alt="logo"
          class="header-recruiter-logo"
        />
      </div>
      <div class="info-general flex-grow-1 text-white">
        <h2 class="title-recruiter-header mb-3">
          {{ recruiter.title }}
        </h2>
        <div class="d-flex align-items-center">
          <h6 class="m-0">{{ recruiter.type }}</h6>
          <div class="ms-2">
            <a>
              <i class="fa-brands me-2 fa-facebook"></i>
            </a>

            <a>
              <i class="fa-brands me-2 fa-instagram"></i>
            </a>
            <a>
              <i class="fa-brands me-2 fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <p-tabMenu
      [model]="items"
      [scrollable]="true"
      [activeItem]="items[0]"
    ></p-tabMenu>
    <div class="col-12 mt-3">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
