<!--DEBUT DE NAVBAR-->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background-color: #c4f8ffba;
    padding: 20px;
    box-shadow: 10px 7px 15px #cdcbcb;
  "
>
  <div class="container-fluid" style="margin-left: 90px;">
    <a
      class="navbar-brand logo-font"
      style="margin-left: -50px; font-size: 25px;"
      href="#"
    >
      MyWay
    </a>
    <button
      class="navbar-toggler order-first"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor"
      aria-controls="navbarColor"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarColor"
      style="padding-left: 100px;"
    >
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        style="padding-left: 15px; align-items: baseline;"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Emploi/ Stage
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/offres/list-offres']">
                Offres d'emploi
              </a>
            </li>
            <li><a class="dropdown-item" href="#">Offres de stage</a></li>
            <li><a class="dropdown-item" href="#">Offres d'alternance</a></li>
            <li><a class="dropdown-item" href="#">Offres d'extra</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href="#"
          >
            Compétences
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/Candidats/list']">
                Candidats
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/competences/list-demandes-specifiques']"
              >
                Demandes spécifiques
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/competences/list-condidatures-spontannes']"
              >
                Candidatures spontanées
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Annuaires des professionnels
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/recruteurs']">
                Recruteurs
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['recruteurs/cabinets-recrutements']"
              >
                Cabinets de recrutement
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['recruteurs/associations']"
              >
                Associations d'insertion économique
              </a>
            </li>
            <!-- <li>
              <a class="dropdown-item" href="#">Etablissements de formations</a>
            </li> -->
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/recruteursetablissements']"
              >
                Etablissements de formation
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Infos pratiques
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/rubrique/details-rubrique']"
              >
                Conseils pratiques
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/info-pratique/list-adresses-utiles']"
              >
                Adresses utiles
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/info-pratique/list-liens-utiles']"
              >
                Liens utiles
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/info-pratique/list-documents-a-telecharger']"
              >
                Documents et formulaires à télécharger
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/rubrique/details-rubrique']"
              >
                Législations et textes de lois
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Expertises & Orientations
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item">
                Découverte des métiers
              </a>
            </li>
            <li>
              <a class="dropdown-item">
                Hard-Skills
              </a>
            </li>
            <li>
              <a class="dropdown-item">
                Soft-Skills
              </a>
            </li>
            <li>
              <a class="dropdown-item">
                Métiers pour vous
              </a>
            </li>
            <li>
              <a class="dropdown-item">
                Bilan de compétences
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [routerLink]="['/rubrique/details-rubrique']"
          >
            Evénements et actualités
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item">
                Actualités d'emploi
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/rubrique/details-rubrique']"
              >
                Evénement
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Communauté
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/espace-communautaire/list-forum']"
              >
                Forums de discussions
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/espace-communautaire/sondage']"
              >
                Sondages
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/espace-communautaire/temoignage']"
              >
                Témoignages
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" [routerLink]="['/blog']">
                Blog
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://avatars.githubusercontent.com/u/71600486?v=4"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>

          <ul class="dropdown-menu" style="transform: translate(-100px, 5px);">
            <!-- <li><a class="dropdown-item" href="#">Se connecter</a></li> -->
            <!-- <li><a class="dropdown-item" href="#">S'inscrire</a></li> -->
            <li>
              <a class="dropdown-item" [routerLink]="['/resume-profiles/cv']">
                view Profile
              </a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- <div class="dropdown text-end">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="padding-left: 30px;"
      >
        <img src="" alt="mdo" width="32" height="32" class="rounded-circle" />
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Se connecter</a></li>
        <li><a class="dropdown-item" href="#">S'inscrire</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </div>
</nav>
