<div class="container">
  <div class="section-recruteur mb-3">
    <h4>Documents a Telecharger</h4>
  </div>
  <div class="section-recruteur">
    <div class="row">
      <app-card-document
        class="col-md-3 col-sm-6 mb-2"
        [routerLink]="['/info-pratique/document-details']"
        *ngFor="let doc of documents"
        [dateEdition]="doc?.date_edition"
        [titre]="(doc?.translations)['fr']?.__titre"
        [sousTitre]="(doc?.translations)['fr']?.__sous_titre"
        [image]="doc?.image"
        [lienContenu]="doc?.lien_contenu"
        [format]="doc?.format"
        [taille]="doc?.taille"
        [tags]="(doc?.translations)['fr']?.__tags"
        [file]="doc?.file"
      ></app-card-document>
    </div>
  </div>
</div>
