




<div class="">
  <div class="row g-0 align-items-center">
    <div class="col-md-3 text-center">
      <img
        [lazyLoad]="image"
        [defaultImage]="'assets/images/images pour offres/téléchargement.png'"
        class="img-fluid"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div
        class="card-body p-0"
        style="margin-top: 18px; margin-inline: 0.5em;"
      >
        <div class="metier">
          <h5 class="card-title" style="font-size: 25px; margin-bottom: 13px;">
            {{ titre }}
          </h5>
          <button type="button" *ngIf="ShowBTN" class="btn btn-outline-success">
            Offres de ce métier
          </button>
        </div>
        <h5 class="poste">{{ secteur }}</h5>
        <h6
          *ngIf="typePoste && poste"
          style="color: #4c4a4a; font-size: 20px; margin-bottom: 13px;"
          class="card-text"
        >
          {{ typePoste }} : {{ poste }}
        </h6>
        <h6
          *ngIf="nomEntreprise && typeEntreprise"
          style="color: #4c4a4a; font-size: 20px; margin-bottom: 13px;"
          class="card-text"
        >
          {{ nomEntreprise }} : {{ typeEntreprise }}
        </h6>
        <h6
          *ngIf="niveauEt"
          style="color: #4c4a4a; font-size: 20px; margin-bottom: 13px;"
          class="card-text"
        >
          {{ 'offre.nivEtNece' | translate }} : {{ niveauEt }}
        </h6>
        <h6
          *ngIf="PerspectiveEmploi"
          style="color: #4c4a4a; font-size: 20px; margin-bottom: 13px;"
          class="card-text"
        >
          {{ 'offre.PerspectiveEmploi' | translate }} : {{ PerspectiveEmploi }}
        </h6>
        <ul
          style="
            list-style: none;
            display: flex;
            padding: 0;
            margin-bottom: 13px;
            color: #6e6b6b;
          "
        >
          <li style="margin-right: 20px;" *ngIf="datePublication">
            <i class="fa-regular fa-calendar"></i>
            {{ 'offre.date_pub' | translate }}: {{ datePublication }}
          </li>
          <!-- <li>
                <i class="fa-regular fa-calendar"></i>
                {{ 'offre.date_pos' | translate }}: {{ details.Date_pos }}
              </li> -->
        </ul>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="row fiche1">
          <ul class="p-0 col-md-6" *ngIf="typeContrat && adresse">
            <small
              class="text-muted"
              style="list-style: none; display: flex; font-size: 15px;"
            >
              <li style="padding-right: 20px;">
                <i class="fa-solid fa-file-contract"></i>
                {{ typeContrat }}
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>
                {{ adresse }}
              </li>
            </small>
          </ul>
          <!-- <ul class="col-md-6 socialMedia1">
            <li class="socialMedia">
              <p class="">{{ 'offre.partager' | translate }}:</p>
            </li>
            <li><div class="addthis_inline_share_toolbox_hvun"></div></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
