.card-container {
  border: 0.1rem solid #dcdada;
  border-radius: 0.2rem;
  padding: 1rem;
}
.list-adresse {
  padding: 0;
  list-style: none;
}
.bt {
  border-top: 1px solid #ccc;
  margin-top: auto;
}
