<div class="row Experince" id="list-item-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="herder-top-card">
          <h5 class="col"><i class="fa-solid fa-vial"></i> {{'candidat.t.ex'|translate}}</h5>
          <div (click)="showachievement()" class=" icons "></div>
        </div>
        <div class="container ">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
              <!-- Section Heading-->
              <div class="section_heading text-center">
                <h3>{{'candidat.t.ach'|translate}}</h3>
                <h6>My top achievement that i am broud of </h6>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="col-4">
              <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <p class="mb-0 text-secondary">Total Orders</p>
                      <h4 class="my-1 text-warning">4805</h4>
                      <p class="mb-0 font-13">+2.5% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                        class="fa fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card radius-10 border-start border-0 border-3 border-danger">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <p class="mb-0 text-secondary">Total Revenue</p>
                      <h4 class="my-1 text-danger">$84,245</h4>
                      <p class="mb-0 font-13">+5.4% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i
                        class="fa fa-dollar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card radius-10 border-start border-0 border-3 border-success">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <p class="mb-0 text-secondary">Bounce Rate</p>
                      <h4 class="my-1 text-warning">34.6%</h4>
                      <p class="mb-0 font-13">-4.5% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i
                        class="fa fa-bar-chart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <p class="mb-0 text-secondary">Total Orders</p>
                      <h4 class="my-1 text-warning">4805</h4>
                      <p class="mb-0 font-13">+2.5% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                        class="fa fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card radius-10 border-start border-0 border-3 border-danger">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <p class="mb-0 text-secondary">Total Revenue</p>
                      <h4 class="my-1 text-warning">$84,245</h4>
                      <p class="mb-0 font-13">+5.4% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i
                        class="fa fa-dollar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card radius-10 border-start border-0 border-3 border-success">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <p class="mb-0 text-secondary">Bounce Rate</p>
                      <h4 class="my-1 text-warning">34.6%</h4>
                      <p class="mb-0 font-13">-4.5% from last week</p>
                    </div>
                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                      <i class="fa fa-bar-chart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











<p-dialog header="Header" [(visible)]="achievement" [style]="{width: '50vw'}">
  <h1>Achievement</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="achievement=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
