<form [formGroup]="certificat_form" (ngSubmit)="save_certificat_form()">
  <div class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label" for="certificat_form_certificat_date_input">
        {{ "certificat_form_certificat_date_input" | translate }}
      </label>
      <input
        class="form-control"
        id="certificat_form_certificat_date_input"
        type="date"
        formControlName="certificat_form_certificat_date_input"
        name="certificat_form_certificat_date_input"
        [ngClass]="{
          'is-invalid':
            certificat_form.get('certificat_form_certificat_date_input')?.touched &&
            certificat_form.get('certificat_form_certificat_date_input')?.invalid
        }"
      />
      <div
        *ngIf="
          certificat_form.get('certificat_form_certificat_date_input')?.touched &&
          certificat_form.get('certificat_form_certificat_date_input')?.invalid
        "
        class="invalid-feedback"
      >
        <div
          *ngIf="certificat_form.get('certificat_form_certificat_date_input')?.errors?.['required']"
        >
          {{ "certificat_form_certificat_date_input not valid" | translate }}
        </div>
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label class="form-label" for="certificat_form_certificat_titale_input">
        {{ "form.nom" | translate }}
      </label>
      <input
        class="form-control"
        id="certificat_form_certificat_titale_input"
        type="text"
        placeholder="{{ 'form.exp_nom' | translate }}"
        [ngClass]="{
          'is-invalid':
            certificat_form.get('certificat_form_certificat_titale_input')
              ?.touched &&
            certificat_form.get('certificat_form_certificat_titale_input')?.invalid
        }"
        formControlName="certificat_form_certificat_titale_input"
        name="certificat_form_certificat_titale_input"
      />
      <div
        *ngIf="
          certificat_form.get('certificat_form_certificat_titale_input')
            ?.touched &&
          certificat_form.get('certificat_form_certificat_titale_input')?.invalid
        "
        class="invalid-feedback mb-2"
      >
        <div
          *ngIf="certificat_form.get('certificat_form_certificat_titale_input')?.errors?.['required']"
        >
          {{ "form.champ_oblig" | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="certificat_form_certificat_type_input" class="form-label">
        {{ "certificat_form_certificat_type_input" | translate }}
      </label>
      <select
        class="form-select"
        id="certificat_form_certificat_type_input"
        formControlName="certificat_form_certificat_type_input"
        name="certificat_form_certificat_type_input"
        [ngClass]="{
          'is-invalid':
            certificat_form.get('certificat_form_certificat_type_input')?.touched &&
            certificat_form.get('certificat_form_certificat_type_input')?.invalid
        }"
      >
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>

      <div
        *ngIf="
          certificat_form.get('certificat_form_certificat_type_input')?.touched &&
          certificat_form.get('certificat_form_certificat_type_input')?.invalid
        "
        class="invalid-feedback"
      >
        <div
          *ngIf="certificat_form.get('certificat_form_certificat_type_input')?.errors?.['required']"
        >
          {{ "certificat_form_certificat_type_input not valid" | translate }}
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="certificat_form_certificat_discription_input">{{ "form.about" | translate }}</label>
      <textarea
        class="form-control mt-2"
        placeholder="Leave a comment here"
        style="height: 40px"
        id="certificat_form_certificat_discription_input"
        placeholder="{{ 'form.exp_nom' | translate }}"
        [ngClass]="{
          'is-invalid':
            certificat_form.get('certificat_form_certificat_discription_input')?.touched &&
            certificat_form.get('certificat_form_certificat_discription_input')?.invalid
        }"
        formControlName="certificat_form_certificat_discription_input"
        name="certificat_form_certificat_discription_input"
        [(ngModel)]="certificat_form_certificat_discription_input_value"
      >

            <div *ngIf="
                          certificat_form.get('certificat_form_certificat_discription_input')?.touched &&
                          certificat_form.get('certificat_form_certificat_discription_input')?.invalid
                        " class="invalid-feedback mb-2">
              <div *ngIf="certificat_form.get('certificat_form_certificat_discription_input')?.errors?.['required']">
                {{ "form.champ_oblig" | translate }}
              </div>
              <div *ngIf="certificat_form.get('certificat_form_certificat_discription_input')?.errors?.['minlength']">
                {{ "form.champ_3" | translate }}
              </div>
              <div *ngIf="certificat_form.get('certificat_form_certificat_discription_input')?.errors?.['maxlength']">
                {{ "form.champ_30" | translate }}
              </div>
            </div>

            </textarea
      >
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-warning px-5 addbtn">
      <i class="fa-solid fa-circle-plus"></i>
      add
    </button>
  </div>

  <div class="modal-footer">
    <div class="row">
      <button type="submit" class="btn btn-info">save cersteficat form</button>
    </div>
  </div>
</form>
