<div class="card mb-3">
  <div class="card-body  h-100">
    <div class="herder-top-card">

      <h5 class="col about">{{'candidat.t.exp'|translate}}</h5>
      <div (click)="showcreter()" class=" icons "></div>

    </div>

    <div class="wtf row">
      <p class="col-6"> fild :</p>
      <p class="col-6 text-secondary mb-1">Full Stack Developer</p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Plaise :</p>
      <p class="col-6 text-muted font-size-sm mb-1">tanger ctiy</p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Pontarct :</p>
      <p class="col-6 text-secondary mb-1">CDD </p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Salier :</p>
      <p class="col-6 text-muted font-size-sm mb-1">1000$ </p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Avalibal at :</p>
      <p class="col-6 text-muted font-size-sm mb-1">The next month</p>
    </div>

  </div>
</div>














<p-dialog header="Header" [(visible)]="creter" [style]="{width: '50vw'}">
  <h1>creter</h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="creter=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>






