<div class="card mb-3">
  <div class="card-body  h-100">
    <div class="herder-top-card">

      <h5 class="col about">{{'candidat.t.exp'|translate}}</h5>
      <div (click)="open_expectations_form()" class=" icons "></div>

    </div>

    <div class="wtf row">
      <p class="col-6"> fild :</p>
      <p class="col-6 text-secondary mb-1">Full Stack Developer</p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Plaise :</p>
      <p class="col-6 text-muted font-size-sm mb-1">tanger ctiy</p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Pontarct :</p>
      <p class="col-6 text-secondary mb-1">CDD </p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Salier :</p>
      <p class="col-6 text-muted font-size-sm mb-1">1000$ </p>
    </div>
    <div class="wtf row">
      <p class="col-6"> Avalibal at :</p>
      <p class="col-6 text-muted font-size-sm mb-1">The next month</p>
    </div>

  </div>
</div>














<!--
<div (click)="open_contact_form(content)" class=" icons "></div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <contact-form></contact-form>
  </div>

</ng-template> -->





