<div class="card-recruiter">
  <div class="header-card mb-3 position-relative">
    <img
      [lazyLoad]="imageBg"
      [defaultImage]="'assets/images/bg-recruiter'"
      class="img-bg-card"
      alt="Image Bg Recruiter"
    />
    <div class="logo-card-container">
      <img
        [lazyLoad]="logo"
        [defaultImage]="'assets/images/bg-recruiter'"
        class="logo-card"
        alt="Logo Recruiter"
      />
    </div>
  </div>
  <div class="contain">
    <div class="mb-1">
      <i class="fa-regular fa-folder me-2"></i>
      <span class="small">{{ type }}</span>
    </div>
    <div class="mb-1">
      <i class="fa-regular fa-user me-2"></i>
      <span class="small">500 Salariés</span>
    </div>
    <div class="mb-1">
      <i class="fa-regular fa-map me-2"></i>
      <span class="small">Casablanca</span>
    </div>

    <div class="body-card mt-3">
      <div class="card-right">
        <h5>{{ title }}</h5>
        <div class="info-small text-secondary mb-2">
          <div class="">
            <p>{{ caption }}</p>
          </div>
        </div>
      </div>
      <div class="footer-card"></div>
    </div>
  </div>
  <!-- <div class="card-recruiter">
  <div class="header-card">
    <img
      [lazyLoad]="imageBg"
      [defaultImage]="'assets/images/bg-recruiter'"
      class="img-bg-card"
      alt="Image Bg Recruiter"
    />
  </div>
  <div class="body-card">
    <div class="card-left">
      <img
        [lazyLoad]="logo"
        [defaultImage]="'assets/images/bg-recruiter'"
        class="logo-card"
        alt="Logo Recruiter"
      />
    </div>
    <div class="card-right">
      <h6>{{ title }}</h6>
      <div class="info-small text-secondary mb-2">
        <span class="small">{{ type }}</span>
        <span class="small" *ngIf="salaries != ''">{{ salaries }}</span>
      </div>
      <div class="">
        <p>{{ caption }}</p>
      </div>
    </div>
  </div>
  <div class="footer-card"></div>
</div> -->
</div>
