<div class="card-recruiter card-container">
  <div
    class="header-card mb-3 position-relative cursor-pointer"
    [routerLink]="link"
  >
    <img
      [lazyLoad]="imageBg"
      [defaultImage]="'assets/images/img-bg.jpg'"
      class="img-bg-card"
      alt="Image Bg Recruiter"
    />
    <div class="logo-card-container">
      <img
        [lazyLoad]="logo"
        [defaultImage]="'assets/images/logo-default.png'"
        class="logo-card"
        alt="Logo Recruiter"
      />
    </div>
  </div>
  <div class="contain">
    <div class="d-flex flex-row-reverse justify-content-between">
      <app-fav-button [id]="id" [pageName]="pageName"></app-fav-button>

      <div class="cursor-pointer" [routerLink]="link">
        <div class="mb-1">
          <i class="fa-regular fa-folder me-2"></i>
          <span class="small">{{ type }}</span>
        </div>
        <div class="mb-1">
          <i class="fa-regular fa-user me-2"></i>
          <span class="small">{{ salaries }} Salariés</span>
        </div>
        <div class="mb-1">
          <i class="fa-regular fa-map me-2"></i>
          <span class="small">{{ location }}</span>
        </div>
      </div>
    </div>
    <div class="body-card mt-2 cursor-pointer" [routerLink]="link">
      <div class="card-right">
        <h5>{{ title }}</h5>
        <div class="info-small-card mb-2">
          <div class="">
            <h6 class="m-0">{{ caption }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
