<div class="container">
  <!--fin de barre de recherche-->
  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="d-flex flex-main">
        <!-- BEGIN FILTERS -->
        <div class="section-recruteur spacing-inline-end mb-3">
          <app-filter [pageName]="'candidat'"></app-filter>
        </div>
        <!-- END FILTERS -->
        <!-- BEGIN RESULT -->
        <div class="col-md-8">
          <div class="section-recruteur mb-3 w-100">
            <h2 class="px-1" style="font-size: 25px;">
              Résultats des contidats
            </h2>
          </div>
          <div class="section-recruteur mb-3 w-100">
            <div class="flex-grow-1">
              <div class="">
                <app-top-bar
                  [pageName]="'candidat'"
                  [showOrientation]="true"
                  [data]="candidatService.condidats_list"
                  (filtredData)="filtredData($event)"
                  (orientationView)="getOrientaion($event)"
                ></app-top-bar>
              </div>

              <!-- BEGIN TABLE RESULT -->
              <hr />

              <div *ngIf="orientation == 'verticale'">
                <condida-c-cart-tow
                  *ngFor="
                    let c of resultData
                      | paginate: { itemsPerPage: 8, currentPage: paginate }
                  "
                  [routerLink]="['/Candidats/details', c.info.id]"
                  class=""
                  [available]="c.info.available"
                  [img]="c.info.img"
                  [last_name]="c.info.name.last_name"
                  [first_name]="c.info.name.first_name"
                  [age]="c.info.age"
                  [countrie]="c.info.address.countrie"
                  [city]="c.info.address.city"
                  [tital_job]="c.info.tital_job"
                  [years_of_ex]="c.info.job_post.years_of_ex"
                  [ed_lavel]="c.info.ed_lavel"
                  [tag]="c.info.tag"
                ></condida-c-cart-tow>
                <pagination-controls
                  class="text-center"
                  (pageChange)="paginate = $event"
                ></pagination-controls>
              </div>
              <div class="row m-1" *ngIf="orientation == 'horizontale'">
                <condida-c-card
                  *ngFor="
                    let c of resultData
                      | paginate: { itemsPerPage: 4, currentPage: paginate }
                  "
                  [routerLink]="['/Candidats/details', c.info.id]"
                  class="col-md-6"
                  [available]="c.info.available"
                  [img]="c.info.img"
                  [last_name]="c.info.name.last_name"
                  [first_name]="c.info.name.first_name"
                  [age]="c.info.age"
                  [countrie]="c.info.address.countrie"
                  [city]="c.info.address.city"
                  [tital_job]="c.info.tital_job"
                  [years_of_ex]="c.info.job_post.years_of_ex"
                  [ed_lavel]="c.info.ed_lavel"
                  [tag]="c.info.tag"
                ></condida-c-card>
                <pagination-controls
                  class="text-center"
                  (pageChange)="paginate = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END RESULT -->
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
