.commentlist li .comment-content {
  background-color: #fff;
  box-shadow: 0 0px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.comment-figure {
  width: 100px;
}
