<div class="flex-card col-12 align-items-center card-container">
  <div class="col-md-3 image text-center min-image">
    <img
      [routerLink]="link"
      [lazyLoad]="image"
      [defaultImage]="'assets/images/images pour offres/téléchargement.png'"
      alt=""
      class="img-fluid cursor-pointer"
      [class.smallImg]="reduireCard"
    />
  </div>
  <div class="min-content col-md-9">
    <div class="d-flex flex-column" style="margin-inline: 0.5em;">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <h3 [routerLink]="link" class="cursor-pointer m-0 card-custom-title">
          {{ Intitule }}
        </h3>
        <app-fav-button [pageName]="pageName" [id]="id"></app-fav-button>
        <!-- 
        <div class="favorite-offre">
          <button class="btn-fav" style="border-style: none;">
            <i class="far fa-heart"></i>
          </button>
        </div> -->
      </div>
      <h5>{{ Secteur }}</h5>
      <h6 *ngIf="!reduireCard">{{ TypePoste }}: {{ Poste }}</h6>
      <div class="" *ngIf="!reduireCard">
        <h6 class="h66" *ngIf="NomEntreprise && TypeEntreprise">
          {{ NomEntreprise }}:
          {{ TypeEntreprise }}
        </h6>
      </div>
      <div class="" *ngIf="!reduireCard">
        <h6 class="" *ngIf="dateDisponibilite">
          Disponible a partir de : {{ dateDisponibilite }}
        </h6>
      </div>

      <ul class="p-0 m-0" *ngIf="!reduireCard">
        <small class="text-muted">
          <div class="d-flex">
            <li class="padd">
              <i class="fa-solid fa-location-dot"></i>
              {{ Ville }}
            </li>

            <li class="padd" *ngIf="Date">
              <i class="fa-regular fa-calendar"></i>
              Publiée il y a:
              {{ Date }}
            </li>

            <li class="padd">
              <i class="fa-solid fa-file-contract"></i>
              {{ TypeContrat }}
            </li>
          </div>
          <div class="btn-container" *ngIf="showBtn" [routerLink]="link">
            <button type="button" class="btn btn-success">
              Voir plus +
            </button>
          </div>
        </small>
      </ul>
    </div>
  </div>

  <br />
</div>
