<div
  class="flex-card col-12 align-items-center"
  style="
    border-bottom: 1px solid #c7c3c3;
    padding-bottom: 5px;
    margin-bottom: 6px;
  "
>
  <div class="col-md-3 image text-center">
    <img
      [routerLink]="link"
      [lazyLoad]="image"
      [defaultImage]="'assets/images/images pour offres/téléchargement.png'"
      alt=""
      class="img-fluid cursor-pointer"
      [class.smallImg]="reduireCard"
    />
  </div>
  <div class="product col-md-9">
    <div class="d-flex flex-column" style="margin-inline: 0.5em;">
      <div class="flexible-title">
        <h5 [routerLink]="link" class="card-title cursor-pointer">
          {{ Intitule }}
        </h5>

        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          ></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngIf="!reduireCard"
              (click)="reduireCard = !reduireCard"
            >
              Reduire
            </a>
            <a
              class="dropdown-item"
              *ngIf="reduireCard"
              (click)="reduireCard = !reduireCard"
            >
              Etendre
            </a>

            <a class="dropdown-item">Ajouter Au Favoris</a>
            <a class="dropdown-item">Partager</a>
          </div>
        </div>
        <!-- 
        <div class="favorite-offre">
          <button class="btn-fav" style="border-style: none;">
            <i class="far fa-heart"></i>
          </button>
        </div> -->
      </div>
      <h5>{{ Secteur }}</h5>
      <h6 *ngIf="!reduireCard">{{ TypePoste }}: {{ Poste }}</h6>
      <div class="" *ngIf="!reduireCard">
        <h6 class="h66" *ngIf="NomEntreprise && TypeEntreprise">
          {{ NomEntreprise }}:
          {{ TypeEntreprise }}
        </h6>
      </div>
      <div class="" *ngIf="!reduireCard">
        <h6 class="" *ngIf="dateDisponibilite">
          Disponible a partir de : {{ dateDisponibilite }}
        </h6>
      </div>

      <ul class="p-0 m-0" *ngIf="!reduireCard">
        <small class="text-muted">
          <div class="d-flex">
            <li class="padd">
              <i class="fa-solid fa-location-dot"></i>
              {{ Ville }}
            </li>

            <li class="padd" *ngIf="Date">
              <i class="fa-regular fa-calendar"></i>
              Publiée il y a:
              {{ Date }}
            </li>

            <li class="padd">
              <i class="fa-solid fa-file-contract"></i>
              {{ TypeContrat }}
            </li>
          </div>
          <div class="btn-container" *ngIf="showBtn" [routerLink]="link">
            <button type="button" class="btn btn-success">
              Voir plus +
            </button>
          </div>
        </small>
      </ul>
    </div>
  </div>

  <br />
</div>
