<!-- #region old -->
<!-- class="col-sm-6 col-lg-4" -->
<!--
<!--  -->
<!-- <div class="bg-card">
  <div class="feature-box-1 bg-info components">
    <div class="row">
      <div class="col-5">
        <!-- <div class="m-1">
          <img
            [lazyLoad]="img"
            [defaultImage]="'assets/images/bg-recruiter'"
            width="110"
            height="110"
            class="card-imgg shadow p-1"
            alt="Logo Recruiter"
          />
        </div> -->
        <!-- <div class="job_type">
          <span class="job_type_in">Full time</span>
        </div>
      </div>
      <div class="col-7">
        <p class="card-namee">
          {{ name }}
        </p>
        <p class="address">
          <i class="fa-solid fa-location-dot"></i>
           {{ address }}
        </p>
        <p
         class="age"
         >{{ age }} years old
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 height_light ">



        <div class="col-9">
          <p class="tital_job">{{ tital_job }}</p>
          <p class="years_of_ex">{{ years_of_ex }}</p>
          <p class="ed_lavel">{{ ed_lavel }}</p>
        </div>
      </div>
    </div>
    <div class="row">


        <div class=" tags">
            <span class="badge badge_bg">Primary</span>
            <span class="badge badge_bg">Secondary</span>
            <span class="badge badge_bg">Success</span>
            <span class="badge badge_bg">Danger</span>
            <span class="badge badge_bg">Warning</span>
            <span class="badge badge_bg">Info</span>
            <span class="badge badge_bg">Light</span>
            <span class="badge badge_bg">Dark</span>
        </div>


        <div class="d-grid">
          <a  class="btn more btn-white radius-15">more</a>
        </div>

    </div>
  </div> -->
<!-- </div> --> 

<!-- #endregion -->



















<div class="row col-12 align-items-center" style="
    border-bottom: 1px solid #c7c3c3;
    padding-bottom: 5px;
    margin-bottom: 6px;
  ">
  <div class="col-md-3 image">
          <img [lazyLoad]="img" [defaultImage]="'assets/images/bg-recruiter'" width="110" height="110"
            class="" alt="Logo Recruiter" />
  </div>
  <div class="product col-md-9" style="line-height: 1.42857143; vertical-align: top;">
    <div class="card-body d-flex flex-column">
      <div class="row">
      <div class="col-7">
        <p class="card-namee">
          {{ name }}
        </p>
        <p class="address">
          <i class="fa-solid fa-location-dot"></i>
          {{ address }}
        </p>
        <p class="age">{{ age }} years old
        </p>
      </div>
      </div>



      <ul class="p-0">
        <small class="text-muted" style="
            list-style: none;
            display: flex;
            margin-bottom: 0.5rem;
            justify-content: space-between;
            align-items: center;
          ">




   <li>
        <p class="tital_job">{{ tital_job }}</p>
        <p class="years_of_ex">{{ years_of_ex }}</p>
        <p class="ed_lavel">{{ ed_lavel }}</p>
   </li>



          <li>
            <button type="button" class="btn btn-success">
              more info +
            </button>
          </li>
        </small>
      </ul>
    </div>
  </div>

  <br />
</div>





