<!-- class="col-sm-6 col-lg-4" -->

<!-- feaure box -->
<div class="">
  <div class="feature-box-1 bg-info">
    <div class="row">
      <div class="col-5">
        <div class="m-1">
          <img
            [lazyLoad]="img"
            [defaultImage]="'assets/images/bg-recruiter'"
            width="110"
            height="110"
            class="rounded-circle card-imgg shadow p-1"
            alt="Logo Recruiter"
          />
        </div>
      </div>
      <div class="col-7">
        <p class="card-namee">
          {{ name }}
        </p>
        <p class="address">
          <i class="fa-solid fa-location-dot"></i>
           {{ address }}
        </p>
        <p
         class="age"
         >{{ age }} years old
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-10 height_light row">
        <div class="col-3">
          <div class="ld">
            <i class="number">LD</i>
          </div>
          <div class="p-20px-l">
            <span class="">Full time</span>
          </div>
        </div>
        <div class="col-9">
          <p class="">{{ tital_job }}</p>
          <p class="">{{ years_of_ex }}</p>
          <p class="">{{ ed_lavel }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="feature-content">
        <span class=""></span>
        <div class="list-inline contacts-social mt-3 mb-3">
          <a class="list-inline-item"><i class="fa-brands fa-facebook"></i></a>
          <a class="list-inline-item"><i class="fa-brands fa-twitter"></i></a>
          <a class="list-inline-item"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="d-grid">
          <a href="#" class="btn btn-white radius-15">more</a>
        </div>
      </div>
    </div>
  </div>
</div>
