.img-fluid {
  max-height: 200px;
}
.padd {
  padding-right: 12px;
}

.text-muted {
  font-size: 13px;
}
.card-body {
  padding-top: 20px;
  align-items: center;
}
.text-justify {
  text-align: center;
}
.btn-fav {
  font-size: 15px;
}
.row {
  align-items: baseline;
}
.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}
