<div class="d-flex flex-column col-12 align-items-center h-100 card-container">
  <div class="image">
    <img
      [routerLink]="link"
      [lazyLoad]="image"
      [defaultImage]="'assets/images/images pour offres/téléchargement.png'"
      alt="img-card"
      class="img-fluid cursor-pointer"
      style="margin-inline-end: 13px;"
    />
  </div>

  <div class="h-100">
    <div class="card-body d-flex flex-column justify-content-between h-100">
      <div class="d-flex align-items-center mb-3">
        <h3 class="cursor-pointer mb-0 card-custom-title" [routerLink]="link">
          {{ Intitule }}
        </h3>
        <app-fav-button [pageName]="pageName" [id]="id"></app-fav-button>
      </div>
      <h5 *ngIf="Secteur">{{ Secteur }}</h5>
      <div *ngIf="TypePoste && Poste">
        <h6 class="text-justify" *ngIf="!reduireCard">
          {{ TypePoste }}: {{ Poste }}
        </h6>
      </div>
      <div class="" *ngIf="!reduireCard">
        <h6 class="h66" *ngIf="NomEntreprise && TypeEntreprise">
          {{ NomEntreprise }}:
          {{ TypeEntreprise }}
        </h6>
      </div>
      <div class="" *ngIf="!reduireCard">
        <h6 *ngIf="dateDisponibilite">
          Disponible à partir de :
          {{ dateDisponibilite }}
        </h6>
      </div>
      <div *ngIf="Ville && Date && TypeContrat">
        <ul class="p-0" *ngIf="!reduireCard">
          <small
            class="text-muted"
            style="
              list-style: none;
              display: flex;
              margin-bottom: 0.5rem;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div class="d-flex">
              <li class="padd">
                <i class="fa-solid fa-location-dot"></i>
                {{ Ville }}
              </li>

              <li class="padd">
                <i class="fa-regular fa-calendar"></i>
                Publiée il y a:
                {{ Date }}
              </li>

              <li class="padd">
                <i class="fa-solid fa-file-contract"></i>
                {{ TypeContrat }}
              </li>
            </div>
            <li></li>
          </small>
        </ul>
      </div>
      <button [routerLink]="link" type="button" class="btn btn-success">
        Voir plus +
      </button>
    </div>
  </div>
</div>
