

<div class="max">

  <app_app_slider

   [id]="slide_info.id"
   [width]="slide_info.details.width"
   [height]="slide_info.details.height"
   [Arrows_btns]="slide_info.details.Arrows_btns"
   [keybourd_arrows_for_switching_slides]="slide_info.details.keybourd_arrows_for_switching_slides"
   [Arrows]="slide_info.details.Arrows"
   [footer]="slide_info.details.footer"
   [time_btwn_slide]="slide_info.details.time_btwn_slide"
   [animation]="slide_info.details.animation"
   [info]="slide_info.details.info"
 >
 </app_app_slider>
</div>


