svg {
  width: 35px;
  margin-inline-end: 1em;
}
.top-header-quiz {
  width: 100%;
  position: relative;
  //   background-color: #220bab;
  background: linear-gradient(90deg, rgb(31, 112, 193), #220bab);

  padding: 5em 0 calc(5em + 70px);
  color: #fff;
}
.body-quiz-detail {
  top: -70px;
  position: relative;
}
