<div class="top-header-quiz">
  <div class="container h-100">
    <div
      class="d-flex flex-column align-items-center justify-content-evenly h-100"
    >
      <h2 class="mb-5">{{ quiz.titre }}</h2>
      <h4 class="mb-5">
        QCM avec réponses pour évaluer vos connaissances et préparer vos
        entretiens d'embauche.
      </h4>

      <div class="row mb-5 justify-content-center">
        <div class="col-md-3 d-flex align-items-center">
          <span class="">
            <svg
              class="stroke-white fill-white w-[60%] h-[60%]"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="m8.476 28.832-6.342 10.95a1 1 0 0 0 1.032 1.488l5.6-.948 1.95 5.358a1 1 0 0 0 1.8.17l5.446-9.214M39.524 28.832l6.342 10.95a1 1 0 0 1-1.032 1.488l-5.6-.948-1.95 5.358a1 1 0 0 1-1.8.17l-5.446-9.214"
                  stroke-width="2"
                ></path>
                <path
                  d="M5.968 19.66a18 18 0 1 0 36 0 18 18 0 1 0-36 0z"
                  stroke-width="2"
                ></path>
                <path
                  d="m25.144 10.378 2.564 5.288h5a1.226 1.226 0 0 1 .854 2.134l-4.332 4.27 2.4 5.522a1.308 1.308 0 0 1-1.862 1.636l-5.8-3.268-5.8 3.268a1.308 1.308 0 0 1-1.862-1.636l2.4-5.522-4.332-4.27a1.224 1.224 0 0 1 .858-2.138h5l2.568-5.284a1.322 1.322 0 0 1 2.344 0z"
                  stroke-width="2"
                ></path>
              </g>
            </svg>
          </span>
          <span
            class="ds-font-avenir ds-text-dark-500 ds-text-base"
            style="color: rgb(255, 255, 255);"
          >
            Validez et mettez en avant vos compétences
          </span>
        </div>

        <div class="col-md-3 d-flex align-items-center">
          <span class="">
            <svg
              class="stroke-white fill-white w-[60%] h-[60%]"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="m8.476 28.832-6.342 10.95a1 1 0 0 0 1.032 1.488l5.6-.948 1.95 5.358a1 1 0 0 0 1.8.17l5.446-9.214M39.524 28.832l6.342 10.95a1 1 0 0 1-1.032 1.488l-5.6-.948-1.95 5.358a1 1 0 0 1-1.8.17l-5.446-9.214"
                  stroke-width="2"
                ></path>
                <path
                  d="M5.968 19.66a18 18 0 1 0 36 0 18 18 0 1 0-36 0z"
                  stroke-width="2"
                ></path>
                <path
                  d="m25.144 10.378 2.564 5.288h5a1.226 1.226 0 0 1 .854 2.134l-4.332 4.27 2.4 5.522a1.308 1.308 0 0 1-1.862 1.636l-5.8-3.268-5.8 3.268a1.308 1.308 0 0 1-1.862-1.636l2.4-5.522-4.332-4.27a1.224 1.224 0 0 1 .858-2.138h5l2.568-5.284a1.322 1.322 0 0 1 2.344 0z"
                  stroke-width="2"
                ></path>
              </g>
            </svg>
          </span>
          <span
            class="ds-font-avenir ds-text-dark-500 ds-text-base"
            style="color: rgb(255, 255, 255);"
          >
            Validez et mettez en avant vos compétences
          </span>
        </div>

        <div class="col-md-3 d-flex align-items-center">
          <span class="">
            <svg
              class="stroke-white fill-white w-[60%] h-[60%]"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="m8.476 28.832-6.342 10.95a1 1 0 0 0 1.032 1.488l5.6-.948 1.95 5.358a1 1 0 0 0 1.8.17l5.446-9.214M39.524 28.832l6.342 10.95a1 1 0 0 1-1.032 1.488l-5.6-.948-1.95 5.358a1 1 0 0 1-1.8.17l-5.446-9.214"
                  stroke-width="2"
                ></path>
                <path
                  d="M5.968 19.66a18 18 0 1 0 36 0 18 18 0 1 0-36 0z"
                  stroke-width="2"
                ></path>
                <path
                  d="m25.144 10.378 2.564 5.288h5a1.226 1.226 0 0 1 .854 2.134l-4.332 4.27 2.4 5.522a1.308 1.308 0 0 1-1.862 1.636l-5.8-3.268-5.8 3.268a1.308 1.308 0 0 1-1.862-1.636l2.4-5.522-4.332-4.27a1.224 1.224 0 0 1 .858-2.138h5l2.568-5.284a1.322 1.322 0 0 1 2.344 0z"
                  stroke-width="2"
                ></path>
              </g>
            </svg>
          </span>
          <span
            class="ds-font-avenir ds-text-dark-500 ds-text-base"
            style="color: rgb(255, 255, 255);"
          >
            Validez et mettez en avant vos compétences
          </span>
        </div>
      </div>

      <button
        class="btn btn-outline-light"
        [routerLink]="['/quiz/quiz-question']"
      >
        Demarrer le Test
      </button>
    </div>
  </div>
</div>
<div class="container body-quiz-detail">
  <div class="row">
    <div class="col-md-7">
      <div class="section-recruteur me-1">
        <h4>Caratéristiques du test</h4>

        <div class="my-3">
          <p class="d-flex align-items-center">
            <p-rating
              [ngModel]="quiz.note"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
            <span>&nbsp; {{ quiz.note }}</span>
            <!-- <ngb-rating [(rate)]="{{note| number}}" [readonly]="true" [max]="5"></ngb-rating> -->
          </p>
          <p>
            <i class="fa-regular fa-file-lines"></i>
            {{ quiz.nbQuestions }}&nbsp; Questions
          </p>
          <p>
            <i class="fa-brands fa-connectdevelop"></i>
            {{ quiz.niveau }}
          </p>
          <p>
            <i class="fa-solid fa-calendar-day"></i>
            {{ quiz.date | date: 'MMMM YYYY' }}
          </p>
        </div>

        <div class="" *ngFor="let detail of quiz.details">
          <h5>{{ detail.designation }}</h5>
          <p>{{ detail.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="section-recruteur ms-1">
        <div class="col-lg-12 bl-quiz py-3">
          <div class="col-md-12 col-sm-12">
            <img
              height="auto"
              width="100%"
              mat-card-image
              [defaultImage]="'assets/images/quiz.jpg'"
              class="image"
              [lazyLoad]="quiz?.image"
              alt="post"
            />
          </div>

          <div class="col-md-12">
            <h2 class="py-2 j-title-md blue-color">
              {{ 'question.statis' | translate }}
            </h2>
            <p class="j-description j-resume-lg">
              <span>{{ 'question.nbr_quest' | translate }}</span>
              &nbsp;
              <span>{{ quiz?.question_quiz?.length }}</span>
            </p>
            <p class="j-description j-resume-lg">
              <span>{{ 'question.nbr_participations' | translate }}</span>
              &nbsp;
              <span>{{ quiz?.participation_quiz.length }}</span>
            </p>
          </div>
          <hr />
          <div class="w-100" *ngIf="nb_participant">
            <div class="row col-md-12">
              <ul class="col-md-6 no-style-list">
                <li class="j-description j-resume-lg">
                  {{ 'statistique_quiz.meilleur_score' | translate }}&nbsp;{{
                    scores.maxScore
                  }}/{{ table_question.length }}
                </li>
                <li class="j-description j-resume-lg">
                  {{ 'statistique_quiz.score_moyen' | translate }}&nbsp;{{
                    scores.moyenScore | number: '1.2-2'
                  }}/{{ table_question.length }}
                </li>
                <li class="j-description j-resume-lg">
                  {{ 'statistique_quiz.dernier_score' | translate }}&nbsp;{{
                    scores.minScore
                  }}/{{ table_question.length }}
                </li>
              </ul>
              <ul class="col-md-6 no-style-list">
                <li class="j-description j-resume-lg">
                  {{ 'statistique_quiz.meilleur_note' | translate }}&nbsp;{{
                    notes.maxNote
                  }}/{{ evaluationNote }}
                </li>
                <li class="j-description j-resume-lg">
                  {{ 'statistique_quiz.note_moyen' | translate }}&nbsp;{{
                    notes.moyenneNote | number: '1.2-2'
                  }}/{{ evaluationNote }}
                </li>
                <li class="j-description j-resume-lg">
                  {{ 'statistique_quiz.dernier_note' | translate }}&nbsp;{{
                    notes.minNote
                  }}/{{ evaluationNote }}
                </li>
              </ul>
            </div>
            <hr />
            <div class="col-md-12">
              <h4 class="py-2 font-weight-bold">
                {{ 'statistique_quiz.nbr_personne' | translate }}
              </h4>
              <ul *ngFor="let s of statistique_score" class="col-md-12 row">
                <li
                  style="list-style-type: square;"
                  class="j-description j-resume-lg"
                >
                  {{ s.N_Reponses_Correctes }}&nbsp;
                  {{ 'statistique_quiz.reponse_juste' | translate }}
                  {{ s.Nombre_N_Reponses_Justes }}
                </li>
              </ul>
            </div>
            <hr />
            <div class="col-md-12">
              <h4 class="py-2 font-weight-bold">
                {{ 'statistique_quiz.res_qst' | translate }}
              </h4>
              <table class="col-md-12">
                <tr style="border-bottom: 1px solid rgba(0 0 0 / 20%);">
                  <th
                    class="j-description j-resume-lg"
                    style="
                      font-weight: 500;
                      border-right: 1px solid rgba(0 0 0 / 20%);
                    "
                  >
                    {{ 'addRub.Question' | translate }}
                  </th>
                  <th
                    class="j-description j-resume-lg"
                    style="font-weight: 500; text-align: center;"
                  >
                    {{ 'statistique_quiz.nb_j' | translate }}
                  </th>
                </tr>
                <tr *ngFor="let sq of statistique_qst; let i = index">
                  <td
                    class="j-description j-resume-lg"
                    style="border-right: 1px solid rgba(0 0 0 / 20%);"
                  >
                    {{ sq.qst }}
                  </td>
                  <td
                    class="j-description j-resume-lg"
                    style="text-align: center;"
                  >
                    {{ sq.nb_j }}/{{ nb_participant }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
