<!-- <div [routerLink]="link" class="card card-background">
  <div class="image">
    <img
      [lazyLoad]="Image"
      [defaultImage]="'assets/images/metier.jpg'"
      class="image"
      alt="Image métier"
    />
  </div>
  <div class="content">
    <h5 class="card-custom-title text-white">
      {{ Intitule }}
    </h5>
  </div>
  <div class="footer">
    <div class="author">
      <a href="#">
        <span>{{ Secteur }}</span>
      </a>
    </div>
  </div>
</div> -->
<div [routerLink]="link" class="card-container h-100">
  <div class="img-container">
    <img
      [lazyLoad]="Image"
      [defaultImage]="'assets/images/metier.jpg'"
      class="img-fluid"
      alt="Image métier"
    />
  </div>
  <div class="body d-flex flex-column justify-content-between">
    <h4 class="card-custom-title my-3">
      {{ Intitule }}
    </h4>
    <div class="">
      <p>
        <i class="fa-solid fa-graduation-cap"></i>
        : Bac+2
      </p>
      <p>
        <i class="fa-solid fa-money-bill-wave"></i>
        : A partir de : 2500 Dh/Mois
      </p>
    </div>
    <div class="info-small-card">
      <div class="author">
        <p>
          <span>
            <i class="fa-solid fa-network-wired"></i>
            : {{ Secteur }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
