<div class="row col-12 align-items-center" style="
    border-bottom: 1px solid #c7c3c3;
    padding-bottom: 5px;
    margin-bottom: 6px;
  ">
  <div class="col-md-3 image">
    <img src="{{img}}" alt="" class="img-fluid"
      style="margin-inline-end: 13px;" />
  </div>
  <div class="product col-md-9 p-5 " style="line-height: 1.42857143; vertical-align: top;">
    <div class="">
      <div class="row">
        <h5 class="col-md-9 card-title"> {{last_name}} {{first_name}}</h5>
        <div class="favorite-offre col-md-3">
          <button class="btn-fav" style="border-style: none;">
            <i class="far fa-heart"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
              <h6 class="h6">
                {{tital_job}}
              </h6>
              {{years_of_ex}}: yearsof experince <br>
              {{ed_lavel}}
              {{age}} yeas old

              <ul class="p-0">
                <small class="text-muted" style="
                          list-style: none;
                          display: flex;
                          margin-bottom: 0.5rem;
                          justify-content: space-between;
                          align-items: center;
                        ">
                  <div class="d-flex">
                    <li class="padd">
                      <i class="fa-solid fa-location-dot"></i>
                      {{countrie}}/{{city}}
                    </li>
                  </div>

                </small>
              </ul>
        </div>
        <div class="col-3">
                    <button type="button" class="btn btn-success">
                      Voir plus +
                    </button>
        </div>
      </div>

    </div>
  </div>

  <br />
</div>
