<div class="row col-12 align-items-center card-container">
  <div class="col-md-3 image text-center" [routerLink]="link">
    <img
      src="{{ img }}"
      alt=""
      class="img-fluid"
      style="margin-inline-end: 13px;"
    />
  </div>
  <div class="product col-md-9">
    <div class="">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0 card-custom-title">{{ last_name }} {{ first_name }}</h3>
        <app-fav-button [pageName]="pageName" [id]="id"></app-fav-button>
      </div>
      <div class="" [routerLink]="link">
        <h6 class="h6">
          {{ tital_job }}
        </h6>
        {{ years_of_ex }}: years of experince
        <br />
        {{ ed_lavel }}
        {{ age }} years old

        <ul class="p-0">
          <small class="text-muted">
            <div class="d-flex">
              <li class="padd">
                <i class="fa-solid fa-location-dot"></i>
                {{ countrie }}/{{ city }}
              </li>
            </div>
            <div class="">
              <button type="button" class="btn btn-success">
                Voir plus +
              </button>
            </div>
          </small>
        </ul>
      </div>
    </div>
  </div>

  <br />
</div>
