<div *ngIf="condida_data" class="container">
  <div class="section-recruteur mb-3">
    <div class="row g-0">
      <div class="col-md-3 text-center">
        <img
          [lazyLoad]="condida_data?.image"
          [defaultImage]="'assets/images/user.png'"
          class="img_profile img-fluid"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body p-0" style="margin-top: 18px;">
          <h1
            class="card-title"
            style="font-size: 25px; margin-top: 22px; margin-bottom: 13px;"
          >
            &nbsp;&nbsp;
            <i class="fa-solid fa-user"></i>
            {{ condida_data?.translations?.fr?.nom }}
            {{ condida_data?.translations?.fr?.prenom }}
            |
            <span style="font-size: 20px; padding-bottom: 0px;">
              {{ condida_data?.translations?.fr?.nationalite }}
            </span>
          </h1>
          <h5 class="poste">
            &nbsp;&nbsp;&nbsp;
            <i class="fa-solid fa-briefcase"></i>
            {{ condida_data?.translations?.fr?.profession }}
          </h5>
          <h6
            style="color: #4c4a4a; font-size: 20px; margin-bottom: 13px;"
            class="card-text"
          >
            &nbsp;&nbsp;&nbsp;
            <i class="fa-solid fa-calendar-days"></i>
            : {{ condida_data?.dateNaissance | date: 'dd/MM/yyyy' }}
          </h6>
          <ul
            style="
              list-style: none;
              display: flex;
              padding: 0;
              margin-bottom: 13px;
              color: #6e6b6b;
            "
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li style="margin-right: 20px;">
              <i class="fa-solid fa-envelope"></i>

              {{ condida_data?.email }}
            </li>
            <li style="margin-right: 20px;">
              <i class="fa-solid fa-phone"></i>

              {{ condida_data?.telephone }}
            </li>
          </ul>

          <div class="row fiche1">
            <ul class="p-0 col-md-6">
              <small
                class="text-muted"
                style="list-style: none; display: flex; font-size: 15px;"
              >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li>
                  <i class="fa-solid fa-location-dot"></i>
                  {{ condida_data?.cordonneesGeo?.translations?.fr?.adresse }}
                  {{ condida_data?.cordonneesGeo?.translations?.fr?.ville }} |
                  {{ condida_data?.cordonneesGeo?.translations?.fr?.pays }}
                </li>
              </small>
            </ul>
            <ul class="col-md-6 socialMedia1">
              <li class="socialMedia">
                <p class="">{{ 'offre.partager' | translate }}:</p>
              </li>
              <li>
                <div class="addthis_inline_share_toolbox_hvun"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9" [class.col-md-12]="!isPrincipale">
      <div class="section-recruteur">
        <!-- <h5>Détails de l'offre</h5> -->
        <p-tabView>
          <!-- <p-tabPanel header="{{ 'Education' | translate }}">
            <p-accordion *ngFor="let i of condida_data.info.education">
              <p-accordionTab  header="{{ i.education_name }}">
                <div class="">
                  <div class="d-flex justify-content-between">
                    <div>
                      <div class="">
                        <h3 class="">{{ i.education_school | titlecase }}</h3>
                      </div>
                    </div>

                    <div class="d-flex align-items-center flex-row">
                      <p class="me-1">From</p>
                      <P class="me-1">
                        {{ i.education_start_date | date: 'dd-MM-yyyy' }}
                      </P>
                      <p class="me-1">To</p>
                      <p class="me-1">
                        {{ i.education_end_date | date: 'dd-MM-yyyy' }}
                      </p>

                      <div class="w-100">
                        <i class="fa fa-map-marker me-1"></i>
                        {{ i.education_city | titlecase }}
                      </div>
                    </div>
                  </div>

                  <ul class="ul-one">
                    <li class="li-one">
                      <p class="education_description">
                        {{ i.education_description }}
                      </p>
                    </li>
                    <hr />

                    <li class="li-one">
                      <div class="">
                        <div class="mb-2">
                          <div class="mb-3" *ngFor="let k of i.deplome">
                            <h4 class="">
                              {{ 'diplome' | titlecase | translate }}
                            </h4>
                            <div class="none_list sub_ul_col">
                              <h5 class="">{{ k.deplome_name }}</h5>
                              <div class="sub_li" *ngIf="k.deplome_description">
                                <P class="sub_li_d">
                                  {{ k.deplome_description }}
                                </P>
                              </div>
                              <li>
                                <ul class="none_list li-one">
                                  <li class="d-flexx" *ngIf="k.deplome_img">
                                    <a class="btnn btn btn-secondary" href="#">
                                      view doc
                                    </a>
                                  </li>
                                  <li class="sub_li" *ngIf="k.deplome_url">
                                    <a class="btnn btn btn-secondary" href="#">
                                      view onlin
                                    </a>
                                  </li>
                                </ul>
                              </li>
                            </div>
                          </div>
                        </div>
                        <div class="my-2">
                          <div
                            class="ed_sub_box"
                            *ngFor="let k of i.srtificate"
                          >
                            <h4 class="">
                              {{ 'Certificat' | titlecase | translate }}
                            </h4>
                            <div class="none_list sub_ul_col">
                              <h5 class="">
                                {{ k.srtificate_name }}
                              </h5>
                              <ng-container
                                class="sub_li"
                                *ngIf="k.srtificate_description"
                              >
                                <P class="sub_li_d">
                                  {{ k.srtificate_description }}
                                </P>
                              </ng-container>
                              <li>
                                <ul class="none_list li-one">
                                  <li class="d-flexx" *ngIf="k.srtificate_img">
                                    <a class="btnn btn btn-secondary" href="#">
                                      view doc
                                    </a>
                                  </li>
                                  <li class="sub_li" *ngIf="k.srtificate_url">
                                    <a class="btnn btn btn-secondary" href="#">
                                      view onlin
                                    </a>
                                  </li>
                                </ul>
                              </li>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel> -->
          <!-- Education Update -->
          <!--2-->
          <p-tabPanel header="{{ 'Formation' | translate }}">
            <p-accordion *ngFor="let formation of condida_data?.formation">
              <p-accordionTab
                [selected]="true"
                class="accordion-tab-title"
                header="{{
                  formation?.translations?.fr?.reconnaissance | titlecase
                }} 
      
                  {{ formation?.translations?.fr?.intitule }}
                  {{ formation?.dateFin | date: 'MM-yyyy' }}"
              >
                <div>
                  <div
                    class="row align-items-center"
                    *ngIf="!formation.typeObjet"
                  >
                    <div class="col-md-6 text-center">
                      <div
                        class="d-flex align-items-center flex-row justify-content-center"
                      >
                        <h6 class="me-1">Du :</h6>
                        <h6 class="me-1">
                          {{ formation?.dateDebut | date: 'MM/yyyy' }}
                        </h6>
                        <h6 class="me-1">- A :</h6>
                        <h6 class="me-1">
                          {{ formation?.dateFin | date: 'MM/yyyy' }}
                        </h6>
                      </div>
                      <div class="text-center">
                        <div
                          class="d-flex align-items-center justify-content-center"
                        >
                          <h5>
                            {{
                              formation?.translations?.fr?.reconnaissance
                                | titlecase
                            }}
                          </h5>
                          <span>-</span>
                          <h5>
                            {{
                              formation?.translations?.fr?.typeFormation
                                | titlecase
                            }}
                          </h5>
                          <span>-</span>
                          <h5>
                            {{
                              formation?.translations?.fr?.natureFormation
                                | titlecase
                            }}
                          </h5>
                        </div>
                        <h5>
                          {{
                            formation?.translations?.fr?.niveauEtude | titlecase
                          }}
                        </h5>
                        <h5>{{ formation?.translations?.fr?.intitule }}</h5>
                        <h6>
                          {{ formation?.translations?.fr?.nomEtablisement }}
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <h5>
                        {{ formation?.translations?.fr?.nomEtablisement }}
                      </h5>
                      <h6>
                        {{ formation?.translations?.fr?.pays }}
                      </h6>
                      <h6>
                        {{ formation?.translations?.fr?.ville }}
                      </h6>
                      <!-- <p class="education_description">
                        {{ formation?.translations?.fr?.description }}
                      </p> -->
                    </div>
                  </div>

                  <div
                    class="row align-items-center"
                    *ngIf="formation.typeObjet"
                  >
                    <div class="col-md-6 pr position-relative">
                      <img
                        (click)="
                          openFullScreenFile(
                            iframeModal,
                            formation?.cheminAssocie,
                            formation.typeObjet
                          )
                        "
                        *ngIf="formation.typeObjet == 'image'"
                        [lazyLoad]="formation?.cheminAssocie"
                        [defaultImage]="'assets/images/user.png'"
                        height="250px"
                        class="img-fluid img-frame"
                      />
                      <div class="iframeContainer">
                        <div
                          class="absoluteDiv"
                          (click)="
                            openFullScreenFile(
                              iframeModal,
                              formation?.cheminAssocie,
                              formation.typeObjet
                            )
                          "
                        ></div>

                        <iframe
                          class="fullScreen"
                          *ngIf="formation.typeObjet == 'pdf'"
                          [src]="transformUrl(formation?.cheminAssocie)"
                          frameborder="1"
                          scrolling="auto"
                          width="100%"
                        ></iframe>
                        <iframe
                          *ngIf="formation.typeObjet == 'link'"
                          [src]="transformUrl(formation?.cheminAssocie)"
                          frameborder="1"
                          scrolling="auto"
                          height="350px"
                          width="100%"
                        ></iframe>
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <div
                        class="d-flex align-items-center flex-row justify-content-center"
                      >
                        <h6 class="me-1">Du :</h6>
                        <h6 class="me-1">
                          {{ formation?.dateDebut | date: 'MM/yyyy' }}
                        </h6>
                        <h6 class="me-1">- A :</h6>
                        <h6 class="me-1">
                          {{ formation?.dateFin | date: 'MM/yyyy' }}
                        </h6>
                      </div>
                      <div class="text-center">
                        <div
                          class="d-flex align-items-center justify-content-center"
                        >
                          <h5>
                            {{
                              formation?.translations?.fr?.reconnaissance
                                | titlecase
                            }}
                          </h5>
                          <span>&nbsp; - &nbsp;</span>
                          <h5>
                            {{
                              formation?.translations?.fr?.typeFormation
                                | titlecase
                            }}
                          </h5>
                          <span>&nbsp; - &nbsp;</span>
                          <h5>
                            {{
                              formation?.translations?.fr?.natureFormation
                                | titlecase
                            }}
                          </h5>
                        </div>
                        <h5>
                          {{
                            formation?.translations?.fr?.niveauEtude | titlecase
                          }}
                        </h5>
                        <h5>{{ formation?.translations?.fr?.intitule }}</h5>
                        <h6>
                          {{ formation?.translations?.fr?.nomEtablisement }}
                        </h6>
                      </div>
                      <div class="">
                        <h5>
                          {{ formation?.translations?.fr?.nomEtablisement }}
                        </h5>
                        <h6>
                          {{ formation?.translations?.fr?.pays }}
                        </h6>
                        <h6>
                          {{ formation?.translations?.fr?.ville }}
                        </h6>
                        <!-- <p class="education_description">
                          {{ formation?.translations?.fr?.description }}
                        </p> -->
                      </div>
                    </div>
                  </div>

                  <!-- <div class="info-small-card">
          <ul class="d-flex flex-wrap">
            <div class="my-2 col-md-6">
              <h5 class="education_description">
                {{ 'Mon Role :  ' | titlecase | translate }}
              </h5>
              <ul class="">
                <li
                  class="d-flexx lista"
                  *ngFor="let k of i.experience_roul"
                >
                  {{ k }}
                </li>
              </ul>
            </div>
            <div class="my-2 col-md-6">
              <h5 class="">
                {{ 'what i learn' | titlecase | translate }}
              </h5>
              <ul class="">
                <li
                  class="d-flexx lista"
                  *ngFor="let k of i.experience_he_gine"
                >
                  {{ k }}
                </li>
              </ul>
            </div>
          </ul>
          <ng-container *ngIf="i.srtificate">
            <div class="ed_sub_box" *ngFor="let k of i.srtificate">
              <p class="ed-sub-t">
                {{ 'deplome' | titlecase | translate }}
              </p>
              <ul class="none_list sub_ul_col">
                <li class="sub_li" *ngIf="k.srtificate_description">
                  <P class="sub_li_d">
                    {{ k.srtificate_description }}
                  </P>
                </li>

                <li>
                  <ul class="none_list li-one">
                    <li class="d-flexx" *ngIf="k.srtificate_img">
                      <a class="btnn btn btn-secondary" href="#">
                        view doc
                      </a>
                    </li>
                    <li class="sub_li" *ngIf="k.srtificate_url">
                      <a class="btnn btn btn-secondary" href="#">
                        view onlin
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </ng-container>
        </div> -->
                </div>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel>
          <!--2-->
          <p-tabPanel header="{{ 'Experience' | translate }}">
            <p-accordion *ngFor="let i of condida_data?.experience">
              <p-accordionTab
                class="accordion-tab-title"
                header="{{ i?.translations?.fr?.designation | titlecase }} {{
                  i?.dateDebut | date: 'MM-yyyy'
                }} {{ i?.dateFin | date: 'MM-yyyy' }}"
              >
                <div>
                  <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                      <div
                        class="d-flex align-items-center flex-row flex-wrap justify-content-center"
                      >
                        <h4 class="me-1">Du :</h4>
                        <h4 class="me-1">
                          {{ i?.dateDebut | date: 'MM/yyyy' }}
                        </h4>
                        <h4 class="me-1">- A :</h4>
                        <h4 class="me-1">
                          {{ i?.dateFin | date: 'MM/yyyy' }}
                        </h4>
                      </div>
                      <div class="text-center">
                        <h5>
                          {{ i?.translations?.fr?.designation | titlecase }}
                        </h5>
                        <h6>
                          {{
                            i?.translations?.fr?.nomOrganisation | titlecase
                          }}-
                          {{
                            i?.translations?.fr?.typeOrganisation | titlecase
                          }}
                        </h6>
                        <h6>
                          {{ i?.translations?.fr?.cadreExperience | titlecase }}
                          -
                          {{
                            i?.translations?.fr?.niveauExperience | titlecase
                          }}
                        </h6>

                        <h6>
                          {{
                            i?.cordonneesGeo?.translations?.fr?.pays | titlecase
                          }}
                        </h6>
                        <h6>
                          {{
                            i?.cordonneesGeo?.translations?.fr?.ville
                              | titlecase
                          }}
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p class="education_description">
                        {{ i?.translations?.fr?.description }}
                      </p>
                    </div>
                  </div>

                  <div class="info-small-card">
                    <ul class="d-flex flex-wrap">
                      <div class="my-2 col-md-6">
                        <h5 class="education_description">
                          {{ 'Mon Role :  ' | titlecase | translate }}
                        </h5>
                        <ul class="">
                          <li
                            class="d-flexx lista"
                            *ngFor="let k of i.experience_roul"
                          >
                            {{ k }}
                          </li>
                        </ul>
                      </div>
                      <div class="my-2 col-md-6">
                        <h5 class="">
                          {{ 'what i learn' | titlecase | translate }}
                        </h5>
                        <ul class="">
                          <li
                            class="d-flexx lista"
                            *ngFor="let k of i.experience_he_gine"
                          >
                            {{ k }}
                          </li>
                        </ul>
                      </div>
                    </ul>
                    <ng-container *ngIf="i.srtificate">
                      <div class="ed_sub_box" *ngFor="let k of i.srtificate">
                        <p class="ed-sub-t">
                          {{ 'deplome' | titlecase | translate }}
                        </p>
                        <ul class="none_list sub_ul_col">
                          <li class="sub_li" *ngIf="k.srtificate_description">
                            <P class="sub_li_d">
                              {{ k.srtificate_description }}
                            </P>
                          </li>

                          <li>
                            <ul class="none_list li-one">
                              <li class="d-flexx" *ngIf="k.srtificate_img">
                                <a class="btnn btn btn-secondary" href="#">
                                  view doc
                                </a>
                              </li>
                              <li class="sub_li" *ngIf="k.srtificate_url">
                                <a class="btnn btn btn-secondary" href="#">
                                  view onlin
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel>
          <!--3-->

          <p-tabPanel header="{{ 'Competence' | titlecase | translate }}">
            <div class="row">
              <div class="col-md-6">
                <p class="skills_titale">
                  {{ 'Competences Generale' | titlecase | translate }}
                </p>
                <ul
                  *ngFor="let softSkill of condida_data.info?.soft_skills"
                  class="d-flex align-items-center"
                >
                  <div class="me-3 label-info">
                    {{ softSkill?.label }}
                  </div>

                  <app-circular-progress
                    [niveau]="softSkill?.niveau"
                  ></app-circular-progress>

                  <!-- {{ softSkill?.label }} : {{ softSkill?.niveau }} -->
                </ul>
              </div>
              <div class="col-md-6">
                <p class="skills_titale">
                  {{ 'Competences Technique' | titlecase | translate }}
                </p>
                <ul
                  *ngFor="let k of condida_data.info?.skills_tach"
                  class="d-flex align-items-center"
                >
                  <div class="me-3 label-info">
                    {{ k?.label }}
                  </div>

                  <app-circular-progress
                    [niveau]="k.niveau"
                  ></app-circular-progress>
                </ul>
              </div>

              <div class="col-md-6">
                <p class="skills_titale">
                  {{ 'Langues' | titlecase | translate }}
                </p>
                <ul
                  *ngFor="let k of condida_data?.info?.languages"
                  class="d-flex align-items-center"
                >
                  <div class="me-3 label-info">
                    {{ k?.label }}
                  </div>

                  <app-circular-progress
                    [niveau]="k.niveau"
                  ></app-circular-progress>
                </ul>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel
            header="{{ 'Centre d\'interet' | titlecase | translate }}"
          >
            <p class="skills_titale">
              {{ 'hobbies list' | titlecase | translate }}
            </p>
            <ul *ngFor="let i of condida_data.info.hobbies">
              <li class="li_skils">
                {{ i }}
              </li>
            </ul>
          </p-tabPanel>

          <!--4-->
          <p-tabPanel header="{{ 'contact' | translate }}">
            <div class="">
              <h3 class="">
                {{ 'contact me' | titlecase | translate }}
              </h3>
            </div>
            <form [formGroup]="condida_contact" (ngSubmit)="sendMissage()">
              <div class="row">
                <!--misag_type-->
                <div class="mb-63 col-md-6">
                  <label for="misag_type" class="form-label">
                    {{ 'Type de Message' | titlecase | translate }}:
                  </label>
                  <select
                    id="misag_type"
                    class="form-select"
                    id="misag_type"
                    formControlName="misag_type"
                    [ngClass]="{
                      'is-invalid':
                        condida_contact.get('misag_type')?.touched &&
                        condida_contact.get('misag_type')?.invalid
                    }"
                  >
                    <option value="" selected disabled>
                      {{ 'select one' | translate }}
                    </option>
                    <option *ngFor="let i of misag_type">
                      {{ i | titlecase | translate }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      condida_contact.get('misag_type')?.touched &&
                      condida_contact.get('misag_type')?.invalid
                    "
                    class="invalid-feedback mb-2"
                  >
                    <div
                      *ngIf="condida_contact.get('misag_type')?.errors?.['required']"
                    >
                      {{ 'form.champ_oblig' | translate }}
                    </div>
                  </div>
                </div>

                <!-- name input -->
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="name">
                    {{ 'form.nom' | translate }}:
                  </label>
                  <input
                    class="form-control"
                    id="name"
                    type="text"
                    placeholder="{{ 'enter your name' | translate }}"
                    formControlName="name"
                    name="name"
                    [ngClass]="{
                      'is-invalid':
                        condida_contact.get('name')?.touched &&
                        condida_contact.get('name')?.invalid
                    }"
                  />
                  <div
                    *ngIf="
                      condida_contact.get('name')?.touched &&
                      condida_contact.get('name')?.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="condida_contact.get('name')?.errors?.['required']"
                    >
                      {{ 'form.champ_oblig' | translate }}
                    </div>
                    <div *ngIf="condida_contact.get('name')?.errors?.['name']">
                      {{ 'form.mail_valid' | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" for="missage">
                  {{ 'form.message' | translate }}:
                </label>
                <textarea
                  formControlName="missage"
                  [ngClass]="{
                    'is-invalid':
                      condida_contact.get('missage')?.touched &&
                      condida_contact.get('missage')?.invalid
                  }"
                  class="form-control textarea"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>

                <div
                  *ngIf="
                    condida_contact.get('missage')?.touched &&
                    condida_contact.get('missage')?.invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="condida_contact.get('missage')?.errors?.['required']"
                  >
                    {{ 'form.champ_oblig' | translate }}
                  </div>
                  <div *ngIf="condida_contact.get('missage')?.errors?.['name']">
                    {{ 'form.mail_valid' | translate }}
                  </div>
                </div>
              </div>
            </form>

            <div class="row">
              <ul class="d-flexV">
                <li *ngFor="let i of condida_data?.cordeonneeNum" class="lili">
                  <a class="AAA" href="{{ i.valeur }}">
                    <i
                      *ngIf="i.label === 'facebook'"
                      class="fa-brands fa-facebook"
                    ></i>
                    <i
                      *ngIf="i.label === 'github'"
                      class="fa-brands fa-github"
                    ></i>
                    <i
                      *ngIf="i.label === 'gmail'"
                      class="fa-solid fa-envelope"
                    ></i>
                    <i
                      *ngIf="i.label === 'linkedin'"
                      class="fa-brands fa-linkedin"
                    ></i>
                    <i
                      *ngIf="i.label === 'stack-overflow'"
                      class="fa-brands fa-stack-overflow"
                    ></i>
                    <i
                      *ngIf="i.label === 'codepen'"
                      class="fa-brands fa-codepen"
                    ></i>
                    <i
                      *ngIf="i.label === 'instagram'"
                      class="fa-brands fa-instagram"
                    ></i>
                    <i
                      *ngIf="i.label === 'twitter'"
                      class="fa-brands fa-twitter"
                    ></i>
                    <i
                      *ngIf="i.label === 'gitlab'"
                      class="fa-brands fa-gitlab"
                    ></i>
                    <i
                      *ngIf="i.label === 'youtube'"
                      class="fa-brands fa-youtube"
                    ></i>
                    <i
                      *ngIf="i.label === 'telegram'"
                      class="fa-brands fa-telegram"
                    ></i>
                    <i
                      *ngIf="i.label === 'discord'"
                      class="fa-brands fa-discord"
                    ></i>
                  </a>
                </li>
              </ul>
            </div>

            <!--Fin Formulaire-->
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="col-md-3" *ngIf="isPrincipale">
      <img
        width="100%"
        src="https://i1.hespress.com/wp-content/uploads/2022/06/Sidi_Ali.jpg"
        alt=""
      />
      <img
        width="100%"
        src="https://i1.hespress.com/wp-content/uploads/2022/06/Sidi_Ali.jpg"
        alt=""
      />
      <img
        width="100%"
        src="https://i1.hespress.com/wp-content/uploads/2022/06/Sidi_Ali.jpg"
        alt=""
      />
    </div>
  </div>
</div>
<ng-template #iframeModal let-modal>
  <iframe
    *ngIf="typeObjet == 'pdf'"
    [src]="transformUrl(link)"
    frameborder="1"
    scrolling="auto"
    class="iframe-modal"
  ></iframe>
  <iframe
    *ngIf="typeObjet == 'link'"
    [src]="transformUrl(link)"
    frameborder="1"
    scrolling="auto"
    class="iframe-modal"
  ></iframe>
  <img
    *ngIf="typeObjet == 'image'"
    [lazyLoad]="link"
    [defaultImage]="'assets/images/user.png'"
    class="img-fluid"
  />
</ng-template>
