<div class="card-quiz card-container">
  <div class="header-card">
    <h6>{{ domaine }}</h6>
    <h5 class="card-custom-title">{{ titre }}</h5>
  </div>

  <div class="body-card">
    <p class="d-flex align-items-center">
      <p-rating [ngModel]="note" [readonly]="true" [cancel]="false"></p-rating>
      <span>&nbsp; {{ note }}</span>
      <!-- <ngb-rating [(rate)]="{{note| number}}" [readonly]="true" [max]="5"></ngb-rating> -->
    </p>
    <p>
      <i class="fa-regular fa-file-lines"></i>
      {{ nbQuestions }}&nbsp; Questions
    </p>
    <p>
      <i class="fa-brands fa-connectdevelop"></i>
      {{ niveau }}
    </p>
    <p>
      <i class="fa-solid fa-calendar-day"></i>
      {{ date | date: 'MMMM YYYY' }}
    </p>
  </div>
</div>
