.img-quiz {
  height: 200px;
}
.card-article-container {
  border: 0.1rem solid #dcdada;
  border-radius: 0.2rem;
  padding: 1rem;
}

.card-quiz {
  // box-shadow: rgb(0 0 0 / 10%) 0px -1px 1px 0px,
  //   rgb(0 0 0 / 10%) 1px 0px 1px 0px, rgb(0 0 0 / 10%) -1px 0px 1px 0px,
  //   rgb(0 0 0 / 10%) 0px 1px 1px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .header-card {
    padding: 1em;
    background-color: #c4f8ffba;
  }
  .body-card {
    padding: 1em;
  }
}
