<div class="section-recruteur mb-3">
  <h4>{{ 'globale.avis_Entreprise' | translate }}</h4>
</div>
<div class="section-recruteur">
  <p-tabView>
    <p-tabPanel header="Parcourir Les Temoignages">
      <h2 class="title-md bold my-3 blue-color">
        Liste des Temoignages
      </h2>
      <div class="" *ngIf="comments.length == 0">
        <p>Auncun Comments trouvés</p>
      </div>

      <ol class="commentlist p-0 m-0" *ngIf="comments.length > 0">
        <li
          *ngFor="let comment of comments"
          class="row align-items-center justify-content-center mb-5"
        >
          <figure class="comment-figure">
            <img
              alt=""
              [defaultImage]="'assets/images/user.png'"
              [lazyLoad]="comments.img"
              class="avatar-rounded"
              height="70"
              width="70"
            />
          </figure>
          <div class="comment-content col-sm-10 p-3">
            <div class="">
              <h6 class="comment-info j-c-v-sm-container">
                {{ comment.nom_ou_pseudo }}
                ( {{ comment.fonction }})
              </h6>
            </div>

            <div class="">
              <p class="j-resume-sm p-0 m-0">
                {{ comment.commentaire_intervenent }}
              </p>
            </div>
            <span class="comment-info small-text">
              {{ comment.date }}
            </span>
          </div>
        </li>
      </ol>
    </p-tabPanel>
    <p-tabPanel header="Poser Un Temoignages">
      <form
        id="contactForm"
        (ngSubmit)="sendAvis()"
        [formGroup]="avisForm"
        #form2
      >
        <h4 class="">Poser Votre Question</h4>

        <div class="row">
          <!-- Name input -->

          <div class="mb-3 col-md-6">
            <label class="form-label" for="name">
              {{ 'form.nom' | translate }}
            </label>
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="{{ 'form.exp_nom' }}"
              [ngClass]="{
                'is-invalid':
                  avisForm.get('name')?.touched && avisForm.get('name')?.invalid
              }"
              formControlName="name"
              name="name"
            />
            <div
              *ngIf="
                avisForm.get('name')?.touched && avisForm.get('name')?.invalid
              "
              class="invalid-feedback mb-2"
            >
              <div *ngIf="avisForm.get('name')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="avisForm.get('name')?.errors?.['minlength']">
                {{ 'form.champ_3' }}
              </div>
              <div *ngIf="avisForm.get('name')?.errors?.['maxlength']">
                {{ 'form.champ_30' }}
              </div>
              <div *ngIf="avisForm.get('name')?.errors?.['pattern']">
                {{ 'form.champ_lettre' }}
              </div>
            </div>
          </div>

          <!-- Prenom input -->
          <div class="mb-3 col-md-6">
            <label class="form-label" for="prenom">
              {{ 'form.prenom' }}
            </label>
            <input
              class="form-control"
              id="prenom"
              type="prenom"
              placeholder="{{ 'form.exp_pre' }}"
              formControlName="prenom"
              name="prenom"
              [ngClass]="{
                'is-invalid':
                  avisForm.get('prenom')?.touched &&
                  avisForm.get('prenom')?.invalid
              }"
            />
            <div
              *ngIf="
                avisForm.get('prenom')?.touched &&
                avisForm.get('prenom')?.invalid
              "
              class="invalid-feedback mb-2"
            >
              <div *ngIf="avisForm.get('prenom')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="avisForm.get('prenom')?.errors?.['minlength']">
                {{ 'form.champ_3' }}
              </div>
              <div *ngIf="avisForm.get('prenom')?.errors?.['maxlength']">
                {{ 'form.champ_30' }}
              </div>
              <div *ngIf="avisForm.get('prenom')?.errors?.['pattern']">
                {{ 'form.champ_lettre' }}
              </div>
            </div>
          </div>
        </div>
        <!-- Telephone + email address input -->
        <div class="row">
          <div class="mb-3 col-md-6">
            <label class="form-label" for="telephone">
              {{ 'form.telephone' }}
            </label>
            <input
              class="form-control"
              id="telephone"
              type="texte"
              placeholder="{{ 'form.exp_tel' }}"
              formControlName="telephone"
              name="telephone"
              [ngClass]="{
                'is-invalid':
                  avisForm.get('telephone')?.touched &&
                  avisForm.get('telephone')?.invalid
              }"
            />
            <div
              *ngIf="
                avisForm.get('telephone')?.touched &&
                avisForm.get('telephone')?.invalid
              "
              class="invalid-feedback"
            >
              <div *ngIf="avisForm.get('telephone')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="avisForm.get('telephone')?.errors?.['pattern']">
                {{ 'form.tel_valid' }}
              </div>
              <div *ngIf="avisForm.get('telephone')?.errors?.['minlength']">
                {{ 'form.champ_10' }}
              </div>
            </div>
          </div>
          <!-- Email  input -->
          <div class="mb-3 col-md-6">
            <label class="form-label" for="emailAddress">
              {{ 'form.email' }}
            </label>
            <input
              class="form-control"
              id="emailAddress"
              type="email"
              placeholder="{{ 'form.exp_email' }}"
              formControlName="email"
              name="email"
              [ngClass]="{
                'is-invalid':
                  avisForm.get('email')?.touched &&
                  avisForm.get('email')?.invalid
              }"
            />
            <div
              *ngIf="
                avisForm.get('email')?.touched && avisForm.get('email')?.invalid
              "
              class="invalid-feedback"
            >
              <div *ngIf="avisForm.get('email')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="avisForm.get('email')?.errors?.['email']">
                {{ 'form.mail_valid' }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-12">
            <label class="form-label" for="avis">
              {{ 'form.avis' }}
            </label>
            <textarea
              class="form-control"
              id="avis"
              type="texte"
              placeholder="{{ 'form.exp_tel' }}"
              formControlName="avis"
              name="avis"
              [ngClass]="{
                'is-invalid':
                  avisForm.get('avis')?.touched && avisForm.get('avis')?.invalid
              }"
            ></textarea>
            <div
              *ngIf="
                avisForm.get('avis')?.touched && avisForm.get('avis')?.invalid
              "
              class="invalid-feedback"
            >
              <div *ngIf="avisForm.get('avis')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>

              <div *ngIf="avisForm.get('avis')?.errors?.['minlength']">
                {{ 'form.champ_3' }}
              </div>
            </div>
          </div>
        </div>
        <!-- Form submit button -->
        <div class="mt-5 text-center">
          <button class="btn btn-outline-dark" type="submit">
            {{ 'form.Envoyer' }}
          </button>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</div>
