<form [formGroup]="hobbies_from" (ngSubmit)="save_hobbies_from()">



<div class="row">

  <!-- hhobis name inute -->
  <div class="mb-3 col-md-7">
    <label class="form-label" for="hobbies_from_hobbies_name_inpute">
      {{ "hobbies_from_hobbies_name_inpute" | translate }}
    </label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-angellist"></i></span>
      <input class="form-control" id="hobbies_from_hobbies_name_inpute" type="text" placeholder="{{ 'form.exp_nom' | translate }}" [ngClass]="{
            'is-invalid':
              hobbies_from.get('hobbies_from_hobbies_name_inpute')?.touched &&
              hobbies_from.get('hobbies_from_hobbies_name_inpute')?.invalid
          }" formControlName="hobbies_from_hobbies_name_inpute" name="hobbies_from_hobbies_name_inpute" aria-label="Username" aria-describedby="basic-addon1" />
    </div>
    <div *ngIf="
            hobbies_from.get('hobbies_from_hobbies_name_inpute')?.touched &&
            hobbies_from.get('hobbies_from_hobbies_name_inpute')?.invalid
          " class="invalid-feedback mb-2">
      <div *ngIf="hobbies_from.get('hobbies_from_hobbies_name_inpute')?.errors?.['required']">
        {{ "form.champ_oblig" | translate }}
      </div>

    </div>
  </div>
  <!-- user name input-->

  <div class="mb-3 col-md-5">
    <label class="form-label" for="hobbies_from_hobbies_icon_inpute">
      {{ "hobbies_from_hobbies_icon_inpute" | translate }}
    </label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-icons"></i></span>
      <input class="form-control" id="hobbies_from_hobbies_icon_inpute" type="text" placeholder="{{ 'form.exp_nom' | translate }}" [ngClass]="{
          'is-invalid':
            hobbies_from.get('hobbies_from_hobbies_icon_inpute')?.touched &&
            hobbies_from.get('hobbies_from_hobbies_icon_inpute')?.invalid
        }" formControlName="hobbies_from_hobbies_icon_inpute" name="hobbies_from_hobbies_icon_inpute" aria-label="Username" aria-describedby="basic-addon1" />
    </div>
    <div *ngIf="
          hobbies_from.get('hobbies_from_hobbies_icon_inpute')?.touched &&
          hobbies_from.get('hobbies_from_hobbies_icon_inpute')?.invalid
        " class="invalid-feedback mb-2">
      <div *ngIf="hobbies_from.get('hobbies_from_hobbies_icon_inpute')?.errors?.['required']">
        {{ "form.champ_oblig" | translate }}
      </div>

    </div>
  </div>

</div>


<div class="row">

  <button type="button" class="btn btn-warning px-5 addbtn  ">
    <i class="fa-solid fa-circle-plus"></i>
    add
  </button>

</div>


  <div class="modal-footer">
    <div class="row">
      <button type="submit" class="btn btn-info">
        save
      </button>
    </div>

  </div>
</form>
