<div class="container mt-5">
  <div class="d-flex flex-main">
    <!-- BEGIN FILTERS -->
    <div class="section-recruteur spacing-inline-end mb-3">
      <app-filter [pageName]="pageName"></app-filter>
    </div>
    <!-- END FILTERS -->
    <div class="w-100">
      <div class="section-recruteur mb-3 w-100">
        <h2 class="px-1" style="font-size: 25px;">
          {{ 'globale.list-recru' | translate }}
        </h2>
      </div>
      <div class="section-recruteur mb-3 w-100">
        <div class="flex-grow-1">
          <div class="row px-2">
            <div class="col-md-6">
              <div class="my-2">
                <!-- <div class="form__group field" style="margin-top: -15px;">
                  <input
                    (keyup)="filter()"
                    #search
                    class="form__field"
                    type="text"
                    id="saerchBar"
                    placeholder="Mot clés, titre du poste..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                  <label for="saerchBar" class="form__label">
                    Mot clés, titre du poste...
                  </label>
                </div> -->
              </div>
            </div>
            <div class="col-md-6 order">
              <div class="my-2 d-flex">
                <div class="dropdown">
                  <button
                    class="btn btn-default dropdown-toggle"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarDropdown"
                    aria-controls="navbarDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    Order by
                  </button>
                  <ul
                    class="dropdown-menu custom-navbar"
                    aria-labelledby="navbarDropdown"
                    id="navbarDropdown"
                  >
                    <li>
                      <a class="dropdown-item" (click)="sort('title')">
                        Name
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="sortbyDate()">
                        Date
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="row">
            <app-card-recruiter
              *ngFor="
                let recruiter of dataList
                  | paginate: { itemsPerPage: 6, currentPage: p }
              "
              [routerLink]="[link]"
              class="col-md-4 col-sm-6"
              [imageBg]="recruiter.imageBg"
              [logo]="recruiter.logo"
              [title]="recruiter.title"
              [type]="recruiter.type"
              [salaries]="recruiter.salaries"
              [caption]="recruiter.caption"
            ></app-card-recruiter>
            <pagination-controls
              class="text-center"
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
