<div class="container mt-5">
  <div class="d-flex flex-main">
    <!-- BEGIN FILTERS -->
    <div class="section-recruteur spacing-inline-end mb-3">
      <div class="sideBar-Main">
        <div
          class="btn btn-outline-secondary"
          #btnSideBar
          (click)="sidebarOffre.classList.toggle('open')"
        >
          <i class="fa fa-filter"></i>
        </div>
        <div
          class="sidebar-offre open"
          #sidebarOffre
          (mouseenter)="sidebarOffre.classList.remove('closed')"
          (mouseleave)="sidebarOffre.classList.add('closed')"
        >
          <div class="sideBarContainer">
            <!--  début filter par l'emplacement -->
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <hr />
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    <i class="fa-solid fa-network-wired icone-filter"></i>
                    <h4>Secteur d'activité:</h4>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne"
                >
                  <div class="accordion-body emplacementFiltre filtreee">
                    <div>
                      <ul class="listFilte1">
                        <li>
                          <div>
                            <select
                              (change)="filter()"
                              name="secteur"
                              id="secteur-select"
                              class="form-select"
                              #secteur
                            >
                              <option value="" disabled selected>
                                Sélectionnez un secteur
                              </option>
                              <option value="">Tout</option>
                              <option value="Agriculture">
                                Agriculture
                              </option>
                              <option value="Électronique">
                                Électronique
                              </option>
                              <option value="Informatique">
                                Informatique
                              </option>
                              <option value="Santé">Santé</option>
                              <option value="Textile">Textile</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!--  début filter par l'emplacement -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    <i class="fa-solid fa-location-dot icone-filter"></i>
                    <h4>Emplacements:</h4>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo"
                >
                  <div class="accordion-body emplacementFiltre filtreee">
                    <div>
                      <ul class="listFilte1">
                        <li>
                          <label class="filter">Pays</label>
                          <div>
                            <select
                              (change)="filter()"
                              name="secteur"
                              id="secteur-select"
                              class="form-select"
                              #pays
                            >
                              <option value="" disabled selected>
                                choisissez le pays
                              </option>
                              <option value="">Tout</option>
                              <option value="Maroc">Maroc</option>
                              <option value="Algérie">Algérie</option>
                              <option value="Tunisie">Tunisie</option>
                              <option value="spider">Santé</option>
                              <option value="goldfish">
                                Textile
                              </option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <label class="filter">Région</label>
                          <div>
                            <select
                              (change)="filter()"
                              name="secteur"
                              id="secteur-select"
                              class="form-select"
                              #region
                            >
                              <option value="" disabled selected>
                                choisissez la région
                              </option>
                              <option value="">Tout</option>
                              <option value="cat">Agriculture</option>
                              <option value="hamster">
                                Électronique
                              </option>
                              <option value="parrot">
                                Informatique
                              </option>
                              <option value="spider">Santé</option>
                              <option value="goldfish">
                                Textile
                              </option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <label class="filter">Ville</label>
                          <div>
                            <select
                              (change)="filter()"
                              name="secteur"
                              id="secteur-select"
                              class="form-select"
                              #ville
                            >
                              <option value="" disabled selected>
                                choisissez la ville
                              </option>
                              <option value="">Tout</option>
                              <option value="Tanger">Tanger</option>
                              <option value="Tétouan">Tétouan</option>
                              <option value="Rabat">Rabat</option>
                              <option value="Casablanca">
                                Casablanca
                              </option>
                              <option value="Nador">Nador</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--fin de filtrage par emplacement-->

              <!--début de filtrage par type de contrat--->
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFive"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive"
                  >
                    <i class="fa-solid fa-graduation-cap icone-filter"></i>
                    <h4>Type Societe:</h4>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingFive"
                >
                  <div class="accordion-body filtreee">
                    <div style="margin-top: 20px; font-size: 20px;">
                      <div class="checkbox">
                        <label>
                          <input
                            (change)="filter()"
                            value="Start Up"
                            #typeSociete
                            type="checkbox"
                            class="icheck"
                          />
                          Start Up
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input
                            (change)="filter()"
                            value="Multinational"
                            #typeSociete
                            type="checkbox"
                            class="icheck"
                          />
                          Multinational
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input
                            (change)="filter()"
                            value="Grande Societe"
                            #typeSociete
                            type="checkbox"
                            class="icheck"
                          />
                          Grande Societe
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input
                            (change)="filter()"
                            value="Societe"
                            #typeSociete
                            type="checkbox"
                            class="icheck"
                          />
                          Societe
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--fin de filtrage par type de contrat--->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END FILTERS -->
    <div class="w-100">
      <div class="section-recruteur mb-3 w-100">
        <h2 class="px-1" style="font-size: 25px;">
          {{ 'globale.list-recru' | translate }}
        </h2>
      </div>
      <div class="section-recruteur mb-3 w-100">
        <div class="flex-grow-1">
          <div class="row px-2">
            <div class="col-md-6">
              <div class="my-2">
                <div class="form__group field" style="margin-top: -15px;">
                  <input
                    (keyup)="filter()"
                    #search
                    class="form__field"
                    type="text"
                    id="saerchBar"
                    placeholder="Mot clés, titre du poste..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                  <label for="saerchBar" class="form__label">
                    Mot clés, titre du poste...
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6 order">
              <div class="my-2 d-flex">
                <div class="dropdown">
                  <button
                    class="btn btn-default dropdown-toggle"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarDropdown"
                    aria-controls="navbarDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    Order by
                  </button>
                  <ul
                    class="dropdown-menu custom-navbar"
                    aria-labelledby="navbarDropdown"
                    id="navbarDropdown"
                  >
                    <li>
                      <a class="dropdown-item" (click)="sort('title')">
                        Name
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="sortbyDate()">
                        Date
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="row">
            <app-card-recruiter
              *ngFor="
                let recruiter of listRecruteur
                  | paginate: { itemsPerPage: 6, currentPage: p }
              "
              [routerLink]="[link]"
              class="col-md-4 col-sm-6"
              [imageBg]="recruiter.imageBg"
              [logo]="recruiter.logo"
              [title]="recruiter.title"
              [type]="recruiter.type"
              [salaries]="recruiter.salaries"
              [caption]="recruiter.caption"
            ></app-card-recruiter>
            <pagination-controls
              class="text-center"
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
