<div class="container mt-5">
  <div class="d-flex flex-main">
    <!-- BEGIN FILTERS -->
    <div class="section-recruteur spacing-inline-end mb-3">
      <app-filter [pageName]="pageName"></app-filter>
    </div>
    <!-- END FILTERS -->
    <div class="w-100">
      <div class="section-recruteur mb-3 w-100">
        <h2 class="px-1" style="font-size: 25px;">
          {{ 'globale.list-recru' | translate }}
        </h2>
      </div>
      <div class="section-recruteur mb-3 w-100">
        <div class="flex-grow-1">
          <div class="">
            <app-top-bar
              [pageName]="pageName"
              [showTextInput]="true"
              [data]="dataList"
              (filtredData)="filtredData($event)"
              (orientationView)="getOrientaion($event)"
            ></app-top-bar>
          </div>
          <hr />

          <div class="row">
            <app-card-recruiter
              *ngFor="
                let recruiter of resultData
                  | paginate: { itemsPerPage: 6, currentPage: p }
              "
              [link]="link"
              class="col-md-4 col-sm-6"
              [imageBg]="recruiter.imageBg"
              [logo]="recruiter.logo"
              [title]="recruiter.title"
              [type]="recruiter.type"
              [salaries]="recruiter.salaries"
              [caption]="recruiter.caption"
              [location]="recruiter.Pays"
            ></app-card-recruiter>
            <pagination-controls
              class="text-center"
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
