<div class="d-flex flex-column col-12 align-items-center h-100 card-container">
  <div class="image">
    <img
      [routerLink]="link"
      [lazyLoad]="img"
      [defaultImage]="'assets/images/images pour offres/téléchargement.png'"
      alt="img-card"
      class="img-fluid"
      style="margin-inline-end: 13px;"
    />
  </div>
  <div class="h-100">
    <div class="card-body d-flex flex-column justify-content-between h-100">
      <div class="">
        <div class="row">
          <h3 class="card-custom-title">{{ last_name }} {{ first_name }}</h3>
          <app-fav-button [pageName]="pageName" [id]="id"></app-fav-button>
        </div>
        <div class="row" [routerLink]="link">
          <div class="col-9">
            <h6 class="h6">
              {{ tital_job }}
            </h6>
            {{ years_of_ex }}: years of experince
            <br />
            {{ ed_lavel }}
            {{ age }} yeas old

            <ul class="p-0">
              <small
                class="text-muted"
                style="
                  list-style: none;
                  display: flex;
                  margin-bottom: 0.5rem;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <div class="d-flex">
                  <li class="padd">
                    <i class="fa-solid fa-location-dot"></i>
                    {{ countrie }}/{{ city }}
                  </li>
                </div>
              </small>
            </ul>
          </div>
        </div>
      </div>
      <button [routerLink]="link" type="button" class="btn btn-success">
        Voir plus +
      </button>
    </div>
  </div>
</div>
