// .filter {
//   font-size: 19px;
// }
// h4 {
//   font-size: 20px;
// }
// body {
//   margin-top: 20px;
//   //background: #eee;
// }

// .btn {
//   margin-bottom: 5px;
// }

// .btn-fav {
//   font-size: 20px;
// }

// .emplacementFiltre {
//   padding-left: 5px;
//   list-style: none;
//   margin-top: 20px;
//   line-height: 40px;
// }
// .filtreee {
//   padding-top: 0px;
// }
// .listFilte1 {
//   padding-left: 5px;
//   list-style: none;
//   margin-top: 20px;
//   line-height: 40px;
// }

// .order {
//   display: flex;
//   justify-content: flex-end;
// }
// .custom-navbar {
//   right: 0;
// }
// .accordion-button {
//   align-items: baseline;
//   padding-left: 10px;
// }
// .icone-filter {
//   margin: 5px;
// }

// @media (max-width: 991px) {
//   .test {
//     display: none;
//   }
//   .icone {
//     display: block !important;
//   }
// }

// .OpenSidebar {
//   display: block;
// }
// .CloseSidebar {
//   display: none;
// }

// .fa-2x {
//   font-size: 2em;
// }
// .fa {
//   position: relative;
//   display: table-cell;

//   text-align: center;
//   vertical-align: middle;
//   font-size: 25px;
// }

// a:hover,
// a:focus {
//   text-decoration: none;
// }

// nav {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

// nav ul,
// nav li {
//   outline: 0;
//   margin: 0;
//   padding: 0;
// }
// .main-menu li:hover > a,
// nav.main-menu li.active > a,
// .dropdown-menu > li > a:hover,
// .dropdown-menu > li > a:focus,
// .dropdown-menu > .active > a,
// .dropdown-menu > .active > a:hover,
// .dropdown-menu > .active > a:focus,
// .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
// .dashboard-page nav.dashboard-menu ul li.active a {
//   color: #fff;
//   background-color: #5fa2db;
// }
// .area {
//   float: left;
//   background: #e2e2e2;
//   width: 100%;
//   height: 100%;
// }
// .grid-title {
//   display: inline-flex;
// }
// .newSide {
//   margin-top: -5px;
// }
// .R {
//   padding-left: 60px;
// }
// .sidebar-offre {
//   width: 50px;
//   white-space: nowrap;
//   h4,
//   button {
//     overflow: hidden;
//     white-space: nowrap;
//   }
//   .close {
//     width: 300px;
//   }
//   button::after {
//     display: block;
//   }
//   .listFilte1 {
//     margin-top: 0 !important;
//   }
//   .filtreee {
//     display: none;
//   }
//   &:hover {
//     width: 300px;
//     .accordion-button {
//       padding: 1.25rem 1rem !important;
//     }

//     .listFilte1 {
//       margin-top: 20px !important;
//     }
//     .filtreee {
//       display: block;
//     }
//     button::after {
//       display: block;
//     }
//   }
// }
// * {
//   transition: all 0.35s ease-in-out;
// }

// .spacing-inline-end {
//   margin-inline-end: 1em;
// }

// @media (max-width: 991px) {
//   .sidebar-offre {
//     display: none;
//   }
//   .sidebar-offre.open {
//     display: block;
//     // position: absolute;
//     // left: 20px;
//     // background-color: #eee;
//     z-index: 200;
//     width: 100%;
//   }
// }
// .sideBar-text {
//   width: 0;
// }

// .metiers {
//   height: 80%;
// }
// body {
//   margin-top: 20px;
//   background: #f9f9f9;
// }
// .card {
//   border-radius: 6px;
//   background-color: #ffffff;
//   margin-bottom: 20px;
//   box-shadow: 0 25px 20px -21px rgba(0, 0, 0, 0.57);
//   margin-top: 30px;
// }
// .card-background {
//   height: 210px;
//   position: relative;
//   text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
// }
// .card-background .image {
//   border-radius: 6px;
// }
// .card .image {
//   width: 100%;
//   overflow: hidden;
//   height: 260px;
//   border-radius: 6px 6px 0 0;
//   position: relative;
//   -webkit-transform-style: preserve-3d;
//   -moz-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }
// .card .image img {
//   width: 100%;
// }

// .card-background .filter {
//   opacity: 0.2;
//   filter: alpha(opacity=20.00000000000001);
//   border-radius: 6px;
// }
// .card .filter {
//   position: absolute;
//   z-index: 2;
//   background-color: rgba(0, 0, 0, 0.68);
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   text-align: center;
// }
// .card-background:hover .filter {
//   opacity: 0.65;
//   filter: alpha(opacity=65);
// }
// .card-background .content,
// .card-background .footer {
//   position: absolute;
//   z-index: 3;
//   top: 0;
//   left: 0;
//   width: 100%;
// }
// .card .content {
//   padding: 15px 15px 10px 15px;
// }
// .card-background .price {
//   margin: 0;
//   color: #ffffff;
//   font-weight: normal;
// }
// .card-background .title {
//   margin-top: 30px;
//   font-weight: 400;
// }
// .card-background .title,
// .card-background .stats,
// .card-background .category,
// .card-background .description,
// .card-background small,
// .card-background a {
//   color: #ffffff;
// }
// .card .title {
//   margin: 0 0 10px 0;
//   color: #333333;
//   font-weight: 300;
// }
// .card-background .footer {
//   bottom: 0;
//   top: auto;
//   padding: 10px 15px;
//   width: 100%;
//   line-height: 40px;
//   color: #ffffff;
// }
// .card .footer div {
//   display: inline-block;
// }
// .card .author {
//   font-size: 12px;
//   text-transform: uppercase;
// }
.min-w-card {
  min-width: 240px;
}
