<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-main">
        <div class="section-recruteur spacing-inline-end mb-3">
          <!--Filtrage-->
          <app-filter [pageName]="'metier'"></app-filter>
          <!--Fin Filtrage-->
        </div>
        <div class="w-100">
          <div class="section-recruteur mb-3 w-100">
            <h2 class="px-1" style="font-size: 25px;">
              Résultats des métiers
            </h2>
          </div>
          <div class="section-recruteur mb-3 w-100">
            <div class="flex-grow-1">
              <div class="">
                <app-top-bar
                  [pageName]="'metier'"
                  [showTextInput]="true"
                  [data]="metierService.listMetiers"
                  (filtredData)="filtredData($event)"
                  (orientationView)="getOrientaion($event)"
                ></app-top-bar>
              </div>

              <!-- BEGIN TABLE RESULT -->
              <hr />
              <div class="container bootstrap snippets bootdeys">

                <div class="row justify-content-between">
                  <app-card-metiers
                    class="col-lg-3 col-md-4 col-sm-6 min-w-card"
                    *ngFor="let metier of resultData"
                    [Image]="metier.Image"
                    [Secteur]="metier.Secteur"
                    [Intitule]="metier.Intitule"
                    [link]="['/metiers/details-metiers']"
                  ></app-card-metiers>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
