<div class="container">
  <div class="section-recruteur mb-3">
    <h4>{{ 'globale.sondage' | translate }}</h4>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="section-recruteur mb-3">
        <h2 class="py-2 j-title-lg" *ngIf="!isValide">
          {{ 'sondage.sondae_encours' | translate }}
        </h2>
        <div class="row">
          <div class="col-12" *ngFor="let currentS of Sondage">
            <div class="row">
              <h2 class="py-3 titre-sondage blue-color" *ngIf="!isValide">
                {{ (currentS?.translations)['fr']?.__designation }}
                &nbsp;

                <span *ngIf="currentS" class="j-title-md">
                  <i class="fa fa-calendar"></i>
                  &nbsp;
                  {{ 'sondage.date_debut' | translate }}
                  {{ currentS?.date_ouverture | date: 'dd-MM-yyyy' }}
                  -
                  {{ 'sondage.date_fin' | translate }}
                  {{ currentS?.date_cloture | date: 'dd-MM-yyyy' }}
                </span>
              </h2>
              <form class="border p-3 mb-2 row col-md-12">
                <div class="col-lg-5 col-xl-5 col-md-5 mb-3 taille-image">
                  <img
                    class="img-fluid imgSondage mb-2 col-md-12"
                    [lazyLoad]="currentS?.image"
                    [defaultImage]="'assets/images/sondage.jpg'"
                    alt="post"
                  />
                  <span class="small mt-4 col-md-12">
                    {{ 'sondage.nbr_participants' | translate }}
                    {{ currentS?.nombre_participants }}
                  </span>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-7 col-12">
                  <div
                    *ngFor="let q of currentS?.question_sondage; let i = index"
                    class="mb-3"
                  >
                    <h3
                      class="j-title-md"
                      style="color: #000; text-align: justify;"
                    >
                      <b>{{ i + 1 }} -</b>
                      {{
                        (q?.translations)['fr']?.__label_question | titlecase
                      }}
                    </h3>
                    <div>
                      <div
                        class="form-check ml-4"
                        *ngFor="let r of q.reponse_sondage; let j = index"
                      >
                        <!-- <input
                    class="form-check-input"
                    [disabled]="
                      interactionService.alreadyAnsweredS(currentS?._id)
                    "
                    [checked]="
                      interactionService.sondageEnteredAnswers(
                        currentS?._id,
                        i
                      ) === r?._id
                    "
                    (click)="choisir(currentS, rep.value, i, j)"
                    value="{{ (r?.translations)['fr']?.__valeur_choix1 }}"
                    type="radio"
                    [name]="'flexRadioDefault-' + i"
                    #rep
                    [id]="'flexRadioDefault-' + i + '-' + j"
                  /> -->
                        <!-- <label
                    class="form-check-label"
                    [ngClass]="{
                      disabled: interactionService.alreadyAnsweredS(
                        currentS?._id
                      )
                    }"
                    [for]="'flexRadioDefault-' + i + '-' + j"
                  >
                    {{ (r?.translations)['fr']?.__valeur_choix1 }}
                  </label> -->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div fxLayoutAlign="end" class="mt-4 col-12">
            <button
              type="button"
              class="submit-btn pull-right"
              [disabled]="
                interactionService.alreadyAnsweredS(currentS?._id) || isValide
              "
              (click)="
                enregistrer(currentS); disable(); increment(currentS?._id)
              "
            >
              {{ 'sondage.valider' | translate }}
            </button>
          </div> -->
              </form>

              <div class="mt-3 mb-3" *ngIf="isValide && currentS">
                <p class="text-accent text-center">
                  {{ 'sondage.choix_enregistrer' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-recruteur mb-3">
          <div class="row">
            <div class="title1" *ngIf="sondageHistorique.length">
              <h2 class="py-3 j-title-lg">
                {{ 'sondage.historique_sondages' | translate }}
              </h2>
            </div>

            <div class=" " *ngFor="let s of sondageHistorique; let i = index">
              <div class="col-12">
                <app-sondage-historique [sondage]="s"></app-sondage-historique>
              </div>
            </div>
            <div
              class="text-center col-md-12"
              *ngIf="sondageHistorique.length"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="section-recruteur"></div>
    </div>
  </div>
</div>
