<div class="container my-3">
  <div class="row">
    <div class="mb-3">
      <h2>{{ guide.titre }}</h2>
    </div>

    <div class="col-md-6" *ngIf="guide.description">
      <div class="me-1">
        <p>
          {{ guide.description }}
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="ms-1">
        <h4>{{ guide.titre }}</h4>

        <ul>
          <div class="" *ngFor="let guideChildren of guide.children">
            <li *ngIf="guideChildren.type == 'faq'">
              <a [routerLink]="['/guides-emploi/faq']">
                <h6>{{ guideChildren.titre }}</h6>
              </a>
            </li>
            <li *ngIf="guideChildren.type == 'post'">
              <a [routerLink]="['/guides-emploi/details-guide/article/1']">
                <h6>{{ guideChildren.titre }}</h6>
              </a>
            </li>

            <li *ngIf="guideChildren.type == 'sub'">
              <a
                [routerLink]="[
                  '/guides-emploi/details-guide/',
                  guide.id,
                  guideChildren.id
                ]"
              >
                <h5>{{ guideChildren.titre }}</h5>
              </a>
              <ul>
                <div
                  class=""
                  *ngFor="let guideChildren2 of guideChildren?.children"
                >
                  <li *ngIf="guideChildren2.type == 'faq'">
                    <a [routerLink]="['/guide-emploi/faq']">
                      <h6>{{ guideChildren2.titre }}</h6>
                    </a>
                  </li>
                  <li *ngIf="guideChildren2.type == 'post'">
                    <a
                      [routerLink]="['/guides-emploi/details-guide/article/1']"
                    >
                      <h6>{{ guideChildren2.titre }}</h6>
                    </a>
                  </li>
                </div>
              </ul>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
