<div class="section-recruteur mb-3">
  <h4>{{ 'globale.condidature' | translate }}</h4>
</div>

<div class="section-recruteur">
  <form
    id="contactForm"
    (ngSubmit)="sendAvis()"
    [formGroup]="CondidatureForm"
    #form2
  >
    <h5>Info Personnel</h5>
    <hr />
    <div class="row">
      <!-- Name input -->

      <div class="mb-3 col-md-6">
        <label class="form-label" for="name">
          {{ 'form.nom' | translate }}
        </label>
        <input
          class="form-control"
          id="name"
          type="text"
          placeholder="{{ 'form.exp_nom' | translate }}"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('name')?.touched &&
              CondidatureForm.get('name')?.invalid
          }"
          formControlName="name"
          name="name"
        />
        <div
          *ngIf="
            CondidatureForm.get('name')?.touched &&
            CondidatureForm.get('name')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('name')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('name')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('name')?.errors?.['maxlength']">
            {{ 'form.champ_30' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('name')?.errors?.['pattern']">
            {{ 'form.champ_lettre' | translate }}
          </div>
        </div>
      </div>

      <!-- Prenom input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="prenom">
          {{ 'form.prenom' | translate }}
        </label>
        <input
          class="form-control"
          id="prenom"
          type="text"
          placeholder=" {{ 'form.exp_pre' | translate }}"
          formControlName="prenom"
          name="prenom"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('prenom')?.touched &&
              CondidatureForm.get('prenom')?.invalid
          }"
        />
        <div
          *ngIf="
            CondidatureForm.get('prenom')?.touched &&
            CondidatureForm.get('prenom')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('prenom')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('prenom')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('prenom')?.errors?.['maxlength']">
            {{ 'form.champ_30' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('prenom')?.errors?.['pattern']">
            {{ 'form.champ_lettre' | translate }}
          </div>
        </div>
      </div>
    </div>
    <!-- Telephone + email address input -->
    <div class="row">
      <div class="mb-3 col-md-6">
        <label class="form-label" for="telephone">
          {{ 'form.telephone' | translate }}
        </label>
        <input
          class="form-control"
          id="telephone"
          type="texte"
          placeholder=" {{ 'form.exp_tel' | translate }}"
          formControlName="telephone"
          name="telephone"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('telephone')?.touched &&
              CondidatureForm.get('telephone')?.invalid
          }"
        />
        <div
          *ngIf="
            CondidatureForm.get('telephone')?.touched &&
            CondidatureForm.get('telephone')?.invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="CondidatureForm.get('telephone')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('telephone')?.errors?.['pattern']">
            {{ 'form.tel_valid' }}
          </div>
          <div *ngIf="CondidatureForm.get('telephone')?.errors?.['minlength']">
            {{ 'form.champ_10' }}
          </div>
        </div>
      </div>
      <!-- Email  input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="emailAddress">
          {{ 'form.email' | translate }}
        </label>
        <input
          class="form-control"
          id="emailAddress"
          type="email"
          placeholder=" {{ 'form.exp_email' | translate }}"
          formControlName="email"
          name="email"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('email')?.touched &&
              CondidatureForm.get('email')?.invalid
          }"
        />
        <div
          *ngIf="
            CondidatureForm.get('email')?.touched &&
            CondidatureForm.get('email')?.invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="CondidatureForm.get('email')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('email')?.errors?.['email']">
            {{ 'form.mail_valid' | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- Ville + Poste -->
    <div class="row">
      <div class="mb-3 col-md-6">
        <label class="form-label" for="ville">
          {{ 'form.ville' | translate }}
        </label>
        <select
          class="form-select"
          id="ville"
          type="texte"
          formControlName="ville"
          name="ville"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('ville')?.touched &&
              CondidatureForm.get('ville')?.invalid
          }"
        >
          <option selected disabled value="">Choisir une Ville</option>

          <option>Casalanca</option>
          <option>Marrakech</option>
        </select>
        <div
          *ngIf="
            CondidatureForm.get('ville')?.touched &&
            CondidatureForm.get('ville')?.invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="CondidatureForm.get('ville')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>

          <div *ngIf="CondidatureForm.get('ville')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
        </div>
      </div>
      <!-- Email  input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="pays">
          {{ 'form.pays' | translate }}
        </label>
        <select
          class="form-select"
          id="pays"
          type="text"
          formControlName="pays"
          name="pays"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('pays')?.touched &&
              CondidatureForm.get('pays')?.invalid
          }"
        >
          <option selected disabled value="">Choisir un pays</option>
          <option value="Informatique">Informatique</option>
          <option value="Comptabilité">Comptabilité</option>
          <option value="Gestion">Gestion</option>
          <option value="Commerce">Commerce</option>
        </select>
        <div
          *ngIf="
            CondidatureForm.get('pays')?.touched &&
            CondidatureForm.get('pays')?.invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="CondidatureForm.get('pays')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>
    </div>

    <h5 class="mt-3">Secteur d'Activité</h5>
    <hr />
    <div class="row">
      <!-- niveauExperience input -->

      <div class="mb-3 col-md-6">
        <label class="form-label" for="secteur">
          {{ 'form.secteur' | translate }}
        </label>
        <select
          class="form-select"
          id="secteur"
          type="text"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('secteur')?.touched &&
              CondidatureForm.get('secteur')?.invalid
          }"
          formControlName="secteur"
          name="secteur"
        >
          <option value="" disabled selected>Secteur</option>

          <option>Informatique</option>
          <option>Comptabilité</option>
          <option>Gestion</option>
          <option>Commerce</option>
        </select>
        <div
          *ngIf="
            CondidatureForm.get('secteur')?.touched &&
            CondidatureForm.get('secteur')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('secteur')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>

      <!-- Disponibility input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="secteurActivite">
          {{ 'form.secteurActivite' | translate }}
        </label>
        <input
          class="form-control"
          id="secteurActivite"
          type="text"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('secteurActivite')?.touched &&
              CondidatureForm.get('secteurActivite')?.invalid
          }"
          formControlName="secteurActivite"
          name="secteurActivite"
        />

        <div
          *ngIf="
            CondidatureForm.get('secteurActivite')?.touched &&
            CondidatureForm.get('secteurActivite')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div
            *ngIf="CondidatureForm.get('secteurActivite')?.errors?.['required']"
          >
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div
            *ngIf="CondidatureForm.get('secteurActivite')?.errors?.['minlength']"
          >
            {{ 'form.champ_3' | translate }}
          </div>
          <div
            *ngIf="CondidatureForm.get('secteurActivite')?.errors?.['maxlength']"
          >
            {{ 'form.champ_30' | translate }}
          </div>
        </div>
      </div>
    </div>

    <h5 class="mt-3">Experience</h5>
    <hr />
    <div class="row">
      <!-- niveauExperience input -->

      <div class="mb-3 col-md-6">
        <label class="form-label" for="niveau-exp">
          {{ 'form.niveau-exp' | translate }}
        </label>
        <select
          class="form-select"
          id="niveau-exp"
          type="text"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('niveauExperience')?.touched &&
              CondidatureForm.get('niveauExperience')?.invalid
          }"
          formControlName="niveauExperience"
          name="niveauExperience"
        >
          <option value="" disabled selected>Niveau d'experience</option>

          <option value="1" title="Débutant(e)">Débutant(e)</option>
          <option value="2" title="1 à 3 ans">1 à 3 ans</option>
          <option value="3" title="3 à 5 ans">3 à 5 ans</option>
          <option value="4" title="5 à 10 ans">5 à 10 ans</option>
          <option value="5" title="Plus de 10 ans">Plus de 10 ans</option>
        </select>
        <div
          *ngIf="
            CondidatureForm.get('niveauExperience')?.touched &&
            CondidatureForm.get('niveauExperience')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div
            *ngIf="CondidatureForm.get('niveauExperience')?.errors?.['required']"
          >
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>

      <!-- Disponibility input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="disponibility">
          {{ 'form.disponibility' | translate }}
        </label>
        <select
          class="form-select"
          id="disponibility"
          type="text"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('disponibility')?.touched &&
              CondidatureForm.get('disponibility')?.invalid
          }"
          formControlName="disponibility"
          name="disponibility"
        >
          <option value="" disabled selected>Disponibility</option>

          <option value="Immediate" title="Immediate">Immediate</option>
          <option value="2">1 à 3 Mois</option>
          <option value="3">Plus de 3 Mois</option>
        </select>
        <div
          *ngIf="
            CondidatureForm.get('disponibility')?.touched &&
            CondidatureForm.get('disponibility')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div
            *ngIf="CondidatureForm.get('disponibility')?.errors?.['required']"
          >
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>
    </div>

    <h6 class="my-3">Derniere Experiences</h6>

    <div class="row">
      <!-- niveauExperience input -->

      <div class="mb-3 col-md-6">
        <label class="form-label" for="poste">
          {{ 'form.domaine' | translate }}
        </label>
        <select
          class="form-select"
          id="poste"
          type="text"
          formControlName="poste"
          name="poste"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('poste')?.touched &&
              CondidatureForm.get('poste')?.invalid
          }"
        >
          <option selected disabled value="">
            {{ 'form.exp_domaine' | translate }}
          </option>

          <option>Informatique</option>
          <option>Comptabilité</option>
          <option>Gestion</option>
          <option>Commerce</option>
        </select>
        <div
          *ngIf="
            CondidatureForm.get('poste')?.touched &&
            CondidatureForm.get('poste')?.invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="CondidatureForm.get('poste')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>
      <!-- Disponibility input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="posteOccupe">
          {{ 'form.posteOccupe' | translate }}
        </label>
        <input
          class="form-control"
          id="posteOccupe"
          type="text"
          placeholder=" {{ 'form.exp_posteOccupe' | translate }}"
          formControlName="posteOccupe"
          name="posteOccupe"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('posteOccupe')?.touched &&
              CondidatureForm.get('posteOccupe')?.invalid
          }"
        />

        <div
          *ngIf="
            CondidatureForm.get('posteOccupe')?.touched &&
            CondidatureForm.get('posteOccupe')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('posteOccupe')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div
            *ngIf="CondidatureForm.get('posteOccupe')?.errors?.['minlength']"
          >
            {{ 'form.champ_3' | translate }}
          </div>
          <div
            *ngIf="CondidatureForm.get('posteOccupe')?.errors?.['maxlength']"
          >
            {{ 'form.champ_30' | translate }}
          </div>
        </div>
      </div>
    </div>

    <h5 class="mt-3">Formation Principale</h5>
    <hr />
    <div class="row">
      <!-- niveauExperience input -->

      <div class="mb-3 col-md-6">
        <label class="form-label" for="ecole">
          {{ 'form.ecole' | translate }}
        </label>
        <input
          class="form-control"
          id="ecole"
          type="text"
          placeholder=" {{ 'form.exp_ecole' | translate }}"
          formControlName="ecole"
          name="ecole"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('ecole')?.touched &&
              CondidatureForm.get('ecole')?.invalid
          }"
        />
        <div
          *ngIf="
            CondidatureForm.get('ecole')?.touched &&
            CondidatureForm.get('ecole')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('ecole')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('ecole')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('ecole')?.errors?.['maxlength']">
            {{ 'form.champ_30' | translate }}
          </div>
        </div>
      </div>

      <!-- Disponibility input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="posteOccupe">
          {{ 'form.diplome' | translate }}
        </label>
        <input
          class="form-control"
          id="diplome"
          type="text"
          placeholder=" {{ 'form.exp_diplome' | translate }}"
          formControlName="diplome"
          name="diplome"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('diplome')?.touched &&
              CondidatureForm.get('diplome')?.invalid
          }"
        />

        <div
          *ngIf="
            CondidatureForm.get('diplome')?.touched &&
            CondidatureForm.get('diplome')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('diplome')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('ecole')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('ecole')?.errors?.['maxlength']">
            {{ 'form.champ_30' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- niveauExperience input -->

      <div class="mb-3 col-md-6">
        <label class="form-label" for="specialite">
          {{ 'form.specialite' | translate }}
        </label>
        <input
          class="form-control"
          id="specialite"
          type="text"
          placeholder=" {{ 'form.exp_specialite' | translate }}"
          formControlName="specialite"
          name="specialite"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('specialite')?.touched &&
              CondidatureForm.get('specialite')?.invalid
          }"
        />
        <div
          *ngIf="
            CondidatureForm.get('specialite')?.touched &&
            CondidatureForm.get('specialite')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="CondidatureForm.get('specialite')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('specialite')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
          <div *ngIf="CondidatureForm.get('specialite')?.errors?.['maxlength']">
            {{ 'form.champ_30' | translate }}
          </div>
        </div>
      </div>

      <!-- Disponibility input -->
      <div class="mb-3 col-md-6">
        <label class="form-label" for="anneeObtention">
          {{ 'form.anneeObtention' | translate }}
        </label>
        <input
          class="form-control"
          id="anneeObtention"
          type="number"
          placeholder=" {{ 'form.exp_anneeObtention' | translate }}"
          formControlName="anneeObtention"
          name="anneeObtention"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('anneeObtention')?.touched &&
              CondidatureForm.get('anneeObtention')?.invalid
          }"
        />

        <div
          *ngIf="
            CondidatureForm.get('anneeObtention')?.touched &&
            CondidatureForm.get('anneeObtention')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div
            *ngIf="CondidatureForm.get('anneeObtention')?.errors?.['required']"
          >
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>
    </div>
    <h5 class="mt-3">Langues</h5>

    <hr />
    <div class="row" formArrayName="langues">
      <div
        class="d-flex flex-wrap align-items-center"
        *ngFor="let langue of langues.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row flex-grow-1">
          <div class="col-md-6 mb-3">
            <label class="form-label" for="langue">
              {{ 'form.langue' | translate }}
            </label>
            <input
              class="form-control"
              type="text"
              name="langue"
              placeholder=" {{ 'form.exp_langue' | translate }}"
              formControlName="langue"
              [ngClass]="{
                'is-invalid':
                  langues.controls[i].get('langue')?.touched &&
                  langues.controls[i].get('langue')?.invalid
              }"
            />
            <div
              *ngIf="
                langues.controls[i].get('langue')?.touched &&
                langues.controls[i].get('langue')?.invalid
              "
              class="invalid-feedback mb-2"
            >
              <div
                *ngIf="  langues.controls[i].get('langue')?.errors?.['required']"
              >
                {{ 'form.champ_oblig' | translate }}
              </div>
              <div
                *ngIf="  langues.controls[i].get('langue')?.errors?.['minlength']"
              >
                {{ 'form.champ_3' | translate }}
              </div>
              <div
                *ngIf="  langues.controls[i].get('langue')?.errors?.['maxlength']"
              >
                {{ 'form.champ_30' | translate }}
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="niveau">
              {{ 'form.niveau' | translate }}
            </label>
            <div class="d-flex">
              <div class="flex-grow-1">
                <select
                  class="form-select"
                  id="niveau"
                  formControlName="niveau"
                  name="niveau"
                  [ngClass]="{
                    'is-invalid':
                      langues.controls[i].get('niveau')?.touched &&
                      langues.controls[i].get('niveau')?.invalid
                  }"
                >
                  <option value="0">niveau</option>
                  <option value="1">Notions de base</option>
                  <option value="2">Opérationnel</option>
                  <option value="3">Bon niveau</option>
                  <option value="4">Bilingue</option>
                </select>

                <div
                  *ngIf="
                    langues.controls[i].get('niveau')?.touched &&
                    langues.controls[i].get('niveau')?.invalid
                  "
                  class="invalid-feedback mb-2"
                >
                  <div
                    *ngIf="  langues.controls[i].get('niveau')?.errors?.['required']"
                  >
                    {{ 'form.champ_oblig' | translate }}
                  </div>
                </div>
              </div>
              <div
                class="reclamation-btn delete-btn-container mx-1"
                *ngIf="i != 0"
              >
                <div class="delete-btn" (click)="deleteLangue(i)">
                  <i class="fa fa-trash"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4">
        <button
          type="button"
          (click)="newLangue()"
          class="btn btn-outline-dark"
        >
          Ajouter
        </button>
      </div>
    </div>

    <h5 class="mt-3">Document Joints</h5>
    <hr />
    <!-- Cv + Lettre de motivation -->
    <div class="row">
      <!-- Name input -->

      <div class="mb-4 col-md-6">
        <div class="file-upload-wrapper">
          <label class="form-label" for="cv">
            {{ 'form.cv' | translate }}
          </label>
          <input
            class="form-control"
            id="cv"
            #cv
            type="file"
            name="cv"
            formControlName="cv"
            (change)="onCvSelected($event)"
            [ngClass]="{
              'is-invalid':
                CondidatureForm.get('cv')?.touched &&
                CondidatureForm.get('cv')?.invalid
            }"
          />
          <span class="span-preuve">{{ cvFile }}</span>
          <div
            *ngIf="
              CondidatureForm.get('cv')?.touched &&
              CondidatureForm.get('cv')?.invalid
            "
            class="invalid-feedback mb-2"
          >
            <div *ngIf="CondidatureForm.get('cv')?.errors?.['required']">
              {{ 'form.champ_oblig' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- Prenom input -->
      <div class="mb-4 col-md-6">
        <div class="file-upload-wrapper">
          <label class="form-label" for="lettreMotivation">
            {{ 'form.lettreMotivation' | translate }}
          </label>
          <input
            class="form-control"
            id="lettreMotivation"
            #lettreMotivation
            type="file"
            name="lettreMotivation"
            formControlName="lettreMotivation"
            (change)="onLettrteSelected($event)"
            [ngClass]="{
              'is-invalid':
                CondidatureForm.get('lettreMotivation')?.touched &&
                CondidatureForm.get('lettreMotivation')?.invalid
            }"
          />
          <span class="span-preuve">{{ lettreFile }}</span>
          <div
            *ngIf="
              CondidatureForm.get('lettreMotivation')?.touched &&
              CondidatureForm.get('lettreMotivation')?.invalid
            "
            class="invalid-feedback mb-2"
          >
            <div
              *ngIf="CondidatureForm.get('lettreMotivation')?.errors?.['required']"
            >
              {{ 'form.champ_oblig' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Prenom input -->
      <div class="mb-4 col-md-6">
        <div class="file-upload-wrapper">
          <label class="form-label" for="lettreDeRecommandation">
            {{ 'form.lettreDeRecommandation' | translate }}
          </label>
          <input
            class="form-control"
            id="lettreDeRecommandation"
            #lettreDeRecommandation
            type="file"
            name="lettreDeRecommandation"
            formControlName="lettreDeRecommandation"
            (change)="onLettrtRecommendationeSelected($event)"
            [ngClass]="{
              'is-invalid':
                CondidatureForm.get('lettreDeRecommandation')?.touched &&
                CondidatureForm.get('lettreDeRecommandation')?.invalid
            }"
          />
          <span class="span-preuve">{{ lettreRecommendationFile }}</span>
          <div
            *ngIf="
              CondidatureForm.get('lettreDeRecommandation')?.touched &&
              CondidatureForm.get('lettreDeRecommandation')?.invalid
            "
            class="invalid-feedback mb-2"
          >
            <div
              *ngIf="CondidatureForm.get('lettreDeRecommandation')?.errors?.['required']"
            >
              {{ 'form.champ_oblig' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-md-12">
        <label class="form-label" for="message">
          {{ 'form.message' | translate }}
        </label>
        <textarea
          class="form-control"
          id="message"
          type="texte"
          formControlName="message"
          name="message"
          [ngClass]="{
            'is-invalid':
              CondidatureForm.get('message')?.touched &&
              CondidatureForm.get('message')?.invalid
          }"
        ></textarea>
        <div
          *ngIf="
            CondidatureForm.get('message')?.touched &&
            CondidatureForm.get('message')?.invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="CondidatureForm.get('message')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>

          <div *ngIf="CondidatureForm.get('message')?.errors?.['minlength']">
            {{ 'form.champ_3' | translate }}
          </div>
        </div>
      </div>
    </div>
    <!-- Form submit button -->
    <div class="mt-3 text-center">
      <button class="btn btn-outline-dark" type="submit">
        {{ 'form.Envoyer' | translate }}
      </button>
    </div>
  </form>
</div>
