<div class="container">
  <!--fin de barre de recherche-->

  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="d-flex flex-main">
        <!-- BEGIN FILTERS -->
        <div class="section-recruteur spacing-inline-end mb-3">
          <app-filter [pageName]="pageName"></app-filter>
        </div>
        <!-- END FILTERS -->
        <!-- BEGIN RESULT -->
        <div class="w-100">
          <div class="section-recruteur mb-3 w-100">
            <h2 class="px-1" style="font-size: 25px;">
              Résultats des offres
            </h2>
          </div>
          <div class="section-recruteur mb-3 w-100">
            <div class="flex-grow-1">
              <div class="row px-2">
                <div class="col-md-6">
                  <div class="my-2">
                    <!-- <div class="form__group field" style="margin-top: -15px;">
                      <input
                        (keyup)="filter()"
                        #search
                        class="form__field"
                        type="text"
                        id="saerchBar"
                        placeholder="Mot clés, titre du poste..."
                        aria-label="Search"
                        aria-describedby="search-addon"
                      />
                      <label for="saerchBar" class="form__label">
                        Mot clés, titre du poste...
                      </label>
                    </div> -->
                  </div>
                </div>
                <div class="col-md-6 order">
                  <div class="my-2 d-flex">
                    <div class="btn-group">
                      <button
                        (click)="changeview('verticale')"
                        type="button"
                        class="btn btn-default active"
                      >
                        <i class="fa fa-list"></i>
                      </button>
                      <button
                        (click)="changeview('horizontale')"
                        type="button"
                        class="btn btn-default"
                      >
                        <i class="fa fa-th"></i>
                      </button>
                    </div>

                    <div class="dropdown">
                      <button
                        class="btn btn-default dropdown-toggle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarDropdown"
                        aria-controls="navbarDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                      >
                        Order by
                      </button>
                      <ul
                        class="dropdown-menu custom-navbar"
                        aria-labelledby="navbarDropdown"
                        id="navbarDropdown"
                      >
                        <li>
                          <a class="dropdown-item" (click)="sort('Intitule')">
                            Name
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" (click)="sortbyDate()">
                            Date
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- BEGIN TABLE RESULT -->
              <hr />

              <div class="row" *ngIf="orientation == 'verticale'">
                <app-card-offre-Verticale
                  *ngFor="
                    let offre of offres
                      | paginate: { itemsPerPage: 20, currentPage: paginate }
                  "
                  [link]="link"
                  [Intitule]="offre.Intitule"
                  [Secteur]="offre.Secteur"
                  [Poste]="offre.Poste"
                  [TypePoste]="offre.TypePoste"
                  [NomEntreprise]="offre.NomEntreprise"
                  [TypeEntreprise]="offre.TypeEntreprise"
                  [TypeContrat]="offre.TypeContrat"
                  [Ville]="offre.Ville"
                  [Date]="offre.Date"
                  [image]="offre.Image"
                  [dateDisponibilite]="offre.dateDisponibilite"
                  [image]="offre.Image"
                ></app-card-offre-Verticale>
                <pagination-controls
                  class="text-center"
                  (pageChange)="paginate = $event"
                ></pagination-controls>
              </div>
              <div class="row" *ngIf="orientation == 'horizontale'">
                <app-card-offre-horizontale
                  class="col-md-6 mb-3"
                  *ngFor="
                    let offre of offres
                      | paginate: { itemsPerPage: 20, currentPage: paginate }
                  "
                  [link]="link"
                  [Intitule]="offre.Intitule"
                  [Secteur]="offre.Secteur"
                  [Poste]="offre.Poste"
                  [TypePoste]="offre.TypePoste"
                  [NomEntreprise]="offre.NomEntreprise"
                  [TypeEntreprise]="offre.TypeEntreprise"
                  [TypeContrat]="offre.TypeContrat"
                  [Ville]="offre.Ville"
                  [Date]="offre.Date"
                  [dateDisponibilite]="offre.dateDisponibilite"
                  [image]="offre.Image"
                ></app-card-offre-horizontale>
                <pagination-controls
                  class="text-center"
                  (pageChange)="paginate = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END RESULT -->
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
