// .filter {
//   font-size: 19px;
// }
// h4 {
//   font-size: 20px;
// }
// body {
//   margin-top: 20px;
//   //background: #eee;
// }

// .btn {
//   margin-bottom: 5px;
// }

// .btn-fav {
//   font-size: 20px;
// }

// .emplacementFiltre {
//   padding-left: 5px;
//   list-style: none;
//   margin-top: 20px;
//   line-height: 40px;
// }
// .filtreee {
//   padding-top: 0px;
// }
// .listFilte1 {
//   padding-left: 5px;
//   list-style: none;
//   margin-top: 20px;
//   line-height: 40px;
// }

// .order {
//   display: flex;
//   justify-content: flex-end;
// }
// .custom-navbar {
//   right: 0;
// }
// .accordion-button {
//   align-items: baseline;
//   padding-left: 10px;
// }
// .icone-filter {
//   margin: 5px;
// }

// @media (max-width: 991px) {
//   .test {
//     display: none;
//   }
//   .icone {
//     display: block !important;
//   }
// }

// .OpenSidebar {
//   display: block;
// }
// .CloseSidebar {
//   display: none;
// }

// .fa-2x {
//   font-size: 2em;
// }
// .fa {
//   position: relative;
//   display: table-cell;

//   text-align: center;
//   vertical-align: middle;
//   font-size: 25px;
// }

// a:hover,
// a:focus {
//   text-decoration: none;
// }

// nav {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

// nav ul,
// nav li {
//   outline: 0;
//   margin: 0;
//   padding: 0;
// }
// .main-menu li:hover > a,
// nav.main-menu li.active > a,
// .dropdown-menu > li > a:hover,
// .dropdown-menu > li > a:focus,
// .dropdown-menu > .active > a,
// .dropdown-menu > .active > a:hover,
// .dropdown-menu > .active > a:focus,
// .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
// .dashboard-page nav.dashboard-menu ul li.active a {
//   color: #fff;
//   background-color: #5fa2db;
// }
// .area {
//   float: left;
//   background: #e2e2e2;
//   width: 100%;
//   height: 100%;
// }
// .grid-title {
//   display: inline-flex;
// }
// .newSide {
//   margin-top: -5px;
// }
// .R {
//   padding-left: 60px;
// }
// .sidebar-offre {
//   width: 50px;
//   white-space: nowrap;
//   h4,
//   button {
//     overflow: hidden;
//     white-space: nowrap;
//   }
//   .close {
//     width: 300px;
//   }
//   button::after {
//     display: block;
//   }
//   .listFilte1 {
//     margin-top: 0 !important;
//   }
//   .filtreee {
//     display: none;
//   }
//   &:hover {
//     width: 300px;
//     .accordion-button {
//       padding: 1.25rem 1rem !important;
//     }

//     .listFilte1 {
//       margin-top: 20px !important;
//     }
//     .filtreee {
//       display: block;
//     }
//     button::after {
//       display: block;
//     }
//   }
// }
// * {
//   transition: all 0.35s ease-in-out;
// }

// .spacing-inline-end {
//   margin-inline-end: 1em;
// }

// @media (max-width: 991px) {
//   .sidebar-offre {
//     display: none;
//   }
//   .sidebar-offre.open {
//     display: block;
//     // position: absolute;
//     // left: 20px;
//     // background-color: #eee;
//     z-index: 200;
//     width: 100%;
//   }
// }
// .sideBar-text {
//   width: 0;
// }
