<div class="container">
  <!--fin de barre de recherche-->

  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="d-flex flex-main">
        <!-- BEGIN FILTERS -->
        <div class="section-recruteur spacing-inline-end mb-3">
          <app-filter [pageName]="pageName"></app-filter>
        </div>
        <!-- END FILTERS -->
        <!-- BEGIN RESULT -->
        <div class="w-100">
          <div class="section-recruteur mb-3 w-100">
            <h2 class="px-1" style="font-size: 25px;">
              Résultats des Evenements
            </h2>
          </div>
          <div class="section-recruteur mb-3 w-100">
            <div class="flex-grow-1">
              <div class="">
                <app-top-bar
                  [pageName]="pageName"
                  [showOrientation]="true"
                  [data]="offreService.listOffres"
                  (filtredData)="filtredData($event)"
                  (orientationView)="getOrientaion($event)"
                ></app-top-bar>
              </div>
              <!-- BEGIN TABLE RESULT -->
              <hr />

              <div class="row" *ngIf="orientation == 'verticale'">
                <app-card-offre-Verticale
                  *ngFor="
                    let offre of listOffres
                      | paginate: { itemsPerPage: 20, currentPage: paginate }
                  "
                  [link]="link"
                  [Intitule]="offre?.Intitule"
                  [Secteur]="offre?.Secteur"
                  [Poste]="offre?.Poste"
                  [TypePoste]="offre?.TypePoste"
                  [NomEntreprise]="offre?.NomEntreprise"
                  [TypeEntreprise]="offre?.TypeEntreprise"
                  [TypeContrat]="offre?.TypeContrat"
                  [Ville]="offre?.Ville"
                  [Date]="offre?.Date"
                  [image]="offre?.Image"
                  [dateDisponibilite]="offre?.dateDisponibilite"
                  [image]="offre?.Image"
                ></app-card-offre-Verticale>
                <pagination-controls
                  class="text-center"
                  (pageChange)="paginate = $event"
                ></pagination-controls>
              </div>
              <div class="row" *ngIf="orientation == 'horizontale'">
                <app-card-offre-horizontale
                  class="col-md-6 mb-3"
                  *ngFor="
                    let offre of offres
                      | paginate: { itemsPerPage: 20, currentPage: paginate }
                  "
                  [link]="link"
                  [Intitule]="offre?.Intitule"
                  [Secteur]="offre?.Secteur"
                  [Poste]="offre?.Poste"
                  [TypePoste]="offre?.TypePoste"
                  [NomEntreprise]="offre?.NomEntreprise"
                  [TypeEntreprise]="offre?.TypeEntreprise"
                  [TypeContrat]="offre?.TypeContrat"
                  [Ville]="offre?.Ville"
                  [Date]="offre?.Date"
                  [dateDisponibilite]="offre?.dateDisponibilite"
                  [image]="offre?.Image"
                ></app-card-offre-horizontale>
                <pagination-controls
                  class="text-center"
                  (pageChange)="paginate = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END RESULT -->
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
