<div class="row align-items-center justify-content-center">
  <figure class="comment-figure">
    <img
      alt=""
      [defaultImage]="'assets/images/user.png'"
      [lazyLoad]="image"
      class="avatar-rounded"
      height="70"
      width="70"
    />
  </figure>
  <div class="comment-content col-sm-10 p-3">
    <div class="">
      <h6 class="comment-info j-c-v-sm-container">
        {{ nom }}
        ( {{ fonction }})
      </h6>
    </div>

    <div class="">
      <p class="j-resume-sm p-0 m-0">
        {{ commentaire }}
      </p>
    </div>
    <span class="comment-info small-text">
      {{ date }}
    </span>
  </div>
</div>
