// #region  filter

.hed {
  overflow: hidden;
}
.t-filter{
  font-size: 30px
}
.filter-btn {
  display: block;


  width: 50px;
  height: 40px;
  margin: 4px;
}

.sideBar-Main {
  position: absolute;
  max-height: 200px;
  margin:-8px 30px 30px -40px;
  z-index: 20;

}

.sidebar-offre {
  padding-inline-end: 1em;

  white-space: nowrap;

  h4,
  button {
    overflow: hidden;
    white-space: nowrap;
  }

  .close {
    width: 300px;
  }

  button::after {
    display: block;
  }

  .listFilte1 {
    margin-top: 0 !important;
  }

  .filtreee {
    display: none;
  }

  &:hover {
    width: 300px;

    .accordion-button {
      padding: 1.25rem 1rem !important;
    }

    .listFilte1 {
      margin-top: 20px !important;
    }

    .filtreee {
      display: block;
    }

    button::after {
      display: block;
    }
  }
}

* {
  transition: all 0.35s ease-in-out;
}

.accordion-button {
  // padding: 0 0 !important;
  // padding-inline-start: 10px !important;
}

.sidebar-offre {
  padding-inline-end: 1em;
  width: 65px;
  white-space: nowrap;

  h4,
  button {
    overflow: hidden;
    white-space: nowrap;
  }

  button::after {
    display: none;
  }

  &.open {
    width: 300px;

    .accordion-button {
      padding: 1.25rem 1rem !important;
    }

    .listFilte1 {
      margin-top: 20px !important;
    }

    .filtreee {
      display: block;
    }

    button::after {
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .sidebar-offre {
    display: none;
  }

  .sidebar-offre.open {
    display: block;
    z-index: 200;
    width: 100%;
  }
}

.sideBar-text {
  width: 0;

}
// #endregion


































