/* You can add global styles to this file, and also import other style files */

*body {
  background-color: #f6f6f9;
}
.section-recruteur {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: none !important;
}
.p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover
  .p-menuitem-link {
  background: #ffffff;
  border-color: #3f1c92 !important;
  color: #1a578d !important;
}
.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.transparent-bg>.modal-content {
  background-color: #fefefe00 !important;
  border: none !important;
}
