/* You can add global styles to this file, and also import other style files */

*body {
  background-color: #f6f6f9;
}
.section-recruteur {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
