<p-card [style]="{ width: '100%', 'margin-bottom': '2em', 'margin-top': '2em' }">
  <ng-template pTemplate="header"> </ng-template>

  <p-tabView>
    <p-tabPanel header="show 1">
      <!-- #region  boyd 1  -->
      <div class="row m-1">
        <div class="prr">
          <button #btn type="button" pButton class="mt-2 filter-btn" icon="pi pi-bars" label=""
            (click)="menu.toggle($event)"></button>
        </div>
        <p-tieredMenu #menu [model]="itemss" [popup]="true"></p-tieredMenu>
        <div class="col-md-4">
          <!-- #region hero card body 1  -->
          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
            styleClass="p-card-shadow">
            <ng-template pTemplate="header">
              <img height="250" alt="Card"
                src="https://img.pikbest.com/backgrounds/20211102/black-friday-sale-offer-background-design-_6160094.jpg" />
            </ng-template>
            <p>
              Lorem ipsum dolor iconsequuntur error repudiandae numquam
              tione quam perferendis esse, cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer"> </ng-template>
          </p-card>
          <!-- #endregion -->
        </div>
        <div class="col-md-4">
          <!-- #region colem 2 body 1 -->
          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="row">
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/48D1CC/000000" alt="example business logo" />
                  <div class="inner-wrapper">
                    <p>
                      Understand user behavior &amp; ship product faster.
                      Try Amplitude free today.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/FFDEAD/000000" alt="example business logo" />
                  <div class="inner-wrapper">
                    <p>
                      All the tools your team needs in one place. Slack:
                      Where work happens.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/DDA0DD/000000" alt="example design logo" />
                  <div class="inner-wrapper">
                    <p>
                      FullStory shows you bugs, so you don't have to repro
                      them yourself. Use it now!
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/48D1CC/000000" alt="example business logo" />
                  <div class="inner-wrapper">
                    <p>
                      Understand user behavior &amp; ship product faster.
                      Try Amplitude free today.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/FFDEAD/000000" alt="example business logo" />
                  <div class="inner-wrapper">
                    <p>
                      All the tools your team needs in one place. Slack:
                      Where work happens.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/DDA0DD/000000" alt="example design logo" />
                  <div class="inner-wrapper">
                    <p>
                      FullStory shows you bugs, so you don't have to repro
                      them yourself. Use it now!
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
        <div class="col-md-4">
          <!-- #region col 3 body 1 -->
          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="row">
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/FFB6C1/000000" alt="example design logo" />
                  <div class="inner-wrapper">
                    <p>
                      Test the UX of your website. Diagnose problem areas
                      &amp; prove new designs work.
                    </p>
                    <p class="fine-print">ads via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/87CEFA/000000" alt="example design logo" />
                  <div class="inner-wrapper">
                    <p>
                      Test the UX of your website. Diagnose problem areas
                      &amp; prove new designs work.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/B0C4DE/000000" alt="example business logo" />
                  <div class="inner-wrapper">
                    <p>
                      The new generation of project management tools is here
                      and it’s visual.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/87CEFA/000000" alt="example design logo" />
                  <div class="inner-wrapper">
                    <p>
                      Test the UX of your website. Diagnose problem areas
                      &amp; prove new designs work.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="carbon-example flex-wrapper">
                  <img src="https://via.placeholder.com/200x200/87CEFA/000000" alt="example design logo" />
                  <div class="inner-wrapper">
                    <p>
                      Test the UX of your website. Diagnose problem areas
                      &amp; prove new designs work.
                    </p>
                    <p class="fine-print">block via Carbon</p>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
      </div>
      <!-- #endregion -->
    </p-tabPanel>
    <p-tabPanel header="show 2">
      <!-- #region body 2 -->
      <div class="row m-1">
        <div class="prr">
          <button #btn type="button" pButton class="mt-2 filter-btn" icon="pi pi-bars" label=""
            (click)="menu.toggle($event)"></button>
        </div>
        <p-tieredMenu #menu [model]="itemss" [popup]="true"></p-tieredMenu>
        <div class="col-md-4">
          <!-- #region hero card body 2  -->
          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
            styleClass="p-card-shadow">
            <ng-template pTemplate="header">
              <img height="250" alt="Card"
                src="https://freedesignfile.com/upload/2019/05/Black-Friday-special-offer-background-black-vector.jpg" />
            </ng-template>
            <p>
              Lorem ipsum dolor iconsequuntur error repudiandae numquam
              tione quam perferendis esse, cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer"> </ng-template>
          </p-card>
          <!-- #endregion -->
        </div>
        <div class="col-md-8">
          <!-- #region colem 2 body 2 -->
          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="text-center mb-2-8 mb-lg-6">
              <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">
                Why choose
                <strong class="text-primary font-weight-700">Us</strong>
              </h2>
              <span>The trusted source for why choose us</span>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
                <div class="pr-md-3">
                  <div class="text-center text-sm-right mb-2-9">
                    <div class="mb-4">
                      <img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="..." class="rounded-circle" />
                    </div>
                    <h4 class="sub-info">Residential Cleaning</h4>
                    <p class="display-30 mb-0">
                      Roin gravida nibh vel velit auctor aliquetenean
                      sollicitudin, lorem qui bibendum auctor.
                    </p>
                  </div>
                  <div class="text-center text-sm-right">
                    <div class="mb-4">
                      <img src="https://via.placeholder.com/80x80/87CEFA/000000" alt="..." class="rounded-circle" />
                    </div>
                    <h4 class="sub-info">Commercial Cleaning</h4>
                    <p class="display-30 mb-0">
                      Gravida roin nibh vel velit auctor aliquetenean
                      sollicitudin, lorem qui bibendum auctor.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="why-choose-center-image">
                  <img src="https://via.placeholder.com/350x350/FF7F50/000000" alt="..." class="rounded-circle" />
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="pl-md-3">
                  <div class="text-center text-sm-left mb-5">
                    <div class="mb-4">
                      <img src="https://via.placeholder.com/80x80/8A2BE2/000000" alt="..." class="rounded-circle" />
                    </div>
                    <h4 class="sub-info">Washing services</h4>
                    <p class="display-30 mb-0">auctor.</p>
                  </div>

                  <div class="text-center text-sm-left">
                    <div class="mb-4">
                      <img src="https://via.placeholder.com/80x80/20B2AA/000000" alt="..." class="rounded-circle" />
                    </div>
                    <h4 class="sub-info">Carpet cleaning</h4>
                    <p class="display-30 mb-0">
                      Vel proin gravida nibh velit auctor aliquetenean
                      sollicitudin, lorem qui bibendum auctor.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
      </div>
      <!-- #endregion -->
    </p-tabPanel>
    <p-tabPanel header="show 3">
      <!-- #region body 3  -->
      <div class="row m-1">
        <div class="prr">
          <button #btn type="button" pButton class="mt-2 filter-btn" icon="pi pi-bars" label=""
            (click)="menu.toggle($event)"></button>
        </div>
        <p-tieredMenu #menu [model]="itemss" [popup]="true"></p-tieredMenu>
        <div class="col-md-4">
          <!-- #region hero card body 3  -->
          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
            styleClass="p-card-shadow">
            <ng-template pTemplate="header">
              <img height="250" alt="Card"
                src="https://img.freepik.com/vecteurs-libre/modele-banniere-vente-moderne-offre-speciale_1017-20667.jpg" />
            </ng-template>
            <p>
              Lorem ipsum dolor iconsequuntur error repudiandae numquam
              tione quam perferendis esse, cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer"> </ng-template>
          </p-card>
          <!-- #endregion -->
        </div>
        <div class="col-md-4">
          <!-- #region colem 2 body 3 -->
          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>User Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
        <div class="col-md-4">
          <!-- #region col 3 body 3 -->
          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>User Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
      </div>
      <!-- #endregion -->
    </p-tabPanel>
    <!-- <p-tabPanel [disabled]="true" header="Header IV"> </p-tabPanel> -->
    <p-tabPanel header="show 4">
      <!-- #region body 3  -->
      <div class="row m-1">
        <div class="prr">
          <button #btn type="button" pButton class="mt-2 filter-btn" icon="pi pi-bars" label=""
            (click)="menu.toggle($event)"></button>
        </div>
        <p-tieredMenu #menu [model]="itemss" [popup]="true"></p-tieredMenu>
        <div class="col-md-4">
          <!-- #region hero card body 3  -->
          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
            styleClass="p-card-shadow">
            <ng-template pTemplate="header">
              <img height="250" alt="Card"
                src="https://img.freepik.com/vecteurs-libre/modele-banniere-vente-moderne-offre-speciale_1017-20667.jpg" />
            </ng-template>
            <p>
              Lorem ipsum dolor iconsequuntur error repudiandae numquam
              tione quam perferendis esse, cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer"> </ng-template>
          </p-card>
          <!-- #endregion -->
        </div>
        <div class="col-md-4">
          <!-- #region colem 2 body 3 -->
          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>User Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
        <div class="col-md-4">
          <!-- #region col 3 body 3 -->

          <p-scrollPanel [style]="{ width: '100%', height: '500px' }" styleClass="custombar2">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>User Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width: 70px"
                          src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="dashboard-user" />
                      </div>
                      <div class="col">
                        <h5>John Doe</h5>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <ul class="task-list">
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                      <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>
                          Anton Knudsen<span class="float-right text-muted">14 MAY</span>
                        </h6>
                        <p class="text-muted">Lorem ipsum is dolorem…</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </p-scrollPanel>
          <!-- #endregion -->
        </div>
      </div>
      <!-- #endregion -->
    </p-tabPanel>
  </p-tabView>
</p-card>
