.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.hiro {
  height: 30vh;
  width: 100vw;
}

.pr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.ba {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px #000;
}

.ba3ad {
  height: 200vh;
}

// #region in card

.p-scrollpanel {
  p {
    padding: 0.5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color 0.2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }

  &.custombar2 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
      border-bottom: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--layer-2);
      border-radius: 0;
      opacity: 1;
      transition: background-color 0.2s;
    }
  }
}

.prr {
  position: relative;
  left: -43px;
  top: -25px;
}

.filter-btn {
  position: absolute;
}

// #endregion

// #region mini cart

.carbon-example {
  padding: 8px;
  background-color: #fff;
  width: 295px;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 5;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.carbon-example img {
  margin-right: 9px;
  max-width: 125px;
}

.carbon-example .inner-wrapper {
  text-align: left;
}

.carbon-example .inner-wrapper p {
  font-size: 12px;
  line-height: 1.33;
  margin: 8px 0;
}

.carbon-example .inner-wrapper p.fine-print {
  font-size: 8px;
  color: #c5cdd0;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .flex-wrapper.two-col {
    display: block;
    text-align: center;
  }
}

.flex-wrapper.two-col > * {
  width: 50%;
}

.flex-wrapper.two-col > *:first-of-type {
  padding-right: 130px;
}

@media screen and (max-width: 991px) {
  .flex-wrapper.two-col > * {
    width: 100%;
  }

  .flex-wrapper.two-col > *:first-of-type {
    padding-right: 0;
  }
}

.flex-wrapper.two-col.reversed > *:first-of-type {
  order: 2;
  padding-right: 0;
}

@media screen and (min-width: 992px) {
  .flex-wrapper.two-col.reversed > *:first-of-type {
    padding-left: 130px;
  }
}

.flex-wrapper.three-col {
  text-align: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .flex-wrapper.three-col {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.flex-wrapper.three-col > * {
  width: 33.3%;
}

@media screen and (max-width: 767px) {
  .flex-wrapper.three-col > * {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .flex-wrapper.three-col li {
    padding-left: 20px;
    padding-right: 20px;
  }

  .flex-wrapper.three-col li:first-child {
    padding-left: 0;
  }

  .flex-wrapper.three-col li:last-child {
    padding-right: 0;
  }
}

.flex-wrapper.three-col .flex-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .flex-wrapper.three-col .flex-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  .flex-wrapper.three-col .flex-wrapper:not(:first-of-type) {
    margin-top: 40px;
  }
}

.flex-wrapper.three-col .flex-wrapper .icon {
  top: 0;
}

// #endregion

// #region body 3

.task-list {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 30px 0 0;
}

.task-list:after {
  content: '';
  position: absolute;
  background: #ecedef;
  height: 100%;
  width: 2px;
  top: 0;
  left: 30px;
  z-index: 1;
}

.task-list li {
  margin-bottom: 30px;
  padding-left: 55px;
  position: relative;
}

.task-list li:last-child {
  margin-bottom: 0;
}

.task-list li .task-icon {
  position: absolute;
  left: 22px;
  top: 13px;
  border-radius: 50%;
  padding: 2px;
  width: 17px;
  height: 17px;
  z-index: 2;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card .card-header {
  background-color: transparent;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 25px;
  position: relative;
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #000;
  font-size: 17px;
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.1;
  position: relative;
}

.card .card-header h5:after {
  content: '';
  background-color: #04a9f5;
  position: absolute;
  left: -25px;
  top: 0;
  width: 4px;
  height: 20px;
}

.card .card-header.borderless {
  border-bottom: none;
}

.card .card-header.borderless h5:after {
  display: none;
}

.card .card-header .card-header-right {
  right: 10px;
  top: 10px;
  display: inline-block;
  float: right;
  padding: 0;
  position: absolute;
}

@media only screen and (max-width: 575px) {
  .card .card-header .card-header-right {
    display: none;
  }
}

.card .card-header .card-header-right .dropdown-menu {
  margin-top: 0;
}

.card .card-header .card-header-right .dropdown-menu li a {
  font-size: 14px;
  text-transform: capitalize;
}

.card .card-header .card-header-right .btn.dropdown-toggle {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.card .card-header .card-header-right .btn.dropdown-toggle i {
  margin-right: 0;
}

.card .card-header .card-header-right .btn.dropdown-toggle:after {
  display: none;
}

.card .card-header .card-header-right .btn.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.card .card-footer {
  border-top: 1px solid #f1f1f1;
  background: transparent;
  padding: 25px;
}

.card .card-block,
.card .card-body {
  padding: 30px 25px;
}

.card.card-load {
  position: relative;
  overflow: hidden;
}

.card.card-load .card-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999;
}

.card.card-load .card-loader i {
  margin: 0 auto;
  color: #04a9f5;
  font-size: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card.full-card {
  z-index: 99999;
  border-radius: 0;
}

.bg-c-green {
  background: #1de9b6;
}

h6 {
  font-size: 14px;
}

// #endregion

// #region body 1

.text-center {
  text-align: center !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}

a {
  color: #5465ff;
  text-decoration: none;
}

body {
  background: #eee;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

// #endregion
