.filter {
  font-size: 19px;
}

h4 {
  font-size: 20px;
}

body {
  margin-top: 20px;
  background: #eee;
}

.btn {
  margin-bottom: 5px;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}

.search table tr td.rate {
  color: #f39c12;
  line-height: 50px;
}

.search table tr:hover {
  cursor: pointer;
}

.search table tr td.image {
  width: 50px;
}

.search table tr td img {
  width: 50px;
  height: 50px;
}

.search table tr td.rate {
  color: #f39c12;
  line-height: 50px;
}

.search table tr td.price {
  font-size: 1.5em;
  line-height: 50px;
}

.search #price1,
.search #price2 {
  display: inline;
  font-weight: 600;
}

.img-offre {
  height: 112px !important;
  width: 127px !important;
}

.product {
  width: 514px;
}

.btn-fav {
  font-size: 20px;
}

.card-text {
  margin: 0 !important;
  margin-bottom: 8px !important;
}

.recherche {
  padding-bottom: 30px;
}

.emplacementFiltre {
  padding-left: 5px;
  list-style: none;
  margin-top: 20px;
  line-height: 40px;
}

.filtreee {
  padding-top: 0px;
}

.listFilte1 {
  padding-left: 5px;
  list-style: none;
  margin-top: 20px;
  line-height: 40px;
}

.recherche {
  padding-bottom: 20px;
}

.grid-body {
  padding-top: 30px !important;
}

.order {
  display: flex;
  justify-content: flex-end;
}

.custom-navbar {
  right: 0;
}

.accordion-button {
  align-items: baseline;
  padding-left: 10px;
}

.icone-filter {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .test {
    display: none;
  }

  .icone {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .icone {
    display: none !important;
  }
}

.side {
  font-size: 20px;
}

.icone:hover {
  .test {
    display: block;
  }
}

.popover {
  position: absolute;
  background-color: #a8a59f;
  top: 0px;
  left: 50px;
  width: 500px;
  height: 600px;
  z-index: 100;
}

.popli {
  position: relative;
  transition: 0.7s;
}

.sideS {
  margin-top: 25px;
  color: rgb(40, 165, 238);
}

.OpenSidebar {
  display: block;
}

.CloseSidebar {
  display: none;
}
