<div class="card">
  <div class="card-body pb-4">
    <div class="herder-top-card">
      <div class="col about">
        <div class="online">
          <div class="spinner-grow" role="status">
            <span class="visually-hidden"></span>
            <div class="init" role="status"></div>
          </div>
        </div>
      </div>
      <div (click)="open(content)" class="icons"></div>
    </div>
    <div class="d-flex flex-column align-items-center text-center">
      <img
        src="https://avatars.githubusercontent.com/u/71600486?v=4"
        alt="Admin"
        class="rounded-circle p-1 bg-warning"
        width="160"
      />
      <div class="mt-3">
        <h4>ahmed aoulad amar</h4>
        <p class="text-secondary mb-1">Full Stack Developer</p>
        <p class="text-muted font-size-sm">birc hifa ,tanger, moroco</p>
      </div>
    </div>
  </div>
  <Personal-Informations></Personal-Informations>
</div>
<!-- model start here -->
<!-- model start here -->
<!-- model start here -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- <form class="row g-3">
                <div class="row mb-3">
                      <div class="col-md-6">
                        <label for="validationServer01" class="form-label">First name</label>
                        <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="validationServer02" class="form-label">Last name</label>
                        <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                </div>
                <div class="row mb-3">
                            <div class="col-6">
                              <p-calendar placeholder=" your berth day " styleClass="in-date" inputId="date" [(ngModel)]="date"></p-calendar>
                            </div>
                      <div class="col-6">
                            <select class="form-select form-select-lg mb-3" id="contry" aria-label=".form-select-xl example">
                              <option selected disabled value="">contery</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                      </div>
                </div>
                <div class="row mb-3">
                      <div class="col-md-6">
                              <label for="validationServer03" class="form-label">City</label>
                              <input type="text" class="form-control is-invalid" id="validationServer03"
                                aria-describedby="validationServer03Feedback" required>
                              <div id="validationServer03Feedback" class="invalid-feedback">
                                Please provide a valid city.
                              </div>
                      </div>
                      <div class="col-md-3">
                              <label for="validationServer04" class="form-label">State</label>
                              <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback"
                                required>
                                <option selected disabled value="">Choose...</option>
                                <option>...</option>
                              </select>
                              <div id="validationServer04Feedback" class="invalid-feedback">
                                Please select a valid state.
                              </div>
                      </div>
                      <div class="col-md-3">
                              <label for="validationServer05" class="form-label">Zip</label>
                              <input type="text" class="form-control is-invalid" id="validationServer05"
                                aria-describedby="validationServer05Feedback" required>
                              <div id="validationServer05Feedback" class="invalid-feedback">
                                Please provide a valid zip.
                              </div>
                      </div>
                  </div>
                <div class="row mb-3">
                        <div class="form-check">
                              <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                                aria-describedby="invalidCheck3Feedback" required>
                              <label class="form-check-label" for="invalidCheck3">
                                Agree to terms and conditions
                              </label>
                              <div id="invalidCheck3Feedback" class="invalid-feedback">
                                You must agree before submitting.
                              </div>
                        </div>
                </div>
                <div class="row mb-3">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                </div>

      </form> -->
    <form [formGroup]="headerProfileForm" (ngSubmit)="sendEntretien()">
      <!-- hreader online input + uploadimg inpute -->
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="form-check form-switch">
                <label class="form-label" for="flexSwitchCheckDefault">{{
                  "evry one can see your profile" | translate
                }}</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  formControlName="onlineCheckbtn"
                  name="onlineCheckbtn"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="col about">
                <div class="online">
                  <div class="spinner-grow" role="status">
                    <span class="visually-hidden"></span>
                    <div class="init" role="status"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mr-5">
          <div class="row">
            <div class="col-md-6">
              <script>
                function upload() {
                  var dd1 = document.getElementById("d1");
                  var dd2 = document.getElementById("d2");
                  var image = new SimpleImage(dd2);
                  image.drawTo(dd1);
                }
              </script>

              <label class="form-label" for="d2">
                {{ "chose your img " | translate }}
              </label>
              <input
                type="file"
                multiple="false"
                accept="image/*"
                id="d2"
                onchange="upload()"
                [ngModel]="profileImg"
                [ngClass]="{
                  'is-invalid':
                    headerProfileForm.get('fileImg')?.touched &&
                    headerProfileForm.get('fileImg')?.invalid
                }"
                formControlName="fileImg"
                name="fileImg"
              />
              <div
                *ngIf="
                  headerProfileForm.get('fileImg')?.touched &&
                  headerProfileForm.get('fileImg')?.invalid
                "
                class="invalid-feedback mb-2"
              >
                <div
                  *ngIf="headerProfileForm.get('fileImg')?.errors?.['required']"
                >
                  {{ "form.champ_oblig" | translate }}
                </div>
                <div
                  *ngIf="headerProfileForm.get('fileImg')?.errors?.['minlength']"
                >
                  {{ "form.champ_3" | translate }}
                </div>
                <div
                  *ngIf="headerProfileForm.get('fileImg')?.errors?.['maxlength']"
                >
                  {{ "form.champ_30" | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <canvas id="d1"> </canvas>
              <!-- <img
                src=""
                id="d1"
                alt="Admin"
                class="rounded-circle p-1 bg-warning"
                width="160"
              /> -->
            </div>
          </div>
        </div>
      </div>
      <!-- name and last name -->
      <div class="row">
        <!-- Name input -->
        <div class="mb-3 col-md-6">
          <label class="form-label" for="name">
            {{ "form.nom" | translate }}
          </label>
          <input
            class="form-control"
            id="name"
            type="text"
            placeholder="{{ 'form.exp_nom' | translate }}"
            [ngClass]="{
              'is-invalid':
                headerProfileForm.get('name')?.touched &&
                headerProfileForm.get('name')?.invalid
            }"
            formControlName="name"
            name="name"
          />
          <div
            *ngIf="
              headerProfileForm.get('name')?.touched &&
              headerProfileForm.get('name')?.invalid
            "
            class="invalid-feedback mb-2"
          >
            <div *ngIf="headerProfileForm.get('name')?.errors?.['required']">
              {{ "form.champ_oblig" | translate }}
            </div>
            <div *ngIf="headerProfileForm.get('name')?.errors?.['minlength']">
              {{ "form.champ_3" | translate }}
            </div>
            <div *ngIf="headerProfileForm.get('name')?.errors?.['maxlength']">
              {{ "form.champ_30" | translate }}
            </div>
          </div>
        </div>
        <!-- Prenom input -->
        <div class="mb-3 col-md-6">
          <label class="form-label" for="prenom">
            {{ "form.prenom" | translate }}
          </label>
          <input
            class="form-control"
            id="prenom"
            type="prenom"
            placeholder="{{ 'form.exp_pre' }}"
            formControlName="prenom"
            name="prenom"
            [ngClass]="{
              'is-invalid':
                headerProfileForm.get('prenom')?.touched &&
                headerProfileForm.get('prenom')?.invalid
            }"
          />
          <div
            *ngIf="
              headerProfileForm.get('prenom')?.touched &&
              headerProfileForm.get('prenom')?.invalid
            "
            class="invalid-feedback mb-2"
          >
            <div *ngIf="headerProfileForm.get('prenom')?.errors?.['required']">
              {{ "form.champ_oblig" | translate }}
            </div>
            <div *ngIf="headerProfileForm.get('prenom')?.errors?.['minlength']">
              {{ "form.champ_3" | translate }}
            </div>
            <div *ngIf="headerProfileForm.get('prenom')?.errors?.['maxlength']">
              {{ "form.champ_30" | translate }}
            </div>
          </div>
        </div>
      </div>
      <!-- Telephone + email address input -->
      <div class="row">
        <div class="mb-3 col-md-6">
          <label class="form-label" for="telephone">
            {{ "form.telephone" | translate }}
          </label>
          <input
            class="form-control"
            id="telephone"
            type="texte"
            placeholder="{{ 'form.exp_tel' | translate }}"
            formControlName="telephone"
            name="telephone"
            [ngClass]="{
              'is-invalid':
                headerProfileForm.get('telephone')?.touched &&
                headerProfileForm.get('telephone')?.invalid
            }"
          />
          <div
            *ngIf="
              headerProfileForm.get('telephone')?.touched &&
              headerProfileForm.get('telephone')?.invalid
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="headerProfileForm.get('telephone')?.errors?.['required']"
            >
              {{ "form.champ_oblig" | translate }}
            </div>
            <div
              *ngIf="headerProfileForm.get('telephone')?.errors?.['pattern']"
            >
              {{ "form.tel_valid" | translate }}
            </div>
            <div
              *ngIf="headerProfileForm.get('telephone')?.errors?.['minlength']"
            >
              {{ "form.champ_10" | translate }}
            </div>
          </div>
        </div>
        <!-- Email  input -->
        <div class="mb-3 col-md-6">
          <label class="form-label" for="emailAddress">
            {{ "form.email" | translate }}
          </label>
          <input
            class="form-control"
            id="emailAddress"
            type="email"
            placeholder="{{ 'form.exp_email' }}"
            formControlName="email"
            name="email"
            [ngClass]="{
              'is-invalid':
                headerProfileForm.get('email')?.touched &&
                headerProfileForm.get('email')?.invalid
            }"
          />
          <div
            *ngIf="
              headerProfileForm.get('email')?.touched &&
              headerProfileForm.get('email')?.invalid
            "
            class="invalid-feedback"
          >
            <div *ngIf="headerProfileForm.get('email')?.errors?.['required']">
              {{ "form.champ_oblig" | translate }}
            </div>
            <div *ngIf="headerProfileForm.get('email')?.errors?.['email']">
              {{ "form.mail_valid" | translate }}
            </div>
          </div>
        </div>
      </div>
      <!--date of borthe inpout  input -->
      <div class="row">
        <div class="mb-3 col-md-6">
          <label class="form-label" for="borthDate">
            {{ "borthDate" | translate }}
          </label>
          <input
            class="form-control"
            id="borthDate"
            type="date"
            formControlName="borthDate"
            name="borthDate"
            [ngClass]="{
              'is-invalid':
                headerProfileForm.get('borthDate')?.touched &&
                headerProfileForm.get('borthDate')?.invalid
            }"
          />
          <div
            *ngIf="
              headerProfileForm.get('borthDate')?.touched &&
              headerProfileForm.get('borthDate')?.invalid
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="headerProfileForm.get('borthDate')?.errors?.['required']"
            >
              {{ "form.champ_oblig" | translate }}
            </div>
            <div
              *ngIf="headerProfileForm.get('borthDate')?.errors?.['pattern']"
            >
              {{ "form.tel_valid" | translate }}
            </div>
            <div
              *ngIf="headerProfileForm.get('borthDate')?.errors?.['minlength']"
            >
              {{ "form.champ_10" | translate }}
            </div>
          </div>
        </div>

        <!--date of borthe inpout  input -->
        <div class="mb-3 col-md-6">
          <label class="form-label" for="countery">
            {{ "countery" | translate }}
          </label>
          <select
            id="countery"
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
            formControlName="countery"
            name="countery"
            [ngClass]="{
              'is-invalid':
                headerProfileForm.get('countery')?.touched &&
                headerProfileForm.get('countery')?.invalid
            }"
          >
            <option selected>select your countery</option>
            <option
              id="{{ contry.name.common }}"
              *ngFor="let contry of city"
              value="{{ contry.name.common }}"
            >
              {{ contry.flag }} {{ contry.name.common }}
            </option>
          </select>

          <div
            *ngIf="
              headerProfileForm.get('countery')?.touched &&
              headerProfileForm.get('countery')?.invalid
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="headerProfileForm.get('countery')?.errors?.['required']"
            >
              {{ "form.champ_oblig" | translate }}
            </div>
            <div *ngIf="headerProfileForm.get('countery')?.errors?.['pattern']">
              {{ "form.tel_valid" | translate }}
            </div>
            <div
              *ngIf="headerProfileForm.get('countery')?.errors?.['minlength']"
            >
              {{ "form.champ_10" | translate }}
            </div>
          </div>
        </div>
      </div>
      <!--adriss  -->
      <div class="row">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="validationServer03" class="form-label">{{
              "ctiy" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="validationServer03"
              formControlName="ctiy_inpute"
              name="ctiy_inpute"
              [ngClass]="{
                'is-invalid':
                  headerProfileForm.get('ctiy_inpute')?.touched &&
                  headerProfileForm.get('ctiy_inpute')?.invalid
              }"
            />
            <div
              *ngIf="
                headerProfileForm.get('ctiy_inpute')?.touched &&
                headerProfileForm.get('ctiy_inpute')?.invalid
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="headerProfileForm.get('ctiy_inpute')?.errors?.['required']"
              >
                {{ "form.champ_oblig" | translate }}
              </div>
              <div
                *ngIf="headerProfileForm.get('ctiy_inpute')?.errors?.['pattern']"
              >
                {{ "form.tel_valid" | translate }}
              </div>
              <div
                *ngIf="headerProfileForm.get('ctiy_inpute')?.errors?.['minlength']"
              >
                {{ "form.champ_10" | translate }}
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationServer04" class="form-label">{{
              "State" | translate
            }}</label>
            <select
              class="form-select"
              id="validationServer04"
              formControlName="State_input"
              name="State_input"
              [ngClass]="{
                'is-invalid':
                  headerProfileForm.get('State_input')?.touched &&
                  headerProfileForm.get('State_input')?.invalid
              }"
            >
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>

            <div
              *ngIf="
                headerProfileForm.get('State_input')?.touched &&
                headerProfileForm.get('State_input')?.invalid
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="headerProfileForm.get('State_input')?.errors?.['required']"
              >
                {{ "form.champ_oblig" | translate }}
              </div>
              <div
                *ngIf="headerProfileForm.get('State_input')?.errors?.['pattern']"
              >
                {{ "form.tel_valid" | translate }}
              </div>
              <div
                *ngIf="headerProfileForm.get('State_input')?.errors?.['minlength']"
              >
                {{ "form.champ_10" | translate }}
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationServer05" class="form-label">{{
              "czip" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="validationServer05"
              formControlName="zip_code_input"
              name="zip_code_input"
              [ngClass]="{
                'is-invalid':
                  headerProfileForm.get('zip_code_input')?.touched &&
                  headerProfileForm.get('zip_code_input')?.invalid
              }"
            />

            <div
              *ngIf="
                headerProfileForm.get('zip_code_input')?.touched &&
                headerProfileForm.get('zip_code_input')?.invalid
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="headerProfileForm.get('zip_code_input')?.errors?.['required']"
              >
                {{ "form.champ_oblig" | translate }}
              </div>
              <div
                *ngIf="headerProfileForm.get('zip_code_input')?.errors?.['pattern']"
              >
                {{ "form.tel_valid" | translate }}
              </div>
              <div
                *ngIf="headerProfileForm.get('zip_code_input')?.errors?.['minlength']"
              >
                {{ "form.champ_10" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      close
    </button>
    <div class="row">
      <button type="button" class="btn btn-info" (click)="sendEntretien()">
        save
      </button>
    </div>
  </div>
</ng-template>
