.in-date
{
  height: 300p !important;

}
.form-control
{
  height: 55px !important;
}
.form-select
{
  height: 55px !important;
}
.s-placeholde
{
 font: 10px ;
 color: rgb(184, 184, 184)!important;

}

.form-select
{
 color: rgb(148, 148, 148);

}
