.in-date
{
  height: 300p !important;

}
.form-control
{
  height: 55px !important;
}
.form-select
{
  height: 55px !important;
}
.s-placeholde
{
 font: 10px ;
 color: rgb(184, 184, 184)!important;

}

.form-select
{
 color: rgb(148, 148, 148);

}


.switch
{
font-size: 30px;
font-weight: 600;
color: #34f803;
margin-right: 20px;

}

#switch{
  margin-top: -10px;
  background-color: #34f803;
}



option
{
  color: rgb(96, 96, 96);
}
canvas {
  border: solid 1px grey;

}
