<div class="section-recruteur mb-3">
  <h4>{{ 'globale.faq_Entreprise' | translate }}</h4>
</div>
<div class="section-recruteur">
  <p-tabView>
    <p-tabPanel header="Parcourir Les Questions">
      <div class="">
        <div class="spacing-article-divider" *ngFor="let qr of questionReponse">
          <h5>{{ qr.question }}</h5>
          <p>{{ qr.reponse }}</p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Poser Une Question">
      <form
        id="contactForm"
        (ngSubmit)="sendQuestion()"
        [formGroup]="FaqForm"
        #form2
      >
        <h4 class="">Poser Votre Question</h4>

        <div class="row">
          <!-- Name input -->

          <div class="mb-3 col-md-6">
            <label class="form-label" for="name">
              {{ 'form.nom' }}
            </label>
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="{{ 'form.exp_nom' }}"
              [ngClass]="{
                'is-invalid':
                  FaqForm.get('name')?.touched && FaqForm.get('name')?.invalid
              }"
              formControlName="name"
              name="name"
            />
            <div
              *ngIf="
                FaqForm.get('name')?.touched && FaqForm.get('name')?.invalid
              "
              class="invalid-feedback mb-2"
            >
              <div *ngIf="FaqForm.get('name')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="FaqForm.get('name')?.errors?.['minlength']">
                {{ 'form.champ_3' }}
              </div>
              <div *ngIf="FaqForm.get('name')?.errors?.['maxlength']">
                {{ 'form.champ_30' }}
              </div>
              <div *ngIf="FaqForm.get('name')?.errors?.['pattern']">
                {{ 'form.champ_lettre' }}
              </div>
            </div>
          </div>

          <!-- Prenom input -->
          <div class="mb-3 col-md-6">
            <label class="form-label" for="prenom">
              {{ 'form.prenom' }}
            </label>
            <input
              class="form-control"
              id="prenom"
              type="prenom"
              placeholder="{{ 'form.exp_pre' }}"
              formControlName="prenom"
              name="prenom"
              [ngClass]="{
                'is-invalid':
                  FaqForm.get('prenom')?.touched &&
                  FaqForm.get('prenom')?.invalid
              }"
            />
            <div
              *ngIf="
                FaqForm.get('prenom')?.touched && FaqForm.get('prenom')?.invalid
              "
              class="invalid-feedback mb-2"
            >
              <div *ngIf="FaqForm.get('prenom')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="FaqForm.get('prenom')?.errors?.['minlength']">
                {{ 'form.champ_3' }}
              </div>
              <div *ngIf="FaqForm.get('prenom')?.errors?.['maxlength']">
                {{ 'form.champ_30' }}
              </div>
              <div *ngIf="FaqForm.get('prenom')?.errors?.['pattern']">
                {{ 'form.champ_lettre' }}
              </div>
            </div>
          </div>
        </div>
        <!-- Telephone + email address input -->
        <div class="row">
          <div class="mb-3 col-md-6">
            <label class="form-label" for="telephone">
              {{ 'form.telephone' }}
            </label>
            <input
              class="form-control"
              id="telephone"
              type="texte"
              placeholder="{{ 'form.exp_tel' }}"
              formControlName="telephone"
              name="telephone"
              [ngClass]="{
                'is-invalid':
                  FaqForm.get('telephone')?.touched &&
                  FaqForm.get('telephone')?.invalid
              }"
            />
            <div
              *ngIf="
                FaqForm.get('telephone')?.touched &&
                FaqForm.get('telephone')?.invalid
              "
              class="invalid-feedback"
            >
              <div *ngIf="FaqForm.get('telephone')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="FaqForm.get('telephone')?.errors?.['pattern']">
                {{ 'form.tel_valid' }}
              </div>
              <div *ngIf="FaqForm.get('telephone')?.errors?.['minlength']">
                {{ 'form.champ_10' }}
              </div>
            </div>
          </div>
          <!-- Email  input -->
          <div class="mb-3 col-md-6">
            <label class="form-label" for="emailAddress">
              {{ 'form.email' }}
            </label>
            <input
              class="form-control"
              id="emailAddress"
              type="email"
              placeholder="{{ 'form.exp_email' }}"
              formControlName="email"
              name="email"
              [ngClass]="{
                'is-invalid':
                  FaqForm.get('email')?.touched && FaqForm.get('email')?.invalid
              }"
            />
            <div
              *ngIf="
                FaqForm.get('email')?.touched && FaqForm.get('email')?.invalid
              "
              class="invalid-feedback"
            >
              <div *ngIf="FaqForm.get('email')?.errors?.['required']">
                {{ 'form.champ_oblig' }}
              </div>
              <div *ngIf="FaqForm.get('email')?.errors?.['email']">
                {{ 'form.mail_valid' }}
              </div>
            </div>
          </div>
        </div>
        <!-- Questions input -->

        <ng-container formArrayName="questions">
          <div
            class="mb-2 position-relative d-flex flex-wrap align-items-center"
            *ngFor="let question of questions.controls; let i = index"
            [formGroupName]="i"
          >
            <label class="form-label w-100" for="question">
              {{ 'form.question' }} {{ i + 1 }}
            </label>
            <div class="flex-grow-1">
              <input
                type="text"
                formControlName="questionValue"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    questions.controls[i].get('questionValue')?.touched &&
                    questions.controls[i].get('questionValue')?.invalid
                }"
              />
              <div
                *ngIf="
                  questions.controls[i].get('questionValue')?.touched &&
                  questions.controls[i].get('questionValue')?.invalid
                "
                class="invalid-feedback mb-2"
              >
                <div
                  *ngIf=" questions.controls[i].get('questionValue')?.errors?.['required']"
                >
                  {{ 'form.champ_oblig' }}
                </div>
                <div
                  *ngIf=" questions.controls[i].get('questionValue')?.errors?.['minlength']"
                >
                  {{ 'form.champ_10' }}
                </div>
                <div
                  *ngIf=" questions.controls[i].get('questionValue')?.errors?.['maxlength']"
                >
                  {{ 'form.champ_30' }}
                </div>
              </div>
            </div>
            <div class="delete-btn-container mx-1" *ngIf="i != 0">
              <div class="delete-btn" (click)="deleteQuestion(i)">
                <i class="fa-solid fa-trash"></i>
              </div>
            </div>
          </div>
          <button
            type="button"
            (click)="newQuestion()"
            class="btn btn-outline-dark"
          >
            Ajouter
          </button>
        </ng-container>

        <!-- Form submit button -->
        <div class="mt-5 text-center">
          <button class="btn btn-outline-dark" type="submit">
            {{ 'form.Envoyer' }}
          </button>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</div>
