<!-- #region chad -->
<div class="container mt-5" >
  <div class="d-flex flex-main">
    <div
      *ngIf="showLeftSideBar"
      class="section-recruteur spacing-inline-end mb-3"
    >
      <app-card-guide
        *ngIf="this.pageName == 'guides-emploi'"
        [pageName]="pageName"
      ></app-card-guide>

      <app-filter
        class="sideBar-Main"
        [pageName]="pageName"
        *ngIf="this.pageName != 'guides-emploi'"
      ></app-filter>
    </div>

    <div class="w-100">
      <div *ngIf="showHeader" class="section-recruteur mb-3 w-100">
        <h2 class="px-1" style="font-size: 25px;">
          {{ pageName | titlecase }}
        </h2>
      </div>
      <div class="section-recruteur mb-3 w-100">
        <div class="flex-grow-1">
          <div *ngIf="showTopFilter" class="">
            <app-top-bar [pageName]="pageName"></app-top-bar>
          </div>
          <hr *ngIf="pageName != 'undfind' && pageName != 'guides-emploi'" />

          <div class="row">
            <ng-container
              *ngIf="
                pageName == 'offres-emploi' ||
                pageName == 'offres-de-stage' ||
                pageName == 'offres-alternance' ||
                pageName == 'offres-extra' ||
                pageName == 'demandes-specifiques'
              "
            >

              <div class="row" *ngIf="genericervice.orientation == 'verticale'">
                <app-card-offre-Verticale
                  *ngFor="
                    let offre of filterService.getlist()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [pageName]="pageName"
                  [id]="offre?.id"
                  [link]="[
                    pageName == 'demandes-specifiques'
                      ? '/competences/details-demandes-specifiques/'
                      : '/offres/details-offres/',
                    offre.id
                  ]"
                  [Intitule]="offre?.Intitule"
                  [Secteur]="offre?.Secteur"
                  [Poste]="offre?.Poste"
                  [TypePoste]="offre?.TypePoste"
                  [NomEntreprise]="offre?.NomEntreprise"
                  [TypeEntreprise]="offre?.TypeEntreprise"
                  [TypeContrat]="offre?.TypeContrat"
                  [Ville]="offre?.Ville"
                  [Date]="offre?.Date"
                  [image]="offre?.Image"
                  [dateDisponibilite]="offre?.dateDisponibilite"
                  [image]="offre?.Image"
                ></app-card-offre-Verticale>


              </div>
              <div
                class="row"
                *ngIf="genericervice.orientation == 'horizontale'"
              >
                <app-card-offre-horizontale
                  class="col-md-6 mb-3"
                  *ngFor="
                    let offre of filterService.getlist()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [pageName]="pageName"
                  [id]="offre?.id"
                  [link]="['/offres/details-offres/', offre.id]"
                  [Intitule]="offre.Intitule"
                  [Secteur]="offre.Secteur"
                  [Poste]="offre.Poste"
                  [TypePoste]="offre.TypePoste"
                  [NomEntreprise]="offre.NomEntreprise"
                  [TypeEntreprise]="offre.TypeEntreprise"
                  [TypeContrat]="offre.TypeContrat"
                  [Ville]="offre.Ville"
                  [Date]="offre.Date"
                  [dateDisponibilite]="offre.dateDisponibilite"
                  [image]="offre.Image"
                ></app-card-offre-horizontale>
              </div>
            </ng-container>
            <ng-container *ngIf="pageName == 'candidats'">
              <div *ngIf="genericervice.orientation == 'verticale'">
                <condida-c-cart-tow
                  *ngFor="
                    let c of filterService.getlist()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [link]="['/Candidats/details', c?.info?.id]"
                  [pageName]="pageName"
                  [id]="c?.info?.id"
                  class=""
                  [available]="c?.info.available"
                  [img]="c?.info.img"
                  [last_name]="c?.info.name.last_name"
                  [first_name]="c?.info.name.first_name"
                  [age]="c?.info.age"
                  [countrie]="c?.info.address.countrie"
                  [city]="c?.info.address.city"
                  [tital_job]="c?.info.tital_job"
                  [years_of_ex]="c?.info.job_post.years_of_ex"
                  [ed_lavel]="c.info.ed_lavel"
                  [tag]="c?.info.tag"
                ></condida-c-cart-tow>
              </div>
              <div
                class="row m-1"
                *ngIf="genericervice.orientation == 'horizontale'"
              >
                <condida-c-card
                  *ngFor="
                    let c of filterService.getlist()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [link]="['/Candidats/details', c.info.id]"
                  class="col-md-6"
                  [pageName]="pageName"
                  [id]="c?.id"
                  [available]="c.info.available"
                  [img]="c?.info.img"
                  [last_name]="c?.info.name.last_name"
                  [first_name]="c?.info.name.first_name"
                  [age]="c?.info.age"
                  [countrie]="c?.info.address.countrie"
                  [city]="c?.info.address.city"
                  [tital_job]="c?.info.tital_job"
                  [years_of_ex]="c?.info.job_post.years_of_ex"
                  [ed_lavel]="c?.info.ed_lavel"
                  [tag]="c?.info.tag"
                ></condida-c-card>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                pageName == 'recruteurs' ||
                pageName == 'associations-insertion-economique' ||
                pageName == 'etablissements-formation' ||
                pageName == 'cabinets-recrutement' ||
                pageName == 'condidatures-spontannes'
              "
            >
              <app-card-recruiter
                *ngFor="
                  let recruiter of filterService.getlist()
                    | paginate: { itemsPerPage: 6, currentPage: p }
                "
                [link]="[
                  pageName == 'condidatures-spontannes'
                    ? '/recruteurs/details-recruteur/' +
                      recruiter.id +
                      '/condidature-spontanee'
                    : '/recruteurs/details-recruteur/' + recruiter.id
                ]"
                [id]="recruiter.id"
                [pageName]="pageName"
                class="col-md-4 col-sm-6"
                [imageBg]="recruiter?.imageBg"
                [logo]="recruiter?.logo"
                [title]="recruiter?.title"
                [type]="recruiter?.type"
                [salaries]="recruiter?.salaries"
                [caption]="recruiter?.caption"
              ></app-card-recruiter>
            </ng-container>

            <ng-container *ngIf="pageName == 'decouverte-des-metiers'">
              <div class="row">
                <app-card-metiers
                  class="col-lg-3 col-md-4 col-sm-6 mb-3"
                  *ngFor="
                    let metier of filterService.getlist()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [Image]="metier?.Image"
                  [Secteur]="metier?.Secteur"
                  [Intitule]="metier?.Intitule"
                  [link]="['/metiers/details-metiers', metier?.id]"
                ></app-card-metiers>
              </div>
            </ng-container>
            <ng-container *ngIf="pageName == 'metiers-pour-vous'">
              <div class="row">
                <app-card-metiers
                  class="col-lg-3 col-md-4 col-sm-6 mb-3"
                  *ngFor="
                    let metier of filterService.getlist()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [Image]="metier?.Image"
                  [Secteur]="metier?.Secteur"
                  [Intitule]="metier?.Intitule"
                  [link]="['/metiers/details-metiers', metier?.id]"
                ></app-card-metiers>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                pageName == 'hard-skills' ||
                pageName == 'conseils-pratique' ||
                pageName == 'actualites-emploi' ||
                pageName == 'soft-skills' ||
                pageName == 'legislations-et-textes-lois'
              "
            >
              <div class="row">
                <app-card-article
                  *ngFor="
                    let article of filterService.getlist()
                      | paginate: { itemsPerPage: 6, currentPage: p }
                  "
                  [link]="['/rubrique/details-article', article.id]"
                  class="col-md-6 mb-3"
                  [image]="article.image"
                  [titre]="article.titre"
                  [sousTitre]="article.sousTitre"
                  [resume]="article.resume"
                  [etiquette]="article.etiquette"
                  [motsCles]="article.motsCles"
                ></app-card-article>
              </div>
            </ng-container>
            <ng-container *ngIf="pageName == 'quiz'">
              <app-card-quiz
                class="col-md-4 mb-3"
                *ngFor="
                  let quiz of filterService.getlist()
                    | paginate: { itemsPerPage: 20, currentPage: p }
                "
                [routerLink]="['/quiz/quiz-details', quiz.id]"
                [image]="quiz.image"
                [titre]="quiz.titre"
                [resume]="quiz.resume"
                [link]="quiz?.link"
                [domaine]="quiz.domaine"
                [specialisation]="quiz.specialisation"
                [nbQuestions]="quiz.nbQuestions"
                [date]="quiz?.date"
                [niveau]="quiz?.niveau"
                [note]="quiz?.note"
              ></app-card-quiz>
            </ng-container>

            <ng-container *ngIf="pageName == 'liens-utiles'">
              <app-card-lien-utile
                class="col-md-4 col-lg-3 mb-3"
                *ngFor="
                  let lienUtile of filterService.getlist()
                    | paginate: { itemsPerPage: 6, currentPage: p }
                "
                [data]="lienUtile"
              ></app-card-lien-utile>
            </ng-container>
            <ng-container *ngIf="pageName == 'adresses-utiles'">
              <app-card-adresse-utile
                class="col-md-4 col-lg-3 mb-3"
                *ngFor="
                  let adresseUtile of filterService.getlist()
                    | paginate: { itemsPerPage: 6, currentPage: p }
                "
                [data]="adresseUtile"
              ></app-card-adresse-utile>
            </ng-container>
            <ng-container *ngIf="pageName == 'documents'">
              <div class="container">
                <div class="section-recruteur mb-3">
                  <h4>Documents a Telecharger</h4>
                </div>
                <div class="section-recruteur">
                  <div class="row">
                    <app-card-document
                      *ngFor="
                        let doc of filterService.getlist()
                          | paginate: { itemsPerPage: 6, currentPage: p }
                      "
                      class="col-md-4 col-lg-3 mb-2"
                      [routerLink]="['/info-pratique/document-details', doc.id]"
                      [dateEdition]="doc?.date_edition"
                      [titre]="(doc?.translations)['fr']?.titre"
                      [sousTitre]="(doc?.translations)['fr']?.sous_titre"
                      [image]="doc?.image"
                      [lienContenu]="doc?.lien_contenu"
                      [format]="doc?.format"
                      [taille]="doc?.taille"
                      [tags]="(doc?.translations)['fr']?.tags"
                      [file]="doc?.file"
                    ></app-card-document>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="pageName == 'guides-emploi'">
              <router-outlet></router-outlet>
            </ng-container>

            <ng-container *ngIf="pageName == 'evenement'">
              <app-card-article
                class="col-md-6 mb-3"
                *ngFor="
                  let event of filterService.getlist()
                    | paginate: { itemsPerPage: 6, currentPage: p }
                "
                [isArticle]="false"
                [link]="['/evenement/details-event', event?.id]"
                [image]="event?.image"
                [titre]="event?.titre"
                [dateDebut]="event?.dateDebut"
                [dateFin]="event?.dateFin"
                [heureDebut]="event?.heureDebut"
                [heureFin]="event?.heureFin"
                [typeEvent]="event?.TypeEvenement"
                [organisateur]="event?.organisateur"
              ></app-card-article>
            </ng-container>

            <ng-container *ngIf="pageName == 'temoignage'">
              <app-temoignage
                [pageName]="pageName"
                [data]="filterService.getlist()"
              ></app-temoignage>
            </ng-container>
            <ng-container *ngIf="pageName == 'sondage'">
              <app-sondage></app-sondage>
            </ng-container>
            <ng-container *ngIf="pageName == 'forums'">
              <app-card-forum
                *ngFor="
                  let item of filterService.getlist()
                    | paginate: { itemsPerPage: 6, currentPage: p }
                "
                class="col-md-4 mb-2"
                [routerLink]="[
                  '/espace-communautaire/details-forum',
                  item._id.$oid
                ]"
                [image]="item.image"
                [designation]="item.designation"
                [descriptif]="item.descriptif"
                [nbrTheme]="item.nbrTheme"
                [nbrParticipants]="item.nbrParticipants"
                [nbrEchanges]="item.nbrEchanges"
              ></app-card-forum>
            </ng-container>

            <ng-container *ngIf="pageName == 'bloggers'">
              <app-card-blogueur
                *ngFor="
                  let membre of filterService.getlist()
                    | paginate: { itemsPerPage: 6, currentPage: p }
                "
                [routerLink]="['/bloggers/details-blogeur/', membre.__id]"
                class="col-md-4 mb-3"
                [nom]="membre.nom"
                [prenom]="membre.prenom"
                [fonction]="membre.fonction"
                [resume]="membre.resume"
                [image]="membre.image"
              ></app-card-blogueur>
            </ng-container>

            <ng-container *ngIf="pageName == 'undfind'">
              <section class="section p-0 bg-img cover-background">
                <div class="container-fluid d-flex flex-column">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-9 col-lg-6 my-5">
                      <div class="text-center error-page">
                        <h1 class="mb-0 text-secondary">404</h1>
                        <h2 class="text-white">Sorry, something went wrong!</h2>
                        <p class="w-sm-80 mx-auto text-white">
                          This page is incidentally inaccessible because of
                          support. We will back very before long much obliged
                          for your understanding
                        </p>
                        <div>
                          <a
                            href="#"
                            class="btn btn-inf btn-info btn-lg me-sm-2 mb-2 mb-sm-0"
                          >
                            Return Home
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-container>
            <pagination-controls
              *ngIf="!['undfind', 'temoignage'].includes(pageName)"
              class="text-center"
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="showRightSideBar"
      class="section-recruteur spacing-inline-end mb-3"
    ></div>
  </div>
</div>
