<div class="container mt-5">
  <div class="d-flex flex-main">
    <div *ngIf="showLeftSideBar" class="section-recruteur spacing-inline-end mb-3">
      <app-filter [pageName]="pageName"></app-filter>
    </div>

    <div class="w-100">
      <div *ngIf="showHeader" class="section-recruteur mb-3 w-100">
        <h2 class="px-1" style="font-size: 25px">
          {{ pageName | titlecase }}
        </h2>
      </div>
      <div class="section-recruteur mb-3 w-100">
        <div class="flex-grow-1">
          <div *ngIf="showTopFilter" class="">
            <app-top-bar [pageName]="pageName">
            </app-top-bar>
          </div>
          <hr *ngIf="this.pageName != 'undfind'" />

          <div class="row">
            <ng-container *ngIf="this.pageName == 'recruteur'">
              <app-card-recruiter *ngFor="
                              let recruiter of genericervice
                                .get('recruteur')
                                .getAllRecruteursInfo()
                                | paginate: { itemsPerPage: 6, currentPage: p }
                " [routerLink]="['/recruiter/{{recruiter.id}}/details']" class="col-md-4 col-sm-6"
                [imageBg]="recruiter.imageBg" [logo]="recruiter.logo" [title]="recruiter.title" [type]="recruiter.type"
                [salaries]="recruiter.salaries" [caption]="recruiter.caption">
              </app-card-recruiter>
            </ng-container>
            <ng-container *ngIf="this.pageName == 'offre'">
              <div class="row" *ngIf="genericervice.orientation == 'verticale'">
                <app-card-offre-Verticale *ngFor="
                    let offre of genericervice.get('offre')?.getoffres()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  " [link]="['/offres/details-offres/',offre.id]" [Intitule]="offre.Intitule" [Secteur]="offre.Secteur"
                  [Poste]="offre.Poste" [TypePoste]="offre.TypePoste" [NomEntreprise]="offre.NomEntreprise"
                  [TypeEntreprise]="offre.TypeEntreprise" [TypeContrat]="offre.TypeContrat" [Ville]="offre.Ville"
                  [Date]="offre.Date" [image]="offre.Image" [dateDisponibilite]="offre.dateDisponibilite"
                  [image]="offre.Image">
                </app-card-offre-Verticale>
              </div>
              <div class="row" *ngIf="genericervice.orientation == 'horizontale'">
                <app-card-offre-horizontale class="col-md-6 mb-3" *ngFor="
                    let offre of genericervice.get('offre')?.getoffres()
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  " [link]="['/offres/details-offres/',offre.id]" [Intitule]="offre.Intitule" [Secteur]="offre.Secteur"
                  [Poste]="offre.Poste" [TypePoste]="offre.TypePoste" [NomEntreprise]="offre.NomEntreprise"
                  [TypeEntreprise]="offre.TypeEntreprise" [TypeContrat]="offre.TypeContrat" [Ville]="offre.Ville"
                  [Date]="offre.Date" [dateDisponibilite]="offre.dateDisponibilite" [image]="offre.Image">
                </app-card-offre-horizontale>
              </div>
            </ng-container>
            <ng-container *ngIf="this.pageName == 'condidat'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'quiz'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'metier'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'evenement'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'demande specifique'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'candidature spontanee'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'conseils pratique'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'temoignage'">

            </ng-container>

            <ng-container *ngIf="this.pageName == 'rubrique'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'sondage'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'liens utiles'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'forums'">

            </ng-container>
            <ng-container *ngIf="this.pageName == 'temoignage'">

            </ng-container>

          <ng-container *ngIf="this.pageName == 'adresses utiles'">

          </ng-container>
          <ng-container *ngIf="this.pageName == 'documents'">

          </ng-container>
          <ng-container  *ngIf="this.pageName == 'undfind'">

          <section class=" section p-0 bg-img cover-background"
          >
            <div class="container-fluid d-flex flex-column">
              <div class="row align-items-center justify-content-center ">
                <div class="col-md-9 col-lg-6 my-5">
                  <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">404</h1>
                    <h2 class=" text-white">Sorry, something went wrong!</h2>
                    <p class="w-sm-80 mx-auto  text-white">This page is incidentally inaccessible because of support. We will
                      back very before long much obliged for your understanding</p>
                    <div>
                      <a href="#" class="btn  btn-inf btn-info btn-lg me-sm-2 mb-2 mb-sm-0">Return Home</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          </ng-container>

            <pagination-controls *ngIf="this.pageName != 'undfind'" class="text-center" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showRightSideBar" class="section-recruteur spacing-inline-end mb-3"></div>
  </div>
</div>
