<div class="row mb-3" id="list-item-4">
  <div class="col-sm-12">
    <div class="card">

      <div class="card-body">
        <div class="herder-top-card">

          <h5 class="col"><i class="fa-solid fa-brain"></i> {{'candidat.t.hob'|translate}}</h5>
          <div (click)="showhobbie()" class=" icons "></div>

        </div>
        <div class="main-container">

          <div class="radio-buttons">
            <label class="custom-radio">
              <input type="radio" name="radio" checked />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid fa-person-biking"></i>
                  <h3>Biking</h3>


                </div>
              </span>
            </label>
            <label class="custom-radio">
              <input type="radio" name="radio" />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid  fa-futbol"></i>
                  <h3>Football</h3>
                </div>
              </span>
            </label>
            <label class="custom-radio">
              <input type="radio" name="radio" />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid  fa-table-tennis-paddle-ball"></i>
                  <h3>Table Tennis</h3>
                </div>
              </span>
            </label>
            <label class="custom-radio">
              <input type="radio" name="radio" />
              <span class="radio-btn"><i class="las la-check"></i>
                <div class="hobbies-icon">
                  <i class="fa-solid fa-gears"></i>
                  <h3>Coding</h3>
                </div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






















<p-dialog header="Header" [(visible)]="hobbie" [style]="{width: '50vw'}">
  <h1>hobbie</h1>
  <h1></h1>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="hobbie=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>



