.filter {
  font-size: 19px;
}
h4 {
  font-size: 20px;
}
.order {
  display: flex;
  justify-content: flex-end;
}
.filtreee {
  padding-top: 0px;
}
.listFilte1 {
  padding-left: 5px;
  list-style: none;
  margin-top: 20px;
  line-height: 40px;
}
.recherche {
  margin-bottom: 20px;
}

.accordion-button {
  align-items: baseline;
  padding-left: 10px;
}
.icone-filter {
  margin: 5px;
}

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

.spacing-inline-end {
  margin-inline-end: 1em;
}

@media (max-width: 991px) {
  .sidebar-offre {
    display: none;
  }
  .sidebar-offre.open {
    display: block;
    // position: absolute;
    // left: 20px;
    // background-color: #eee;
    z-index: 200;
    width: 100%;
  }
}
.sideBar-text {
  width: 0;
}

$primary: #0c63e4;
$secondary: #77c9ec;

$gray: #666666;

.form__group {
  position: relative;
  padding: 17px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

@media (max-width: 991px) {
  .flex-main {
    flex-wrap: wrap;
  }

  .sideBar-Main,
  .section-recruteur {
    width: 100%;
  }

  .spacing-inline-end {
    margin-inline-end: 0;
  }
}

.sideBarContainer {
  margin-bottom: 10px;
}
.checkbox label {
  white-space: normal;
}
