<div class="sideBar-Main">
  <div
    class="btn btn-outline-secondary"
    (click)="sidebarOffre2.classList.toggle('open')">
    <i class="fa fa-filter"></i>
  </div>

  <div
    class="sidebar-offre open"
    #sidebarOffre2
    (mouseenter)="sidebarOffre2.classList.remove('closed')"
    (mouseleave)="sidebarOffre2.classList.add('closed')"
  >
    <div class="sideBarContainer">
      <!--  début filter par l'emplacement -->
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <hr />
        <!-- #region Secteur d'activité ******************************** -->

        <div
          class="accordion-item"
          *ngIf="pageName != 'evenement' && pageName != 'sondages'"
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              <i class="fa-solid fa-network-wired icone-filter"></i>
              <h4>Secteur d'activité:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body emplacementFiltre filtreee">
              <div>
                <ul class="listFilte1">
                  <li>
                    <div>
                      <select
                        (change)="filter()"
                        name="secteur"
                        id="secteur-select"
                        class="form-select"
                        #secteur
                      >
                        <option value="" disabled selected>
                          Sélectionnez un secteur
                        </option>
                        <option value="">Tout</option>
                        <option value="Agriculture">
                          Agriculture
                        </option>
                        <option value="Électronique">
                          Électronique
                        </option>
                        <option value="Informatique">
                          Informatique
                        </option>
                        <option value="Santé">Santé</option>
                        <option value="Textile">Textile</option>
                      </select>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region Emplacement -->

        <div
          class="accordion-item"
          *ngIf="
            pageName == 'offres-emploi' ||
            pageName == 'offres-de-stage' ||
            pageName == 'offres-alternance' ||
            pageName == 'offres-extra' ||
            pageName == 'candidats' ||
            pageName == 'demandes-specifiques' ||
            pageName == 'condidatures-spontannes'||
            pageName == 'recruteurs' ||
            pageName == 'associations-insertion-economique' ||
            pageName == 'etablissements-formation' ||
            pageName == 'cabinets-recrutement'
          "
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              <i class="fa-solid fa-location-dot icone-filter"></i>
              <h4>Emplacements:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body emplacementFiltre filtreee">
              <div>
                <ul class="listFilte1">
                  <!-- #region Pays -->
                  <li>
                    <label class="filter">Pays</label>
                    <div>
                      <select
                        (change)="filter()"
                        name="secteur"
                        id="secteur-select"
                        class="form-select"
                        #pays
                      >
                        <option value="" disabled selected>
                          choisissez le pays
                        </option>
                        <option value="">Tout</option>
                        <option value="Maroc">Maroc</option>
                        <option value="Algérie">Algérie</option>
                        <option value="Tunisie">Tunisie</option>
                        <option value="spider">Santé</option>
                        <option value="goldfish">
                          Textile
                        </option>
                      </select>
                    </div>
                  </li>

                  <!-- #endregion -->

                  <!-- #region Region -->

                  <li>
                    <label class="filter">Région</label>
                    <div>
                      <select
                        (change)="filter()"
                        name="secteur"
                        id="secteur-select"
                        class="form-select"
                        #region
                      >
                        <option value="" disabled selected>
                          choisissez la région
                        </option>
                        <option value="">Tout</option>
                        <option value="Grand Casablanca">
                          Grand Casablanca
                        </option>
                        <option value="Tanger-Tetouan">
                          Tanger-Tetouan
                        </option>
                        <option value="parrot">
                          Informatique
                        </option>
                        <option value="spider">Santé</option>
                        <option value="goldfish">
                          Textile
                        </option>
                      </select>
                    </div>
                  </li>

                  <!-- #endregion -->

                  <!-- #region Ville -->

                  <li>
                    <label class="filter">Ville</label>
                    <div>
                      <select
                        (change)="filter()"
                        name="secteur"
                        id="secteur-select"
                        class="form-select"
                        #ville
                      >
                        <option value="" disabled selected>
                          choisissez la ville
                        </option>
                        <option value="">Tout</option>
                        <option value="Tanger">Tanger</option>
                        <option value="Tétouan">Tétouan</option>
                        <option value="Rabat">Rabat</option>
                        <option value="Casablanca">
                          Casablanca
                        </option>
                        <option value="Nador">Nador</option>
                      </select>
                    </div>
                  </li>
                  <!-- #endregion -->
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- #endregion -->

        <!-- #region Date -->

        <div
          class="accordion-item"

          *ngIf="
           pageName == 'offres-emploi' ||
           pageName == 'offres-de-stage' ||
           pageName == 'offres-alternance' ||
           pageName == 'offres-extra' ||
           pageName == 'demandes-specifiques'
           "

        >
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
            >
              <i class="fa-solid fa-calendar icone-filter"></i>
              <h4>Par date:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
            <div class="accordion-body filtreee">
              <label class="filter filtreee my-2">
                Date de publication:
              </label>
              <div
                class="input-group date form_date"
                data-date="2014-06-14T05:25:07Z"
                data-date-format="dd-mm-yyyy"
                data-link-field="dtp_input2"
              >
                <input
                  (change)="filter()"
                  #date
                  class="input-group date form_date form-control"
                  type="date"
                  id="start"
                  name="trip-start"
                />
              </div>
              <input type="hidden" id="dtp_input1" value="" />
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region Type Contrat -->
        <div
          class="accordion-item"

          *ngIf="
           pageName == 'offres-emploi' ||
           pageName == 'offres-de-stage' ||
           pageName == 'offres-alternance' ||
           pageName == 'offres-extra' ||
           pageName == 'demandes-specifiques'"

        >
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFour"
            >
              <i class="fa-solid fa-file-signature icone-filter"></i>
              <h4>Type de contrat:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      name=" contrat"
                      class="icheck"
                      value="A discuter"
                      #contrat
                    />
                    A discuter
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      name=" contrat"
                      class="icheck"
                      value="Anapec"
                      #contrat
                    />
                    Anapec
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      name=" contrat"
                      class="icheck"
                      value="CDD"
                      #contrat
                    />
                    CDD
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      class="icheck"
                      name="contrat"
                      value="CDI"
                      #contrat
                    />
                    CDI
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      class="icheck"
                      name="contrat"
                      value="Freelance"
                      #contrat
                    />
                    Freelance
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      class="icheck"
                      name="contrat"
                      value="Intérim"
                      #contrat
                    />
                    Intérim
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      type="checkbox"
                      class="icheck"
                      name="contrat"
                      value="Stage"
                      #contrat
                    />
                    Stage
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region  Niveau d'etude -->
        <div
          class="accordion-item"
          *ngIf="

           pageName == 'offres-emploi' ||
           pageName == 'offres-de-stage' ||
           pageName == 'offres-alternance' ||
           pageName == 'offres-extra' ||
           pageName == 'demandes-specifiques' ||
           pageName == 'candidats'

          "
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFive"
            >
              <i class="fa-solid fa-graduation-cap icone-filter"></i>
              <h4>Niveau d'étude:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="qualification avant bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    Qualification avant bac
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    Bac
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="qualification avant bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    CDD
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="qualification avant bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    CDI
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="qualification avant bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    Freelance
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="qualification avant bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    Intérim
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="qualification avant bac"
                      #niveauxEt
                      type="checkbox"
                      class="icheck"
                    />
                    Stage
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region Niveau d'experience -->

        <div
          class="accordion-item"
          *ngIf="
           pageName == 'offres-emploi' ||
           pageName == 'offres-de-stage' ||
           pageName == 'offres-alternance' ||
           pageName == 'offres-extra' ||
           pageName == 'candidats' ||
           pageName == 'demandes-specifiques'

          "
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSix"
            >
              <i class="fa-solid fa-briefcase icone-filter"></i>
              <h4>Niveau d'expérience:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="moins d'un ans"
                      #niveauxEx
                      type="checkbox"
                      class="icheck"
                    />
                    Moins d'un ans
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="entre 1 et 2"
                      #niveauxEx
                      type="checkbox"
                      class="icheck"
                    />
                    entre 1 et 2
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="entre 2 et 3"
                      #niveauxEx
                      type="checkbox"
                      class="icheck"
                    />
                    entre 2 et 3
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="entre 3 et 4"
                      #niveauxEx
                      type="checkbox"
                      class="icheck"
                    />
                    entre 3 et 4
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="entre 5 et 6"
                      #niveauxEx
                      type="checkbox"
                      class="icheck"
                    />
                    entre 5 et 6
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="plus de5"
                      #niveauxEx
                      type="checkbox"
                      class="icheck"
                    />
                    plus de5
                  </label>
                </div>
                <!-- <div class="checkbox">
                      <label>
                        <input  (change)="filter()"
                        value="entre 1 et 2"
                        #niveauxEx
                        type="checkbox"
                        class="icheck" />
                        Stage
                      </label>
                    </div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- #endregion -->

        <!-- #region Langues -->

        <div
          class="accordion-item"
          *ngIf="
           pageName == 'offres-emploi' ||
           pageName == 'offres-de-stage' ||
           pageName == 'offres-alternance' ||
           pageName == 'offres-extra' ||
           pageName == 'demandes-specifiques' ||
           pageName == 'candidats' "
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSeven"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSeven"
            >
              <i class="fa-solid fa-language icone-filter"></i>
              <h4>Langues:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSeven"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Anglais"
                      #langue
                      type="checkbox"
                      class="icheck"
                    />
                    Anglais
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Arabe"
                      #langue
                      type="checkbox"
                      class="icheck"
                    />
                    Arabe
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Français"
                      #langue
                      type="checkbox"
                      class="icheck"
                    />
                    Français
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Espagnol"
                      #langue
                      type="checkbox"
                      class="icheck"
                    />
                    Espagnol
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Riffienne"
                      #langue
                      type="checkbox"
                      class="icheck"
                    />
                    Riffienne
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Allemande"
                      #langue
                      type="checkbox"
                      class="icheck"
                    />
                    Allemande
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- #endregion -->

        <!-- #region Metier -->
        <div
          class="accordion-item"
          *ngIf="
           pageName == 'decouverte-des-metiers' ||
           pageName == 'metiers-pour-vous' ||
           pageName == 'quiz'

          "
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseMetier"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseMetier"
            >
              <i class="fa-solid fa-graduation-cap icone-filter"></i>
              <h4>Metiers:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseMetier"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Developpeur"
                      #metier
                      type="checkbox"
                      class="icheck"
                    />
                    Developpeur
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="DevOps"
                      #metier
                      type="checkbox"
                      class="icheck"
                    />
                    DevOps
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Developpeur Front-End"
                      #metier
                      type="checkbox"
                      class="icheck"
                    />
                    Developpeur Front-End
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Developpeur Back-End"
                      #metier
                      type="checkbox"
                      class="icheck"
                    />
                    Developpeur Back-End
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region Type Societe -->
        <div
          class="accordion-item"
          *ngIf="
           pageName == 'condidatures-spontannes' ||
           pageName == 'recruteurs' ||
           pageName == 'associations-insertion-economique' ||
           pageName == 'etablissements-formation' ||
           pageName == 'cabinets-recrutement' "
        >
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTypeSociete"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTypeSociete"
            >
              <i class="fa-solid fa-graduation-cap icone-filter"></i>
              <h4>Type Societe:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTypeSociete"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Start Up"
                      #typeSociete
                      type="checkbox"
                      class="icheck"
                    />
                    Start Up
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Multinational"
                      #typeSociete
                      type="checkbox"
                      class="icheck"
                    />
                    Multinational
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Grande Societe"
                      #typeSociete
                      type="checkbox"
                      class="icheck"
                    />
                    Grande Societe
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Societe"
                      #typeSociete
                      type="checkbox"
                      class="icheck"
                    />
                    Societe
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region TypeEvent -->
        <div class="accordion-item" *ngIf="pageName == 'evenement'">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTypeEvent"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTypeEvent"
            >
              <i class="fa-solid fa-graduation-cap icone-filter"></i>
              <h4>Type Event:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTypeEvent"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
          >
            <div class="accordion-body filtreee">
              <div style="margin-top: 20px; font-size: 20px;">
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Presentiel"
                      #typeEvent
                      type="checkbox"
                      class="icheck"
                    />
                    Presentiel
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="En Ligne"
                      #typeEvent
                      type="checkbox"
                      class="icheck"
                    />
                    En Ligne
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input
                      (change)="filter()"
                      value="Presentiel avec couverture el ligne"
                      #typeEvent
                      type="checkbox"
                      class="icheck"
                    />
                    Presentiel avec couverture el ligne
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- #endregion -->

        <!-- #region Date Debut -->
        <div class="accordion-item" *ngIf="pageName == 'evenement'">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseDateDebut"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseDateDebut"
            >
              <i class="fa-solid fa-calendar icone-filter"></i>
              <h4>Par date Debut:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseDateDebut"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
            <div class="accordion-body filtreee">
              <label class="filter filtreee my-2">
                Date de Debut:
              </label>
              <div
                class="input-group date form_date"
                data-date="2014-06-14T05:25:07Z"
                data-date-format="dd-mm-yyyy"
                data-link-field="dtp_input2"
              >
                <input
                  (change)="filter()"
                  #dateDebutEvent
                  class="input-group date form_date form-control"
                  type="date"
                  id="start"
                  name="dateDebut"
                />
              </div>
              <input type="hidden" id="dateDebut" value="" />
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region DateFin -->
        <div class="accordion-item" *ngIf="pageName == 'evenement'">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseDateFin"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseDateFin"
            >
              <i class="fa-solid fa-calendar icone-filter"></i>
              <h4>Par date Fin:</h4>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseDateFin"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
            <div class="accordion-body filtreee">
              <label class="filter filtreee my-2">
                Date de fin:
              </label>
              <div class="input-group date form_date">
                <input
                  (change)="filter()"
                  #dateFinEvent
                  class="input-group date form_date form-control"
                  type="date"
                  id="start"
                  name="dateFin"
                />
              </div>
              <input type="hidden" id="dateFin" value="" />
            </div>
          </div>
        </div>

        <!-- #endregion -->

      </div>
    </div>
  </div>
</div>


<!--
          pageName == 'offres-emploi' ||
           pageName == 'offres-de-stage' ||
           pageName == 'offres-alternance' ||
           pageName == 'offres-extra' ||
           pageName == 'demandes-specifiques' ||
      ///////////////////////////////////////////
           pageName == 'candidats' ||
           ///////////////////////////////////////////
           pageName == 'condidatures-spontannes' ||
           pageName == 'recruteurs' ||
           pageName == 'associations-insertion-economique' ||
           pageName == 'etablissements-formation' ||
           pageName == 'cabinets-recrutement' ||
      ///////////////////////////////////////////
           pageName == 'decouverte-des-metiers' ||
           pageName == 'metiers-pour-vous' ||
           pageName == 'quiz' ||
      ///////////////////////////////////////////
          pageName == 'evenement'






           pageName == 'soft-skills' ||
           pageName == 'hard-skills' ||
           pageName == 'conseils-pratique' ||
           pageName == 'legislations-et-textes-lois' ||
           pageName == 'liens-utiles' ||
           pageName == 'adresses-utiles' ||
           pageName == 'documents' ||
           pageName == 'actualites-emploi' ||
           pageName == 'temoignage' ||
           pageName == 'sondage' ||
           pageName == 'forums' ||
           pageName == 'bloggers'






<!--
   // 'offres-emploi';
// 'offres-de-stage';
// 'offres-alternance';
// 'offres-extra';
////////////////////
// 'candidats';
// 'demandes-specifiques';
// 'condidatures-spontannes';
// ////////////////////
// 'recruteurs';
// 'etablissements-formation';
// 'cabinets-recrutement';
// 'associations-insertion-economique';
// ////////////////////
// 'decouverte-des-metiers';
// 'soft-skills';
// 'hard-skills';
// 'metiers-pour-vous';
// 'quiz';
// ////////////////////
// 'conseils-pratique';
// 'adresses-utiles';
// 'liens-utiles';
// 'documents';
// 'guides-emploi';
// 'legislations-et-textes-lois';

// ////////////////////
// 'evenement';
// 'actualites-emploi';
// // ///////////////
// 'forums';
// 'sondage';
// 'temoignage';
// 'bloggers';
// ////////////////////
// 'undfind';
-->
