<main>
  <div class="container marketing">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">
          Trouver votre emploi
        </h1>
        <p class="lead my-3">
          Multiple lines of text that form the lede, informing new readers
          quickly and efficiently about what’s most interesting in this post’s
          contents.
        </p>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold"></a>
        </p>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <!-- Three columns of text below the carousel -->
    <!--peut etre candidat-->
    <div class="row">
      <!-- <div class="col-lg-4">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2 class="fw-normal">Heading</h2>
        <p>
          Some representative placeholder content for the three columns of text
          below the carousel. This is the first column.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div> -->
      <!-- /.col-lg-4 -->
      <!-- <div class="col-lg-4">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2 class="fw-normal">Heading</h2>
        <p>
          Another exciting bit of representative placeholder content. This time,
          we've moved on to the second column.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div> -->
      <!-- /.col-lg-4 -->
      <!-- <div class="col-lg-4">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2 class="fw-normal">Heading</h2>
        <p>
          And lastly this, the third column of representative placeholder
          content.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div> -->
      <!-- /.col-lg-4 -->
      <!--fin candidat-->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div>
        <ul class="nav" style="list-style: none;">
          <li>
            <h4><a [routerLink]="'/offres'">Offres ></a></h4>
          </li>
          <li><a href="/home">Home</a></li>
          <li><a href="/home">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <!-- #region card_acceuil-->
      <div class="container">
        <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
          <!-- product -->
          <div class="product-content product-wrap clearfix">
            <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                  <img
                    src="https://via.placeholder.com/194x228/87CEFA"
                    alt="194x228"
                    class="img-responsive"
                  />
                  <span class="tag2 hot">
                    HOT
                  </span>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-deatil">
                  <h5 class="name">
                    <a href="#">
                      Product Name Title Here
                      <span>Category</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>$99</span>
                  </p>
                  <span class="tag1"></span>
                </div>
                <div class="description">
                  <p>Proin in ullamcorper lorem. Maecenas eu ipsum</p>
                </div>
                <div class="product-info smart-form">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a href="javascript:void(0);" class="btn btn-success">
                        Add to cart
                      </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="rating">
                        <label for="stars-rating-5">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-4">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-3">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-2">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-1">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end product -->
        </div>
        <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
          <!-- product -->
          <div class="product-content product-wrap clearfix">
            <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                  <img
                    src="https://via.placeholder.com/194x228/B0C4DE"
                    alt="194x228"
                    class="img-responsive"
                  />
                  <span class="tag2 hot">
                    HOT
                  </span>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-deatil">
                  <h5 class="name">
                    <a href="#">
                      Product Name Title Here
                      <span>Category</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>$99</span>
                  </p>
                  <span class="tag1"></span>
                </div>
                <div class="description">
                  <p>Proin in ullamcorper lorem. Maecenas eu ipsum</p>
                </div>
                <div class="product-info smart-form">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a href="javascript:void(0);" class="btn btn-success">
                        Add to cart
                      </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="rating">
                        <label for="stars-rating-5">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-4">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-3">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-2">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-1">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end product -->
        </div>
        <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
          <!-- product -->
          <div class="product-content product-wrap clearfix">
            <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                  <img
                    src="https://via.placeholder.com/194x228/D3D3D3"
                    alt="194x228"
                    class="img-responsive"
                  />
                  <span class="tag2 hot">
                    HOT
                  </span>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-deatil">
                  <h5 class="name">
                    <a href="#">
                      Product Name Title Here
                      <span>Category</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>$99</span>
                  </p>
                  <span class="tag1"></span>
                </div>
                <div class="description">
                  <p>Proin in ullamcorper lorem. Maecenas eu ipsum</p>
                </div>
                <div class="product-info smart-form">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a href="javascript:void(0);" class="btn btn-success">
                        Add to cart
                      </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="rating">
                        <label for="stars-rating-5">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-4">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-3">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-2">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-1">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end product -->
        </div>
        <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
          <!-- product -->
          <div class="product-content product-wrap clearfix">
            <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                  <img
                    src="https://via.placeholder.com/194x228/48D1CC"
                    alt="194x228"
                    class="img-responsive"
                  />
                  <span class="tag2 hot">
                    HOT
                  </span>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-deatil">
                  <h5 class="name">
                    <a href="#">
                      Product Name Title Here
                      <span>Category</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>$99</span>
                  </p>
                  <span class="tag1"></span>
                </div>
                <div class="description">
                  <p>Proin in ullamcorper lorem. Maecenas eu ipsum</p>
                </div>
                <div class="product-info smart-form">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a href="javascript:void(0);" class="btn btn-success">
                        Add to cart
                      </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="rating">
                        <label for="stars-rating-5">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-4">
                          <i class="fa fa-star"></i>
                        </label>
                        <label for="stars-rating-3">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-2">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                        <label for="stars-rating-1">
                          <i class="fa fa-star text-primary"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end product -->
        </div>
      </div>
      <!-- #endregion -->
      <!-- <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          First featurette heading.
          <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Some great placeholder content for the first featurette here. Imagine
          some exciting prose here.
        </p>
      </div> -->
      <div class="col-md-5">
        <!-- <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg> -->
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Oh yeah, it’s that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Another featurette? Of course. More placeholder content here to give
          you an idea of how this layout would work with some actual real-world
          content in place.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          And lastly, this one.
          <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">
          And yes, this is the last block of representative placeholder content.
          Again, not really intended to be actually read, simply here to give
          you a better view of what this would look like with some actual
          content. Your content.
        </p>
      </div>
      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
</main>
