<form [formGroup]="about_form" (ngSubmit)="save_about_from()">

<div class="m-3">
    <label for="about_form_input" >{{ 'form.about' | translate }}</label>
  <textarea
  class="form-control "
  placeholder="Leave a comment here"
  style="height: 100px"
  id="about_form_input"
  placeholder="{{ 'form.exp_nom' | translate }}"
  [ngClass]="{'is-invalid':about_form.get('about_form_input')?.touched && about_form.get('about_form_input')?.invalid}"
  formControlName="about_form_input"
  name="about_form_input"
  [(ngModel)]="about_form_input_value"
   >

  <div *ngIf="
                about_form.get('about_form_input')?.touched &&
                about_form.get('about_form_input')?.invalid
              " class="invalid-feedback mb-2">
    <div *ngIf="about_form.get('about_form_input')?.errors?.['required']">
      {{ 'form.champ_oblig' | translate }}
    </div>
    <div *ngIf="about_form.get('about_form_input')?.errors?.['minlength']">
      {{ 'form.champ_3' | translate }}
    </div>
    <div *ngIf="about_form.get('about_form_input')?.errors?.['maxlength']">
      {{ 'form.champ_30' | translate }}
    </div>
  </div>

  </textarea>

</div>
















  <div class="modal-footer">
    <div class="row">
      <button type="submit" class="btn btn-info">
        save
      </button>
    </div>

  </div>
</form>
